<!-- INCLUDE overall_header.html -->

<!-- IF TOPIC_TITLE or FORUM_NAME -->
	<div style="margin: 16px 0 4px">
		<h2><!-- IF TOPIC_TITLE --><a class="header" href="{U_VIEW_TOPIC}">{TOPIC_TITLE}</a><!-- ELSE --><a class="header" href="{U_VIEW_FORUM}">{FORUM_NAME}</a><!-- ENDIF --></h2>
	</div>
<!-- ENDIF -->

<!-- IF FORUM_NAME and S_DISPLAY_JUMPBOX -->
	<table cellspacing="0" width="100%"><tr valign="top"><td><!-- INCLUDE jumpbox.html --></td></tr></table>
<!-- ENDIF -->

<table width="100%" cellspacing="0">
<tr>
	<td width="20%" valign="top" style="padding: 0">

		<table class="main" width="100%" cellspacing="1">
		<tr>
			<th>{L_OPTIONS}</th>
		</tr>
		<!-- BEGIN l_block1 -->
			<tr>
			<!-- IF l_block1.S_SELECTED -->
				<td class="bg1"><b>{l_block1.L_TITLE}</b>

				<div class="navigation">
				<!-- BEGIN l_block2 -->
					<div>&#187; <!-- IF l_block1.l_block2.S_SELECTED --><b>{l_block1.l_block2.L_TITLE}</b><!-- ELSE --><a href="{l_block1.l_block2.U_TITLE}">{l_block1.l_block2.L_TITLE}</a><!-- ENDIF --></div>
				<!-- END l_block2 -->
				</div>
			<!-- ELSE -->
				<td class="bg2"><b><a href="{l_block1.U_TITLE}">{l_block1.L_TITLE}</a></b>
			<!-- ENDIF -->
				</td>
			</tr>
		<!-- END l_block1 -->
		</table>
	</td>
	<td class="bigger" style="padding: 6px"></td><td width="80%" valign="top" style="padding: 0">

	<!-- IF MESSAGE -->
		<table class="main" width="100%" cellspacing="1">
		<tr>
			<th>{L_MESSAGE}</th>
		</tr>
		<tr>
			<td class="bg1" align="center"><br /><span class="big">{MESSAGE}<br /><br /><!-- BEGIN return_links -->{return_links.MESSAGE_LINK}<br /><br /><!-- END return_links --></span></td>
		</tr>
		</table>

		<br />
	<!-- ENDIF -->