<!-- INCLUDE mcp_header.html -->

<form method="post" id="mcp" name="mcp" action="{U_POST_ACTION}">

<table width="100%" cellspacing="1" class="main">
<tr>
	<th colspan="2">{L_TITLE}</th>
</tr>
<tr>
	<td class="bg1" align="center">
		<table cellspacing="1">
		<tr>
			<td class="big" align="center"><b>{USERNAME_FULL}</b></td>
		</tr>
		<tr>
			<td align="center"><!-- IF AVATAR_IMG -->{AVATAR_IMG}<!-- ELSE --><img src="{T_THEME_PATH}/images/no_avatar.gif" width="100" height="100" alt="" /><!-- ENDIF --></td>
		</tr>
		</table>
	</td>
	<td class="bg1">
		<table width="100%" cellspacing="1">
		<tr class="big">
			<td align="{S_CONTENT_FLOW_END}" width="35%">{L_JOINED}{L_COLON}</td>
			<td width="65%"><b>{JOINED}</b></td>
		</tr>
		<tr class="big">
			<td align="{S_CONTENT_FLOW_END}">{L_TOTAL_POSTS}{L_COLON}</td>
			<td><b>{POSTS}</b></td>
		</tr>
		<tr class="big">
			<td align="{S_CONTENT_FLOW_END}">{L_WARNINGS}{L_COLON}</td>
			<td><b>{WARNINGS}</b></td>
		</tr>
		</table>
	</td>
</tr>
</table>

<br clear="all" />

<table width="100%" cellspacing="1" class="main">
<tr>
	<th>{L_ADD_FEEDBACK}</th>
</tr>
<tr>
	<td class="bg3" align="center"><span class="bigger">{L_ADD_FEEDBACK_EXPLAIN}</span></td>
</tr>
<tr>
	<td class="bg1" align="center"><textarea name="usernote" rows="3" cols="76"></textarea></td>
</tr>
<tr>
	<td class="cat" align="center"><input class="button2" type="reset" value="{L_RESET}" />&nbsp; <input class="button1" type="submit" name="action[add_feedback]" value="{L_SUBMIT}" /></td>
</tr>
</table>

<br clear="all" />

<table width="100%" cellspacing="1"><tr>
	<td nowrap="nowrap"><span class="bigger">{L_SEARCH_KEYWORDS}{L_COLON}</span> <input type="text" class="inputbox" name="keywords" value="{S_KEYWORDS}" /> <input type="submit" class="button2" name="filter" value="{L_SEARCH}" /></td>
	<td align="{S_CONTENT_FLOW_END}" width="100%"><span class="nowrap">[ {TOTAL_REPORTS} ]</span> <!-- INCLUDE pagination.html --></td>
</tr></table>

<table width="100%" cellspacing="1" class="main">
<tr>
	<th<!-- IF S_USER_NOTES --> colspan="<!-- IF S_CLEAR_ALLOWED -->5<!-- ELSE -->4<!-- ENDIF -->"<!-- ENDIF -->>{L_FEEDBACK}</th>
</tr>
<!-- IF S_USER_NOTES -->
	<tr>
		<td class="bg3" colspan="<!-- IF S_CLEAR_ALLOWED -->5<!-- ELSE -->4<!-- ENDIF -->"><!-- INCLUDE display_options.html --></td>
	</tr>
	<tr>
		<th align="{S_CONTENT_FLOW_BEGIN}" width="15%">{L_REPORT_BY}</th>
		<th width="10%">{L_IP}</th>
		<th width="15%">{L_TIME}</th>
		<th>{L_ACTION}</th>
		<!-- IF S_CLEAR_ALLOWED --><th width="5%">{L_MARK}</th><!-- ENDIF -->
	</tr>

	<!-- BEGIN usernotes -->
		<tr><!-- IF usernotes.S_ROW_COUNT is even --><!-- DEFINE $BG = 'bg1' --><!-- ELSE --><!-- DEFINE $BG = 'bg2' --><!-- ENDIF -->
			<td class="{$BG}"><span class="big">{usernotes.REPORT_BY}</span></td>
			<td align="center" class="{$BG}"><span class="bigger">{usernotes.IP}</span></td>
			<td align="center" class="{$BG}"><span class="bigger">{usernotes.REPORT_AT}</span></td>
			<td class="{$BG}">
				<span class="bigger">
				{usernotes.ACTION}
				<!-- IF usernotes.DATA --><br />&#187; ({usernotes.DATA})<!-- ENDIF -->
				</span>
			</td>
			<!-- IF S_CLEAR_ALLOWED --><td align="center" class="{$BG}"><input type="checkbox" name="marknote[]" value="{usernotes.ID}" /></td><!-- ENDIF -->
		</tr>
	<!-- END usernotes -->

	<!-- IF S_CLEAR_ALLOWED -->
		<tr>
			<td align="{S_CONTENT_FLOW_END}" class="cat" colspan="5"><input class="button2" type="submit" name="action[del_all]" value="{L_DELETE_ALL}" />&nbsp; <input class="button2" type="submit" name="action[del_marked]" value="{L_DELETE_MARKED}" /></td>
		</tr>
	<!-- ENDIF -->

<!-- ELSE -->
	<tr>
		<td class="bg1" align="center"><span class="big">{L_NO_FEEDBACK}</span></td>
	</tr>
<!-- ENDIF -->
</table>

<table width="100%" cellspacing="1"><tr>
	<td nowrap="nowrap"><b>{PAGE_NUMBER}</b> [ {TOTAL_REPORTS} ]</td>
	<!-- IF S_CLEAR_ALLOWED and S_USER_NOTES --><td align="{S_CONTENT_FLOW_END}" nowrap="nowrap"><b><a href="#" onclick="marklist('mcp', '', true); return false;">{L_MARK_ALL}</a> :: <a href="#" onclick="marklist('mcp', '', false); return false;">{L_UNMARK_ALL}</a></b></td><!-- IF .pagination --></tr><tr><!-- ENDIF --><!-- ENDIF -->
	<!-- IF .pagination --><td align="{S_CONTENT_FLOW_END}"<!-- IF S_CLEAR_ALLOWED and S_USER_NOTES --> colspan="2"<!-- ENDIF -->><!-- INCLUDE pagination.html --></td><!-- ENDIF -->
</tr></table>

{S_FORM_TOKEN}
</form>

<!-- INCLUDE mcp_footer.html -->