#info_note
{
	position:absolute;
	display:none;
	z-index:100;
	max-width:300px;
	padding:0 2px 5px 5px;
}

#info_note *
{
	font-size:9.5px;
	font-family:Verdana, Helvetica, Arial, sans-serif;
	text-align:left;
}

#info_note table
{
	border:1px solid #000000;
	background-color:#014a08;
	padding:2px 2px;
}

#info_note .min-width
{
	width:60px;
	height:1px;
	overflow:hidden;
	margin-top:-1px;
}

#note-close
{
	cursor:pointer;
	display:block;
	width:20px;
	height:20px;
	background: url("../imageset/en/icon_post_delete.gif") no-repeat top right;
	background-position:0 0px;
	position:absolute;
	top:-5px;
	left:0px;
}

#note-close:hover
{
	background-position:0 0px;
}

#note-lock
{
	display:none;
	position:absolute;
	white-space:nowrap;
	top:-20px;
	color:infotext;
	background-color:infobackground;
	border:1px solid infotext;
	padding:2px 2px;
}

.prime_bbcode_note
{
	display:none;
}

.prime_bbcode_note_text
{
	cursor:pointer;
	text-decoration:underline;
}

.prime_bbcode_note_spur
{
	cursor:pointer;
	padding-right:20px; /* width of the icon, plus padding */
	width:20px; /* same as padding-right, for IE */
	background: url("../imageset/en/icon_post_report.gif") no-repeat center right;
}
