<!-- INCLUDE overall_header.html -->

<form name="confirm" action="{S_CONFIRM_ACTION}" method="post">

<table class="main" width="100%" cellspacing="1">
<tr>
	<th>{MESSAGE_TITLE}</th>
</tr>
<tr>
	<td class="bg1" align="center"><br /><div class="big">{MESSAGE_TEXT}</div><br />{S_HIDDEN_FIELDS}<input type="submit" name="confirm" value="{YES_VALUE}" class="button2" /> &nbsp;<input type="submit" name="cancel" value="{L_NO}" class="button2" /></td>
</tr>
</table>

</form>

<!-- INCLUDE overall_footer.html -->