<!-- IF PRIME_CAPTCHA_MODE eq prime_captcha_post -->
	<tr>
		<th colspan="2" valign="middle">{PRIME_CAPTCHA_TITLE}</th>
	</tr>
	<tr>
		<td class="row3" colspan="2"><span class="gensmall">{PRIME_CAPTCHA_DESCRIPTION}</span></td>
	</tr>
	<tr>
		<td class="row1"><b class="genmed">{PRIME_CAPTCHA_INSTRUCTIONS}:</b></td>
		<td class="row2">{PRIME_CAPTCHA_KEY_PHRASE}<br /><input class="post" name="{PRIME_CAPTCHA_FIELD_KEY_RESPONSE}" size="30" value="" type="text" />{PRIME_CAPTCHA_HIDDEN_FIELDS}</td>
	</tr>
<!-- ELSEIF PRIME_CAPTCHA_MODE eq prime_captcha_reg -->
	<tr>
		<th colspan="2" valign="middle">{PRIME_CAPTCHA_TITLE}</th>
	</tr>
	<tr>
		<td class="row3" colspan="2"><span class="gensmall">{PRIME_CAPTCHA_DESCRIPTION}</span></td>
	</tr>
	<tr>
		<td class="row1"><b class="genmed">{PRIME_CAPTCHA_INSTRUCTIONS}:</b></td>
		<td class="row2">{PRIME_CAPTCHA_KEY_PHRASE}<br /><input class="post" name="{PRIME_CAPTCHA_FIELD_KEY_RESPONSE}" size="30" value="" type="text" />{PRIME_CAPTCHA_HIDDEN_FIELDS}</td>
	</tr>
<!-- ENDIF -->