	<!-- IF S_TYPE == 1 -->
		<tr>
			<th colspan="2">{L_CONFIRMATION}</th>
		</tr>
		<tr>
			<td class="bg1" colspan="2"><span class="bigger">{L_CONFIRM_EXPLAIN}</span></td>
		</tr>
	<!-- ENDIF -->
	<!-- IF S_RECAPTCHA_AVAILABLE -->
		<tr>
			<td class="bg1" valign="top"><span class="bigger"><b>{L_CONFIRM_CODE}{L_COLON}</b><br />{L_RECAPTCHA_EXPLAIN}</span></td>
			<td class="bg1">
				<p class="error"><noscript>{L_RECAPTCHA_NOSCRIPT}</noscript></p>
				<script src="{RECAPTCHA_SERVER}.js?hl={LA_RECAPTCHA_LANG}" async defer></script>
				<div class="g-recaptcha" data-sitekey="{RECAPTCHA_PUBKEY}" data-tabindex="<!-- IF $CAPTCHA_TAB_INDEX -->{$CAPTCHA_TAB_INDEX}<!-- ELSE -->10<!-- ENDIF -->"></div>
			</td>
		</tr>
	<!-- ELSE -->
		<tr><td class="bg1" colspan="2"><p class="error">{L_RECAPTCHA_NOT_AVAILABLE}</p></td></tr>
	<!-- ENDIF -->
