<tr class="bigger"><td align="center" colspan="2" class="bg1" style="padding: 0 4px">
<!-- IF S_RECAPTCHA_AVAILABLE -->
	<noscript>{L_RECAPTCHA_NOSCRIPT}</noscript>
	<script src="{{ U_RECAPTCHA_SCRIPT }}" async defer></script>
	<input class="g-recaptcha" type="hidden" name="recaptcha_action" value="{{ RECAPTCHA_ACTION }}" data-recaptcha-v3="{{ RECAPTCHA_KEY }}">
	<input type="hidden" name="recaptcha_token" value="">
<script type="text/javascript"><!--
var grc = {};

function recaptchaGetForm() {
	var set = document.getElementsByClassName('g-recaptcha');
	var el = set[set.length-1];

	while (el && el.parentNode) {
		el = el.parentNode;
		if (el.tagName && el.tagName.toLowerCase() == 'form') {
			return el;
		}
	}
	return null;
}

var submitButton = null;
var programaticallySubmitted = false;
var recaptchaForm = recaptchaGetForm();

grc.recaptchaOnSubmit = function() {
	programaticallySubmitted = true;
	if (submitButton) {
		submitButton.click();
	} else {
		if (typeof recaptchaForm.submit !== 'function') {
			recaptchaForm.submit.name = 'submit_btn';
		}
		recaptchaForm.submit();
	}
}

grc.recaptchaOnLoad = function() {
	var input = recaptchaForm.querySelectorAll('input[type="submit"]');
	for (var i = 0; i < input.length; i++) {input[i].addEventListener('click', function() { submitButton = this;}, false);}
	recaptchaForm.addEventListener('submit', function(e) {
		if (!programaticallySubmitted) {
			grecaptcha.execute(
				document.querySelector('[data-recaptcha-v3]').getAttribute('data-recaptcha-v3'),
				{action: document.querySelector('[data-recaptcha-v3]').value}
			).then(function(token) {
				document.querySelector('input[name="recaptcha_token"]').value=token;
				grc.recaptchaOnSubmit();
			});
			e.preventDefault();
		}
	}, false);
}

if (document.readyState != 'loading'){
	grc.recaptchaOnLoad();
} else {
	document.addEventListener("DOMContentLoaded", function() {
		// reCAPTCHA v3 needs to be initialized
		grc.recaptchaOnLoad();
	});
}
//--></script>
<!-- ELSE -->
	<div class="error">{L_RECAPTCHA_NOT_AVAILABLE}</div>
<!-- ENDIF -->
</td></tr>