<div class="sort-tools">
<!-- IF S_SORT_OPTIONS -->
	<span class="bigger">{L_SORT_BY}{L_COLON}</span> <select name="sk" id="sk">{S_SORT_OPTIONS}</select> <span class="bigger">{L_SORT_DIRECTION}{L_COLON}</span> <select name="sd" id="sd">{S_ORDER_SELECT}</select> <input class="button2" type="submit" name="sort" value="{L_GO}" />
<!-- ELSE -->
	<span class="bigger">{L_DISPLAY}{L_COLON}</span> {S_SELECT_SORT_DAYS}<!-- IF S_SELECT_SORT_KEY --> <span class="bigger">{L_SORT_BY}{L_COLON}</span> {S_SELECT_SORT_KEY} <span class="bigger">{L_SORT_DIRECTION}{L_COLON}</span> {S_SELECT_SORT_DIR}<!-- ENDIF --> <input class="button2" type="submit" name="sort" value="{L_GO}" />
<!-- ENDIF -->
</div>