<!-- IF S_DISPLAY_JUMPBOX -->
	<div align="{S_CONTENT_FLOW_END}" class="jumpbox"><form method="get" action="{S_JUMPBOX_ACTION}" onsubmit="if(this.form.f.value == -1){return false;}">
		{HIDDEN_FIELDS_FOR_JUMPBOX}<!-- IF not S_IN_MCP --><span class="bigger">{L_JUMP_TO}{L_COLON}</span><!-- ENDIF --> <select name="f" onchange="if (this.options[this.selectedIndex].value != -1) {this.form.submit();}">
		<option value="-1"><!-- IF S_IN_MCP and S_MERGE_SELECT -->{L_SELECT_TOPICS_FROM}<!-- ELSEIF S_IN_MCP -->{L_MODERATE_FORUM}<!-- ELSE -->{L_SELECT_FORUM}<!-- ENDIF --></option>
		<option value="-1">------------------</option>
			<!-- BEGIN jumpbox_forums -->
				<!-- IF jumpbox_forums.FORUM_ID neq -1 --><option value="{jumpbox_forums.FORUM_ID}"><!-- BEGIN level --> &nbsp;<!-- END level -->{jumpbox_forums.FORUM_NAME}</option><!-- ENDIF -->
			<!-- END jumpbox_forums -->
		</select> <span class="noscript"><input class="button2" type="submit" value="{L_GO}" /></span>
	</form></div>
<!-- ENDIF -->




