<!-- INCLUDE mcp_header.html -->

<form method="post" name="mcp" action="{U_POST_ACTION}">

<table width="100%" cellspacing="1" class="main">
<tr>
	<th colspan="2">{L_MCP_WARN_POST}</th>
</tr>
<tr>
	<td class="bg1" align="center">
		<table cellspacing="1">
		<tr>
			<td class="big" align="center"><b<!-- IF USER_COLOR --> style="color: #{USER_COLOR}"<!-- ENDIF -->>{USERNAME}</b></td>
		</tr>
		<tr>
			<td align="center"><!-- IF AVATAR_IMG -->{AVATAR_IMG}<!-- ELSE --><img src="{T_THEME_PATH}/images/no_avatar.gif" width="100" height="100" alt="" /><!-- ENDIF --></td>
		</tr>
		</table>
	</td>
	<td class="bg1">
		<table width="100%" cellspacing="1">
		<tr class="big">
			<td align="{S_CONTENT_FLOW_END}" width="35%">{L_JOINED}{L_COLON}</td>
			<td><b>{JOINED}</b></td>
		</tr>
		<tr class="big">
			<td align="{S_CONTENT_FLOW_END}">{L_TOTAL_POSTS}{L_COLON}</td>
			<td><b>{POSTS}</b></td>
		</tr>
		<tr class="big">
			<td align="{S_CONTENT_FLOW_END}">{L_WARNINGS}{L_COLON}</td>
			<td><b>{WARNINGS}</b></td>
		</tr>
		</table>
	</td>
</tr>
</table>

<br clear="all" />

<table width="100%" cellspacing="1" class="main">
<tr>
	<th>{L_POST_DETAILS}</th>
</tr>
<tr class="bg1">
	<td><table cellspacing="5" width="100%"><tr><td><div class="postbody"><div class="content">{POST}</div></div></td></tr></table></td>
</tr>
</table>

<br clear="all" />

<!-- EVENT mcp_warn_post_add_warning_field_before -->

<table width="100%" cellspacing="1" class="main">
<tr>
	<th>{L_ADD_WARNING}</th>
</tr>
<tr class="bigger">
	<td class="bg1" align="center">{L_ADD_WARNING_EXPLAIN}</td>
</tr>
<tr>
	<td class="bg1" align="center"><textarea name="warning" rows="6" cols="50">{L_WARNING_POST_DEFAULT}</textarea></td>
</tr>
<!-- IF S_CAN_NOTIFY -->
<tr>
	<td class="bg1" align="center"><input type="checkbox" name="notify_user" checked="checked" /> <span class="bigger">{L_NOTIFY_USER_WARN}</span></td>
</tr>
<!-- ENDIF -->
</table>
<table cellspacing="0" width="100%">
<tr>
	<td class="cat" align="center"><input class="button2" type="reset" value="{L_RESET}" /> &nbsp;<input class="button1" type="submit" name="action[add_warning]" value="{L_SUBMIT}" /></td>
</tr>
</table>

<!-- EVENT mcp_warn_post_add_warning_field_after -->

{S_FORM_TOKEN}
</form>

<!-- INCLUDE mcp_footer.html -->
