<!-- INCLUDE mcp_header.html -->

<form name="mcp" id="mcp" method="post" action="{S_MCP_ACTION}">

<table class="main" width="100%" cellspacing="1">
<!-- IF S_CAN_SPLIT -->
	<tr>
		<th colspan="2" align="{S_CONTENT_FLOW_BEGIN}">{L_SPLIT_TOPIC}</th>
	</tr>
	<tr>
		<td class="bg1" colspan="2"><span class="bigger">{L_SPLIT_TOPIC_EXPLAIN}</span></td>
	</tr>
	<!-- EVENT mcp_topic_options_before -->
	<tr>
		<td class="bg1"><b class="bigger">{L_SPLIT_SUBJECT}{L_COLON}</b></td>
		<td class="bg1"><input type="text" class="inputbox" size="45" maxlength="124" name="subject" value="{SPLIT_SUBJECT}" /></td>
	</tr>
	<!-- EVENT mcp_topic_options_after -->
	<tr>
		<td class="bg1"><b class="bigger">{L_SPLIT_FORUM}{L_COLON}</b></td>
		<td class="bg1"><select name="to_forum_id">{S_FORUM_SELECT}</select></td>
	</tr>
	<!-- IF S_SHOW_TOPIC_ICONS -->
		<tr>
			<td class="bg1"><b class="bigger">{L_TOPIC_ICON}{L_COLON}</b></td>
			<td class="bg1">
				<table width="100%" cellspacing="0">
				<tr>
					<td class="bigger"><span class="nowrap"><input type="radio" name="icon" value="0"<!-- IF not S_TOPIC_ICON --> checked="checked"<!-- ENDIF --> /> <span class="bigger">{L_NO_TOPIC_ICON}</span></span> &nbsp; <!-- BEGIN topic_icon --><span class="nowrap"><input type="radio" name="icon" value="{topic_icon.ICON_ID}" {topic_icon.S_ICON_CHECKED} /> <img src="{topic_icon.ICON_IMG}" width="{topic_icon.ICON_WIDTH}" height="{topic_icon.ICON_HEIGHT}" alt="" /></span> &nbsp; <!-- END topic_icon --></td>
				</tr>
				</table>
			</td>
		</tr>
	<!-- ENDIF -->
<!-- ENDIF -->

<!-- IF S_CAN_MERGE -->
	<tr>
		<th colspan="2" align="{S_CONTENT_FLOW_BEGIN}">{L_MERGE_POSTS}</th>
	</tr>
	<tr>
		<td class="bg1" colspan="2"><span class="bigger">{L_MERGE_TOPIC_EXPLAIN}</span></td>
	</tr>
	<tr>
		<td class="bg1"><b class="bigger">{L_MERGE_TOPIC_ID}{L_COLON}</b></td>
		<td class="bg1"><input type="text" class="inputbox" size="6" maxlength="10" name="to_topic_id" value="{TO_TOPIC_ID}" /> <a href="{U_SELECT_TOPIC}" class="bigger">{L_SELECT_TOPIC}</a></td>
	</tr>
	<!-- IF TO_TOPIC_INFO -->
		<tr>
			<td class="bg1" colspan="2"><b class="bigger">{TO_TOPIC_INFO}</b></td>
		</tr>
	<!-- ENDIF -->
<!-- ENDIF -->
<tr>
	<th colspan="2" align="{S_CONTENT_FLOW_BEGIN}">{L_DISPLAY_OPTIONS}</th>
</tr>
<tr>
	<td class="bg1" width="20%"><b class="bigger">{L_POSTS_PER_PAGE}{L_COLON}</b><br /><span class="bigger">{L_POSTS_PER_PAGE_EXPLAIN}</span></td>
	<td class="bg1"><input type="text" class="inputbox" size="6" maxlength="6" name="posts_per_page" value="{POSTS_PER_PAGE}" /></td>
</tr>
<tr>
	<td class="bg1"><b class="bigger">{L_DISPLAY_POSTS}{L_COLON}</b></td>
	<td class="bg1">{S_SELECT_SORT_DAYS} <span class="bigger">{L_SORT_BY}</span> {S_SELECT_SORT_KEY} {S_SELECT_SORT_DIR} <input class="button2" type="submit" name="sort" value="{L_GO}" /></td>
</tr>
</table>

<table class="main" width="100%" cellspacing="1">
<tr>
	<th colspan="3" align="{S_CONTENT_FLOW_BEGIN}">{L_TOPIC_REVIEW} - <!-- EVENT mcp_topic_topic_title_before -->{TOPIC_TITLE}<!-- EVENT mcp_topic_topic_title_after --></th>
</tr>
<!-- BEGIN postrow -->
	<!-- EVENT mcp_topic_postrow_post_before -->
	<!-- IF postrow.S_ROW_COUNT is even --><!-- DEFINE $BG = 'bg1' --><!-- ELSE --><!-- DEFINE $BG = 'bg2' --><!-- ENDIF -->
	<tr class="{$BG}">
		<td align="center" width="15%"><!-- EVENT mcp_topic_post_author_full_prepend --><b>{postrow.POST_AUTHOR_FULL}</b><!-- EVENT mcp_topic_post_author_full_append --></td>
		<td>
			<span class="bigger">
				<!-- EVENT mcp_topic_postrow_post_subject_before -->
				<b>{L_POST_SUBJECT}{L_COLON}</b> {postrow.POST_SUBJECT}
				<!-- EVENT mcp_topic_postrow_post_subject_after -->
			</span>
		</td>
		<td width="5%" align="center"><a href="{postrow.U_POST_DETAILS}"><img src="{T_THEME_PATH}/images/icon_post_info.gif" width="20" height="20" alt="[?]" border="0" title="{L_POST_DETAILS}" /></a></td>
	</tr>

	<tr class="{$BG}">
		<td width="100%" valign="top" colspan="2">
		<table cellspacing="5" width="100%">
			<tr>
				<td>
					<!-- EVENT mcp_topic_postrow_post_details_before -->
					<table width="100%" cellspacing="0">
					<tr class="bigger">
						<td>
							<!-- IF postrow.S_POST_UNAPPROVED --><div><b><a href="{postrow.U_MCP_APPROVE}" class="postapprove"><img src="{T_THEME_PATH}/images/icon_topic_unapproved.gif" width="19" height="18" alt="" border="0" /> {L_POST_UNAPPROVED}</a></b></div><!-- ENDIF -->
							<!-- IF postrow.S_POST_DELETED --><div><b><a href="{postrow.U_MCP_APPROVE}" class="postapprove"><img src="{T_THEME_PATH}/images/icon_topic_deleted.gif" width="14" height="14" alt="" border="0" /> {L_POST_DELETED}</a></b></div><!-- ENDIF -->
							<!-- IF postrow.S_POST_REPORTED --><div><b><a href="{postrow.U_MCP_REPORT}" class="postreported"><img src="{T_THEME_PATH}/images/icon_topic_reported.gif" width="19" height="18" alt="" border="0" /> {L_POST_REPORTED}</a></b></div><!-- ENDIF -->
						</td>
						<td align="{S_CONTENT_FLOW_END}"><b>{L_POSTED}{L_COLON}</b> {postrow.POST_DATE}</td>
					</tr>
					</table>
					<!-- EVENT mcp_topic_postrow_post_details_after -->
				</td>
			</tr>
			<tr>
				<td>
					<div class="postbody"><div class="content">{postrow.MESSAGE}</div></div>
					<!-- IF postrow.S_HAS_ATTACHMENTS --><br /><!-- ENDIF -->	
					<!-- EVENT mcp_topic_postrow_attachments_before -->
					<!-- IF postrow.S_HAS_ATTACHMENTS -->
						<table class="main" width="100%" cellspacing="1">
						<tr>
							<td class="bg3"><b class="bigger">{L_ATTACHMENTS}</b></td>
						</tr>
						<!-- BEGIN attachment -->
							<tr class="postbody">
								<td class="bg2">{postrow.attachment.DISPLAY_ATTACHMENT}</td>
							</tr>
						<!-- END attachment -->
						</table>
					<!-- ENDIF -->
					<!-- EVENT mcp_topic_postrow_attachments_after -->
				</td>
			</tr>
		</table>
		</td>
		<td width="5%" align="center"><input type="checkbox" name="post_id_list[]" value="{postrow.POST_ID}"<!-- IF postrow.S_CHECKED --> checked="checked"<!-- ENDIF --> /></td>
	</tr>
	<!-- IF not postrow.S_LAST_ROW -->
		<tr class="bg3">
			<td colspan="3"></td>
		</tr>
	<!-- ENDIF -->
<!-- BEGINELSE -->
	<tr>
		<td class="bg1" align="center" colspan="3"><span class="big">{L_NO_POSTS_TIME_FRAME}</span></td>
	</tr>
<!-- END postrow -->
</table>
<table cellspacing="0" width="100%">
<tr>
	<td class="cat" align="{S_CONTENT_FLOW_END}"><select name="action"><option value="">{L_SELECT_ACTION}</option>
		<!-- IF S_CAN_APPROVE --><option value="approve">{L_APPROVE_POSTS}</option><!-- ENDIF -->
		<!-- IF S_CAN_LOCK --><option value="lock_post">{L_LOCK_POST_POSTS} [{L_LOCK_POST_EXPLAIN}]</option><option value="unlock_post">{L_UNLOCK_POST_POSTS}</option><!-- ENDIF -->
		<!-- IF S_CAN_DELETE --><option value="delete_post">{L_DELETE_POSTS}</option><!-- ENDIF -->
		<!-- IF S_CAN_RESTORE --><option value="restore">{L_RESTORE_POSTS}</option><!-- ENDIF -->
		<!-- IF S_CAN_MERGE --><option value="merge_posts"<!-- IF S_MERGE_VIEW --> selected="selected"<!-- ENDIF -->>{L_MERGE_POSTS}</option><!-- ENDIF -->
		<!-- IF S_CAN_SPLIT --><option value="split_all"<!-- IF S_SPLIT_VIEW --> selected="selected"<!-- ENDIF -->>{L_SPLIT_POSTS}</option><option value="split_beyond">{L_SPLIT_AFTER}</option><!-- ENDIF -->
		<!-- IF S_CAN_SYNC --><option value="resync">{L_RESYNC}</option><!-- ENDIF -->
	</select> <input class="button1" type="submit" name="mcp_topic_submit" value="{L_SUBMIT}" /></td>
</tr>
</table>

<table width="100%" cellspacing="1"><tr>
	<td nowrap="nowrap"><b>{PAGE_NUMBER}</b> &nbsp;[ {TOTAL_POSTS} ]</td>
	<td align="{S_CONTENT_FLOW_END}" nowrap="nowrap"><b><a href="#" onclick="marklist('mcp', 'post', true); return false;">{L_MARK_ALL}</a> :: <a href="#" onclick="marklist('mcp', 'post', false); return false;">{L_UNMARK_ALL}</a></b></td>
	<!-- IF .pagination --></tr><tr><td align="{S_CONTENT_FLOW_END}" colspan="2"><!-- INCLUDE pagination.html --></td><!-- ENDIF -->
</tr></table>
{S_HIDDEN_FIELDS}
{S_FORM_TOKEN}
</form>

<!-- INCLUDE mcp_footer.html -->