<!-- INCLUDE mcp_header.html -->

<!-- IF S_MCP_REPORT -->
	<table width="100%" cellspacing="1" class="main">
	<tr>
		<th colspan="2"><!-- IF S_PM -->{L_PM_REPORT_DETAILS}<!-- ELSE -->{L_REPORT_DETAILS}<!-- ENDIF --></th>
	</tr>
	<tr>
		<td class="bg1"><b class="bigger">{L_REPORT_REASON}{L_COLON}</b></td>
		<td class="bg1"><span class="big">{REPORT_REASON_TITLE}</span></td>
	</tr>
	<tr>
		<td class="bg1" width="20%"><b class="bigger">{L_REPORTER}{L_COLON}</b></td>
		<td class="bg1"><span class="big">{REPORTER_FULL}<!-- IF U_MCP_REPORTER_NOTES --> [ <a href="{U_MCP_REPORTER_NOTES}">{L_VIEW_NOTES}</a><!-- IF U_MCP_WARN_REPORTER --> | <a href="{U_MCP_WARN_REPORTER}">{L_WARN_USER}</a><!-- ENDIF --> ]<!-- ENDIF --></span></td>
	</tr>
	<tr>
		<td class="bg1"><b class="bigger">{L_REPORTED}{L_COLON}</b></td>
		<td class="bg1"><span class="big">{REPORT_DATE}<!-- IF S_REPORT_CLOSED --> | </span><span class="bigger"><b class="error">{L_REPORT_CLOSED}</b><!-- ENDIF --></span></td>
	</tr>
	<tr class="bg1">
		<td colspan="2"><table cellspacing="5" width="100%"><tr><td><div class="postbody"><div class="content"><!-- IF REPORT_TEXT -->{REPORT_TEXT}<!-- ELSE -->{REPORT_REASON_DESCRIPTION}<!-- ENDIF --></div></div></td></tr></table></td>
	</tr>
	</table>
	<table cellspacing="0" width="100%">
	<tr>
		<td class="cat" align="center">
			<form method="post" name="mcp_report" action="{S_CLOSE_ACTION}">
				<!-- EVENT mcp_post_report_buttons_top_before -->
				<!-- IF not S_REPORT_CLOSED --><input class="button1" type="submit" value="{L_CLOSE_REPORT}" name="action[close]" />
				&nbsp;<!-- ENDIF --><input class="button2" type="submit" value="{L_DELETE_REPORT}" name="action[delete]" />
				<!-- EVENT mcp_post_report_buttons_top_after -->
				<input type="hidden" name="report_id_list[]" value="{REPORT_ID}" />
				{S_FORM_TOKEN}
			</form>
		</td>
	</tr>
	</table>

	<br clear="all"/>
<!-- ENDIF -->

<table width="100%" cellspacing="1" class="main">
<tr>
	<th colspan="2"><!-- IF S_PM -->{L_PM}<!-- ELSE -->{L_POST_DETAILS}<!-- ENDIF --></th>
</tr>
<tr>
	<td class="bg1"><b class="bigger"><!-- IF S_PM -->{L_PM_SUBJECT}<!-- ELSE -->{L_POST_SUBJECT}<!-- ENDIF -->{L_COLON}</b></td>
	<td class="bg1">
		<span class="big"><!-- IF not S_PM --><a href="{U_VIEW_POST}"><!-- ENDIF -->{POST_SUBJECT}<!-- IF not S_PM --></a><!-- ENDIF --><!-- IF U_EDIT --> [ <a href="{U_EDIT}">{L_EDIT_POST}</a> ]<!-- ENDIF --></span>
	</td>
</tr>
<tr>
	<td class="bg1" width="20%"><b class="bigger"><!-- IF S_PM -->{L_PM_FROM}<!-- ELSE -->{L_POSTER}<!-- ENDIF -->{L_COLON}</b></td>
	<td class="bg1"><span class="big">{POST_AUTHOR_FULL}<!-- IF U_MCP_USER_NOTES --> [ <a href="{U_MCP_USER_NOTES}">{L_VIEW_NOTES}</a><!-- IF U_MCP_WARN_USER --> | <a href="{U_MCP_WARN_USER}">{L_WARN_USER}</a><!-- ENDIF --> ]<!-- ENDIF --></span></td>
</tr>
<!-- IF S_CAN_VIEWIP -->
	<tr>
		<td class="bg1"><b class="bigger"><!-- IF S_PM -->{L_THIS_PM_IP}<!-- ELSE -->{L_THIS_POST_IP}<!-- ENDIF -->{L_COLON}</b></td>
		<td class="bg1"><span class="big">
			<!-- IF U_WHOIS -->
				<a href="{U_WHOIS}"><!-- IF POST_IPADDR -->{POST_IPADDR}<!-- ELSE -->{POST_IP}<!-- ENDIF --></a> <!-- IF POST_IPADDR -->({POST_IP})<!-- ELSE -->[ <a href="{U_LOOKUP_IP}">{L_LOOKUP_IP}</a> ]<!-- ENDIF -->
			<!-- ELSE -->
				<!-- IF POST_IPADDR -->{POST_IPADDR} ({POST_IP})<!-- ELSE -->{POST_IP}<!-- IF U_LOOKUP_IP --> [ <a href="{U_LOOKUP_IP}">{L_LOOKUP_IP}</a> ]<!-- ENDIF --><!-- ENDIF -->
			<!-- ENDIF -->
		</span></td>
	</tr>
<!-- ENDIF -->
<tr>
	<td class="bg1"><b class="bigger"><!-- IF S_PM -->{L_SENT_AT}<!-- ELSE -->{L_POSTED}<!-- ENDIF -->{L_COLON}</b></td>
	<td class="bg1"><span class="big">{POST_DATE}</span></td>
</tr>
<!-- IF S_TO_RECIPIENT -->
	<tr>
		<td class="bg1"><b class="bigger">{L_TO}{L_COLON}</b></td>
		<td class="bg1"><span class="big">
		<!-- BEGIN to_recipient -->
			<!-- IF to_recipient.NAME_FULL -->{to_recipient.NAME_FULL}<!-- ELSE --><b><a href="{to_recipient.U_VIEW}"<!-- IF to_recipient.COLOUR --> style="color: {to_recipient.COLOUR}"<!-- ENDIF -->>{to_recipient.NAME}</a></b><!-- ENDIF -->&nbsp;
		<!-- END to_recipient -->
		</span></td>
	</tr>
<!-- ENDIF -->

<!-- IF S_BCC_RECIPIENT -->
	<tr>
		<td class="bg1"><b class="bigger">{L_BCC}{L_COLON}</b></td>
		<td class="bg1"><span class="big">
		<!-- BEGIN bcc_recipient -->
			<!-- IF bcc_recipient.NAME_FULL -->{bcc_recipient.NAME_FULL}<!-- ELSE --><b><a href="{bcc_recipient.U_VIEW}"<!-- IF bcc_recipient.COLOUR --> style="color: {bcc_recipient.COLOUR}"<!-- ENDIF -->>{bcc_recipient.NAME}</a></b><!-- ENDIF -->&nbsp;
		<!-- END bcc_recipient -->
		</span></td>
	</tr>
<!-- ENDIF -->

<!-- IF S_POST_UNAPPROVED -->
	</table>
	<table cellspacing="0" width="100%">
	<tr>
		<td class="cat" align="center"><form method="post" id="mcp_approve" action="{U_APPROVE_ACTION}"><input class="button2" type="submit" name="action[disapprove]" value="{L_DISAPPROVE}" /> &nbsp;<input class="button1" type="submit" name="action[approve]" value="{L_APPROVE}" /><input type="hidden" name="post_id_list[]" value="{POST_ID}" />{S_FORM_TOKEN}</form></td>
	</tr>
	
<!-- ELSEIF S_POST_DELETED -->
	</table>
	<table cellspacing="0" width="100%">
	<tr>
		<td class="cat" align="center"><form method="post" id="mcp_approve" action="{U_APPROVE_ACTION}"><input class="button2" type="submit" name="action[delete]" value="{L_DELETE}" /> &nbsp;<input class="button1" type="submit" name="action[restore]" value="{L_RESTORE}" /><input type="hidden" name="post_id_list[]" value="{POST_ID}" />{S_FORM_TOKEN}</form></td>
	</tr>
<!-- ENDIF -->
</table>

<br />

<table width="100%" cellspacing="1" class="main">
<tr>
	<th>{L_PREVIEW}</th>
</tr>
<tr class="bg1">
	<td><table cellspacing="5" width="100%"><tr><td>

	<!-- EVENT mcp_post_text_before -->

	<div class="postbody"><div class="content">{POST_PREVIEW}</div></div>

	<!-- EVENT mcp_post_text_after -->

	<!-- IF S_HAS_ATTACHMENTS -->
		<br />

		<table class="main" width="100%" cellspacing="1">
		<tr>
			<td class="bg3"><b class="bigger">{L_ATTACHMENTS}</b></td>
		</tr>
		<!-- BEGIN attachment -->
			<tr class="postbody">
				<td class="bg2">{attachment.DISPLAY_ATTACHMENT}</td>
			</tr>
		<!-- END attachment -->
		</table>
	<!-- ENDIF -->

	<!-- IF DELETED_MESSAGE or DELETE_REASON -->
		<br />
		<!-- IF DELETE_REASON -->
			<table class="main" width="100%" cellspacing="1">
			<tr>
				<td class="bg3">{DELETED_MESSAGE}</td>
			</tr>
			<tr>
				<td class="bg2"><span class="bigger">{DELETE_REASON}</span></td>
			</tr>
			</table>
		<!-- ELSE -->
			{DELETED_MESSAGE}
		<!-- ENDIF -->
	<!-- ENDIF -->

	<!-- IF SIGNATURE -->
		<div class="postbody"><div class="signature"><p>_________________</p>{SIGNATURE}</div></div>
	<!-- ENDIF -->

	</td></tr></table></td>
</tr>
</table>

<!-- IF S_MCP_QUEUE or S_MCP_REPORT or RETURN_TOPIC -->
	<table cellspacing="1" class="main" style="margin-top: 4px" width="100%"><tr><td class="bg1">
		<p><!-- IF S_MCP_QUEUE -->{RETURN_QUEUE} | {RETURN_TOPIC_SIMPLE} | {RETURN_POST}<!-- ELSEIF S_MCP_REPORT -->{RETURN_REPORTS}<!-- IF not S_PM --> | <a href="{U_VIEW_POST}">{L_VIEW_POST}</a> | <a href="{U_VIEW_TOPIC}">{L_VIEW_TOPIC}</a> | <a href="{U_VIEW_FORUM}">{L_VIEW_FORUM}</a><!-- ENDIF --><!-- ELSE -->{RETURN_TOPIC}<!-- IF S_POST_REPORTED --> | <b><a href="{U_MCP_REPORT}" class="postreported">{L_POST_REPORTED}</a></b><!-- ENDIF --><!-- ENDIF --></p>
	</td></tr></table>
<!-- ENDIF -->

<!-- IF not S_MCP_QUEUE and not S_MCP_REPORT -->
	<!-- IF S_CAN_LOCK_POST or S_CAN_DELETE_POST or S_CAN_CHGPOSTER or S_MCP_POST_ADDITIONAL_OPTS -->
		<br />

		<table width="100%" cellspacing="1" class="main">
		<tr>
			<th colspan="2">{L_MOD_OPTIONS}</th>
		</tr>
		<!-- IF S_CAN_CHGPOSTER -->
			<tr>
				<td class="bg1" width="20%"><b class="bigger">{L_CHANGE_POSTER}</b></td>
				<td class="bg1"><form method="post" name="mcp_chgposter" action="{U_POST_ACTION}"><input type="text" class="inputbox" name="username" value="" /> <input class="button1" type="submit" value="{L_CONFIRM}" name="action[chgposter]" /><br /><span class="bigger">[ <a href="{U_FIND_USERNAME}" onclick="find_username(this.href); return false;">{L_FIND_USERNAME}</a> ]</span><!-- IF S_USER_SELECT --><br /><select name="u">{S_USER_SELECT}</select> <input type="submit" class="button1" name="action[chgposter_ip]" value="{L_CONFIRM}" /><!-- ENDIF -->{S_FORM_TOKEN}</form></td>
			</tr>
		<!-- ENDIF -->

		<!-- EVENT mcp_post_additional_options -->

		<!-- IF S_CAN_LOCK_POST or S_CAN_DELETE_POST -->
			<tr>
				<td class="bg1" width="20%"><b class="bigger">{L_MOD_OPTIONS}</b></td>
				<td class="bg1"><form method="post" name="mcp" action="{U_MCP_ACTION}"><select name="action"><!-- IF S_CAN_LOCK_POST --><!-- IF S_POST_LOCKED --><option value="unlock_post">{L_UNLOCK_POST} [{L_UNLOCK_POST_EXPLAIN}]</option><!-- ELSE --><option value="lock_post">{L_LOCK_POST} [{L_LOCK_POST_EXPLAIN}]</option><!-- ENDIF --><!-- ENDIF --><!-- IF S_CAN_DELETE_POST --><option value="delete_post">{L_DELETE_POST}</option><!-- ENDIF --></select> <input class="button1" type="submit" value="{L_SUBMIT}" />	{S_FORM_TOKEN}</form></td>
			</tr>
		<!-- ENDIF -->
		</table>
	<!-- ENDIF -->

	<!-- IF S_CAN_VIEWIP -->
		<br /><a name="ip" class="anchor"></a>

		<table width="100%" cellspacing="1" class="main">
		<tr>
			<th colspan="2">{L_IP_INFO}</th>
		</tr>
		<tr class="bg3">
			<td><b class="bigger">{L_OTHER_USERS}</b></td>
			<td align="{S_CONTENT_FLOW_END}" width="10%"><!-- INCLUDE pagination.html --></td>
		</tr>
		<!-- BEGIN userrow -->
			<tr class="<!-- IF userrow.S_ROW_COUNT is even -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">
				<td class="big"><!-- IF userrow.U_PROFILE --><a href="{userrow.U_PROFILE}">{userrow.USERNAME}</a><!-- ELSE -->{userrow.USERNAME}<!-- ENDIF --> ({userrow.NUM_POSTS} <!-- IF userrow.NUM_POSTS == 1 -->{L_POST}<!-- ELSE -->{L_POSTS}<!-- ENDIF -->)</td>
				<td align="center" class="big" nowrap="nowrap"><a href="{userrow.U_SEARCHPOSTS}" title="{L_SEARCH_POSTS_BY} {userrow.USERNAME}">{L_SEARCH}</a></td>
			</tr>
		<!-- BEGINELSE -->
			<tr class="bg1">
				<td colspan="2" align="center" class="big">{L_NO_MATCHES_FOUND}</td>
			</tr>
		<!-- END userrow -->
		<tr class="bg3">
			<td><b class="bigger">{L_IPS_POSTED_FROM}</b></td>
			<td align="{S_CONTENT_FLOW_END}">
				<!-- BEGIN pagination_ips -->
					<!-- IF pagination_ips.S_IS_PREV --><a href="{pagination_ips.PAGE_URL}#ip" title="{L_PREVIOUS}">&#171;</a>
					<!-- ELSEIF pagination_ips.S_IS_CURRENT --><b>{pagination_ips.PAGE_NUMBER}</b>
					<!-- ELSEIF pagination_ips.S_IS_ELLIPSIS -->{L_ELLIPSIS} 
					<!-- ELSEIF pagination_ips.S_IS_NEXT --><a href="{pagination_ips.PAGE_URL}#ip" title="{L_NEXT}">&#187;</a>
					<!-- ELSE --><a href="{pagination_ips.PAGE_URL}#ip">{pagination_ips.PAGE_NUMBER}</a>
					<!-- ENDIF -->
				<!-- END pagination_ips -->
			</td>
		</tr>
		<!-- BEGIN iprow -->
			<tr class="<!-- IF iprow.S_ROW_COUNT is even -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">
				<td class="big"><!-- IF iprow.HOSTNAME --><a href="{iprow.U_WHOIS}">{iprow.HOSTNAME}</a> ({iprow.IP})<!-- ELSE --><a href="{iprow.U_WHOIS}">{iprow.IP}</a><!-- ENDIF --> ({iprow.NUM_POSTS} <!-- IF iprow.NUM_POSTS == 1 -->{L_POST}<!-- ELSE -->{L_POSTS}<!-- ENDIF -->)</td>
				<td align="center" class="big" nowrap="nowrap"><!-- IF iprow.U_LOOKUP_IP --><a href="{iprow.U_LOOKUP_IP}">{L_LOOKUP_IP}</a><!-- ENDIF --></td>
			</tr>
		<!-- BEGINELSE -->
			<tr class="bg1">
				<td colspan="2" align="center" class="big">{L_NO_MATCHES_FOUND}</td>
			</tr>
		<!-- END iprow -->
		</table>
		<!-- IF U_LOOKUP_ALL --><div class="big">[ <a href="{U_LOOKUP_ALL}#ip">{L_LOOKUP_ALL}</a> ]</div><!-- ENDIF -->
	<!-- ENDIF -->
<!-- ELSEIF S_TOPIC_REVIEW -->
	</td></tr></table><br clear="all" /><!-- INCLUDE posting_topic_review.html --><!-- DEFINE $HISTORY = 1 -->
<!-- ENDIF -->

<!-- INCLUDE mcp_footer.html -->