<!-- INCLUDE mcp_header.html -->

<form method="post" id="mcp" action="{S_MCP_ACTION}">

<table width="100%" cellspacing="1"><tr>
	<!-- IF U_VIEW_FORUM_LOGS --><td class="bigger" nowrap="nowrap"><b><a href="{U_VIEW_FORUM_LOGS}">{L_VIEW_FORUM_LOGS}</a></b></td><!-- ENDIF -->
	<td align="{S_CONTENT_FLOW_END}" width="100%"><!-- INCLUDE pagination.html --></td>
</tr></table>

<table class="main" width="100%" cellspacing="1">
<!-- BEGIN topicrow -->
	<!-- IF topicrow.S_FIRST_ROW -->
		<tr>
			<th colspan="3">{L_TOPICS}</th>
			<th width="50">{L_REPLIES}</th>
			<th nowrap="nowrap" width="17%">{L_LAST_POST}</th>
			<!-- IF not S_MERGE_SELECT --><th width="5%">{L_MARK}</th><!-- ENDIF -->
		</tr>
	<!-- ENDIF -->
	<tr>
		<td class="bg1" width="25" align="center"><img src="{T_THEME_PATH}/images/{topicrow.TOPIC_IMG_STYLE}.gif" width="19" height="18" alt="<!-- IF topicrow.S_UNREAD_TOPIC -->+" title="<!-- ENDIF -->" /></td>
		<td class="bg1" width="24" align="center"><!-- IF topicrow.TOPIC_ICON_IMG --><img src="{T_ICONS_PATH}{topicrow.TOPIC_ICON_IMG}" width="16" height="16" alt="" /><!-- ENDIF --></td>
		<td class="bg1">
			<!-- EVENT topiclist_row_prepend -->
			<!-- IF topicrow.S_SELECT_TOPIC -->
				<span class="bigger">[ <a href="{topicrow.U_SELECT_TOPIC}">{L_SELECT_MERGE}</a> ]&nbsp;</span>
			<!-- ENDIF -->
			<!-- IF topicrow.ATTACH_ICON_IMG --><img src="{T_THEME_PATH}/images/icon_topic_attach.gif" width="14" height="18" alt="(*)" title="{L_TOTAL_ATTACHMENTS}" /><!-- ENDIF -->
			<!-- EVENT mcp_forum_topic_title_before --><a href="{topicrow.U_VIEW_TOPIC}" class="topictitle">{topicrow.TOPIC_TITLE}</a><!-- EVENT mcp_forum_topic_title_after -->
			<!-- IF topicrow.S_TOPIC_UNAPPROVED or topicrow.S_POSTS_UNAPPROVED -->
				<a href="{topicrow.U_MCP_QUEUE}"><img src="{T_THEME_PATH}/images/icon_topic_unapproved.gif" width="19" height="18" alt="(?)" border="0" title="<!-- IF topicrow.S_TOPIC_UNAPPROVED -->{L_TOPIC_UNAPPROVED}<!-- ELSE -->{L_POSTS_UNAPPROVED}<!-- ENDIF -->" /></a>
			<!-- ENDIF -->
			<!-- IF topicrow.S_TOPIC_DELETED or topicrow.S_POSTS_DELETED -->
				<a href="{topicrow.U_MCP_QUEUE}"><img src="{T_THEME_PATH}/images/icon_topic_deleted.gif" width="14" height="14" alt="(X)" border="0" title="{L_TOPIC_DELETED}" /></a>
			<!-- ENDIF -->
			<!-- IF topicrow.S_TOPIC_REPORTED -->
				<a href="{topicrow.U_MCP_REPORT}"><img src="{T_THEME_PATH}/images/icon_topic_reported.gif" width="19" height="18" alt="(!)" border="0" title="{L_TOPIC_REPORTED}" /></a>
			<!-- ENDIF -->
			<!-- IF topicrow.S_MOVED_TOPIC and S_CAN_DELETE -->
				<span class="bigger">[ <a href="{topicrow.U_DELETE_TOPIC}">{L_DELETE_SHADOW_TOPIC}</a> ]</span>
			<!-- ENDIF -->
			<!-- EVENT topiclist_row_topic_title_after -->
			<div class="bigger">{L_POST_BY_AUTHOR} {topicrow.TOPIC_AUTHOR_FULL} &#187; {topicrow.FIRST_POST_TIME}</div>
			<!-- EVENT topiclist_row_append -->
		</td>
		<td class="bg1" align="center"><p>{topicrow.REPLIES}</p></td>
		<td class="bg1" align="center"><p>{topicrow.LAST_POST_TIME}<br />{topicrow.LAST_POST_AUTHOR_FULL}</p></td>
		<!-- IF not S_MERGE_SELECT -->
			<td class="bg1" align="center">
				<!-- IF not topicrow.S_MOVED_TOPIC --><input type="checkbox" name="topic_id_list[]" value="{topicrow.TOPIC_ID}"<!-- IF topicrow.S_TOPIC_CHECKED --> checked="checked"<!-- ENDIF --> /><!-- ELSE -->&nbsp;<!-- ENDIF -->
			</td>
		<!-- ENDIF -->
	</tr>
<!-- BEGINELSE -->
	<tr>
		<th>{L_INFORMATION}</th>
	</tr>
	<tr class="big">
		<td class="bg1" align="center">{L_NO_TOPICS}</td>
	</tr>
<!-- END topicrow -->
</table>
<!-- EVENT mcp_forum_actions_before -->

<table cellspacing="0" width="100%">
<tr>
	<td class="cat"><!-- INCLUDE display_options.html --></td>
	<!-- IF not S_MERGE_SELECT -->
		<td class="cat" align="{S_CONTENT_FLOW_END}">
			<select name="action">
				<option value="">{L_SELECT_ACTION}</option>
				<!-- IF S_CAN_DELETE --><option value="delete_topic">{L_DELETE}</option><!-- ENDIF -->
				<!-- IF S_CAN_RESTORE --><option value="restore_topic">{L_RESTORE}</option><!-- ENDIF -->
				<!-- IF S_CAN_MERGE --><option value="merge_topics">{L_MERGE}</option><!-- ENDIF -->
				<!-- IF S_CAN_MOVE --><option value="move">{L_MOVE}</option><!-- ENDIF -->
				<!-- IF S_CAN_FORK --><option value="fork">{L_FORK}</option><!-- ENDIF -->
				<!-- IF S_CAN_LOCK --><option value="lock">{L_LOCK}</option><option value="unlock">{L_UNLOCK}</option><!-- ENDIF -->
				<!-- IF S_CAN_SYNC --><option value="resync">{L_RESYNC}</option><!-- ENDIF -->
				<!-- IF S_CAN_MAKE_NORMAL --><option value="make_normal">{L_MAKE_NORMAL}</option><!-- ENDIF -->
				<!-- IF S_CAN_MAKE_STICKY --><option value="make_sticky">{L_MAKE_STICKY}</option><!-- ENDIF -->
				<!-- IF S_CAN_MAKE_ANNOUNCE --><option value="make_announce">{L_MAKE_ANNOUNCE}</option><!-- ENDIF -->
				<!-- IF S_CAN_MAKE_ANNOUNCE_GLOBAL --><option value="make_global">{L_MAKE_GLOBAL}</option><!-- ENDIF -->
				<!-- EVENT mcp_forum_actions_append -->
			</select>
			<input class="button1" type="submit" value="{L_SUBMIT}" />
		</td>
	<!-- ENDIF -->
</tr>
</table>

<table width="100%" cellspacing="1"><tr>
	<td nowrap="nowrap"><b>{PAGE_NUMBER}</b> &nbsp;[ {TOTAL_TOPICS} ]</td>
	<!-- IF not S_MERGE_SELECT --><td align="{S_CONTENT_FLOW_END}" nowrap="nowrap"><b><a href="#" onclick="marklist('mcp', 'topic_id_list', true); return false;">{L_MARK_ALL}</a> :: <a href="#" onclick="marklist('mcp', 'topic_id_list', false); return false;">{L_UNMARK_ALL}</a></b></td><!-- IF .pagination --></tr><tr><!-- ENDIF --><!-- ENDIF -->
	<!-- IF .pagination --><td align="{S_CONTENT_FLOW_END}" <!-- IF not S_MERGE_SELECT -->colspan="2"<!-- ELSE -->width="100%"<!-- ENDIF -->><!-- INCLUDE pagination.html --></td><!-- ENDIF -->
</tr></table>

{S_FORM_TOKEN}
<!-- EVENT mcp_forum_actions_after -->
</form>

<!-- INCLUDE mcp_footer.html -->