<!-- INCLUDE simple_header.html -->

<br clear="all" />

<form method="post" action="{S_IM_ACTION}">
	<table cellspacing="1" class="main" width="100%">
	<tr>
		<th colspan="2">{L_SEND_IM}</th>
	</tr>
	<tr>
		<td class="bg1" colspan="2"><span class="bigger">{L_SEND_IM_EXPLAIN}</span><!-- IF S_SENT_JABBER --><div class="bigger"><br />{L_IM_SENT_JABBER}</div><!-- ENDIF --></td>
	</tr>
	<tr>
		<td class="bg1"><b class="bigger">{L_IM_RECIPIENT}{L_COLON}</b></td>
		<td class="bg1"><span class="bigger"><b>{USERNAME}</b><!-- IF S_NO_SEND_JABBER --> [ {IM_CONTACT} ]<!-- ENDIF --></span></td>
	</tr>

	<!-- IF S_SEND_JABBER -->
		<tr>
			<td class="bg1"><b class="bigger">{L_IM_MESSAGE}{L_COLON}</b></td>
			<td class="bg1"><textarea name="message" rows="5" cols="45"></textarea></td>
		</tr>
		</table>
		<table cellspacing="0" width="100%">
		<tr>
			<td class="cat" align="center"><input class="button1" name="submit" type="submit" value="{L_IM_SEND}" /></td>
		</tr>
	<!-- ELSEIF S_NO_SEND_JABBER -->
		<tr>
			<td class="bg1" colspan="2"><span class="bigger">{L_IM_NO_JABBER}</span></td>
		</tr>
	<!-- ENDIF -->

	</table>
{S_FORM_TOKEN}
</form>

<table cellspacing="1" width="100%">
<tr>
	<td><b><a class="bigger" href="#" onclick="window.close(); return false;">{L_CLOSE_WINDOW}</a></b></td>
</tr>
</table>

<!-- INCLUDE simple_footer.html -->