<!-- INCLUDE overall_header.html -->

<!-- EVENT memberlist_email_before -->

<form action="{S_POST_ACTION}" method="post" name="postform">

<table class="main" width="100%" cellspacing="1">
<tr>	
	<th colspan="2"><!-- IF S_CONTACT_ADMIN-->{L_CONTACT_ADMIN}<!-- ELSEIF S_SEND_USER -->{L_SEND_EMAIL_USER}<!-- ELSE -->{L_EMAIL_TOPIC}<!-- ENDIF --></th>
</tr>
<!-- IF ERROR_MESSAGE -->
	<tr class="bg1">
		<td colspan="2" align="center"><p class="error">{ERROR_MESSAGE}</p></td>
	</tr>
<!-- ENDIF -->
<!-- IF CONTACT_INFO -->
<tr class="bg1">
	<td colspan="2"><table cellspacing="5" width="100%"><tr><td><div class="postbody"><span class="content">{CONTACT_INFO}</span></div></td></tr></table></td>
</tr>
<!-- ENDIF -->
<!-- IF S_SEND_USER -->
	<tr>
		<td class="bg1" width="22%"><b class="bigger">{L_RECIPIENT}{L_COLON}</b></td>
		<td class="bg1"><b class="bigger">{USERNAME_FULL}</b></td>
	</tr>
	<tr>
		<td class="bg1"><b class="bigger">{L_SUBJECT}{L_COLON}</b></td>
		<td class="bg1"><input type="text" class="inputbox" name="subject" size="50" tabindex="2" value="{SUBJECT}" /></td>
	</tr>
<!-- ELSEIF S_CONTACT_ADMIN-->
	<tr>
		<td class="bg1" width="22%"><b class="bigger">{L_RECIPIENT}{L_COLON}</b></td>
		<td class="bg1"><b class="bigger">{L_ADMINISTRATOR}</b></td>
	</tr>
	<!-- IF not S_IS_REGISTERED -->
		<tr>
			<td class="bg1"><b class="bigger">{L_SENDER_EMAIL_ADDRESS}{L_COLON}</b></td>
			<td class="bg1"><input type="text" class="inputbox" name="email" size="50" maxlength="100" value="{EMAIL}" /></td>
		</tr>
		<tr>
			<td class="bg1"><b class="bigger">{L_SENDER_NAME}{L_COLON}</b></td>
			<td class="bg1"><input type="text" class="inputbox" name="name" size="50" value="{NAME}" /></td>
		</tr>
	<!-- ENDIF -->
	<tr>
		<td class="bg1"><b class="bigger">{L_SUBJECT}{L_COLON}</b></td>
		<td class="bg1"><input type="text" class="inputbox" name="subject" size="50" tabindex="2" value="{SUBJECT}" /></td>
	</tr>
<!-- ELSE -->
	<tr>
		<td class="bg1" width="22%"><b class="bigger">{L_EMAIL_ADDRESS}{L_COLON}</b></td>
		<td class="bg1"><input type="text" class="inputbox" name="email" size="50" maxlength="100" value="{EMAIL}" /></td>
	</tr>
	<tr>
		<td class="bg1"><b class="bigger">{L_REAL_NAME}{L_COLON}</b></td>
		<td class="bg1"><input type="text" class="inputbox" name="name" size="50" value="{NAME}" /></td>
	</tr>
	<tr>
		<td class="bg1"><b class="bigger">{L_DEST_LANG}{L_COLON}</b><br /><span class="bigger">{L_DEST_LANG_EXPLAIN}</span></td>
		<td class="bg1"><select name="lang">{S_LANG_OPTIONS}</select></td>
	</tr>
<!-- ENDIF -->
<tr>
	<td class="bg1" valign="top"><b class="bigger">{L_MESSAGE_BODY}{L_COLON}</b><br /><span class="bigger">{L_EMAIL_BODY_EXPLAIN}</span></td>
	<td class="bg1"><textarea name="message" rows="15" cols="76" tabindex="3">{MESSAGE}</textarea></td>
</tr>
<!-- IF S_REGISTERED_USER -->
<tr>
	<td class="bg1"><span class="big"><b>{L_OPTIONS}{L_COLON}</b></span></td>
	<td class="bg1"><input type="checkbox" name="cc_sender" value="1" checked="checked" /> <span class="big">{L_CC_SENDER}</span></td>
</tr>
<!-- ENDIF -->
<tr>
	<td class="cat" colspan="2" align="center"><input type="submit" tabindex="6" name="submit" class="button1" value="{L_SEND_EMAIL}" /></td>
</tr>
</table>

{S_FORM_TOKEN}

</form>

<!-- INCLUDE overall_footer.html -->