<!-- BEGIN post_review_row -->
	<table class="main" width="100%" cellspacing="1">

		<!-- IF post_review_row.S_FIRST_ROW -->
			<tr>
				<th align="{S_CONTENT_FLOW_BEGIN}" colspan="2">{L_POST_REVIEW}</th>
			</tr>
			<tr class="big">
				<td class="bg1" colspan="2">{L_POST_REVIEW_EXPLAIN}</td>
			</tr>
			<tr>
				<th nowrap="nowrap">{L_AUTHOR}</th>
				<th width="100%">{L_MESSAGE}</th>
			</tr>
		<!-- ENDIF -->

		<!-- IF post_review_row.S_ROW_COUNT is even --><!-- DEFINE $BG = 'bg1' --><!-- ELSE --><!-- DEFINE $BG = 'bg2' --><!-- ENDIF -->

		<tr class="{$BG}">
		<!-- IF post_review_row.S_IGNORE_POST -->
			<td align="center" class="member" colspan="2">{post_review_row.L_IGNORE_POST}</td>
		<!-- ELSE -->
			<td rowspan="2" valign="top"><a name="ppr{post_review_row.POST_ID}" class="anchor"></a>
				<table width="150" cellspacing="0">
				<tr>
					<td align="center"><!-- EVENT posting_review_row_post_author_username_prepend --><b>{post_review_row.POST_AUTHOR_FULL}</b><!-- EVENT posting_review_row_post_author_username_append --></td>
				</tr>
				</table>
			</td>
			<td width="100%">
				<table width="100%" cellspacing="0">
				<tr class="bigger">
					<td><b>{L_POST_SUBJECT}{L_COLON}</b> {post_review_row.POST_SUBJECT}</td>
					<td align="{S_CONTENT_FLOW_END}"><b>{L_POSTED}{L_COLON}</b> {post_review_row.POST_DATE}</td>
				</tr>
				</table>
			</td>
		</tr>

		<tr class="{$BG}">
			<td valign="top">
				<table cellspacing="5" width="100%">
				<tr>
					<td><div class="postbody"><div class="content">{post_review_row.MESSAGE}</div></div>

					<!-- IF post_review_row.S_HAS_ATTACHMENTS -->
						<br />

						<table class="main" width="100%" cellspacing="1">
						<tr>
							<td class="bg3"><b class="bigger">{L_ATTACHMENTS}</b></td>
						</tr>
						<!-- BEGIN attachment -->
							<tr class="postbody">
								<td class="bg2">{post_review_row.attachment.DISPLAY_ATTACHMENT}</td>
							</tr>
						<!-- END attachment -->
						</table>
					<!-- ENDIF -->
					</td>
				</tr>
				</table>
			</td>
		<!-- ENDIF -->
		</tr>
	</table>
	<!-- IF not post_review_row.S_LAST_ROW --><div class="spacer"></div><!-- ENDIF -->
<!-- END post_review_row -->