<tr>
	<th colspan="2">{L_ADD_ATTACHMENT}</th>
</tr>
<tr>
	<td class="bg3" colspan="2"><span class="bigger">{L_ADD_ATTACHMENT_EXPLAIN}</span></td>
</tr>

<tr>
	<td class="bg1"><b class="bigger">{L_FILENAME}</b></td>
	<td class="bg2"><input type="file" class="inputbox" name="fileupload" id="fileupload" /> <b class="bigger" id="upload_progress"></b></td>
</tr>
<tr>
	<td class="bg1"><b class="bigger">{L_FILE_COMMENT}</b></td>
	<td class="bg2">
		<table cellspacing="0">
		<tr>
			<td><textarea name="filecomment" rows="3" cols="35">{FILE_COMMENT}</textarea></td>
			<td valign="top">
				<table cellspacing="4">
				<tr>
					<td><input class="button2" type="submit" name="add_file" value="{L_ADD_FILE}" onclick="getStuff('upload_progress').innerHTML = '{LA_UPLOAD_IN_PROGRESS}';" /></td>
				</tr>
				</table>
			</td>
		</tr>
		</table>
	</td>
</tr>

<!-- IF S_HAS_ATTACHMENTS -->
	<tr>
		<th colspan="2">{L_POSTED_ATTACHMENTS}</th>
	</tr>

	<!-- BEGIN attach_row -->
		<tr>
			<td class="bg1"><b class="bigger">{L_FILENAME}</b></td>
			<td class="bg2"><a class="bigger" href="{attach_row.U_VIEW_ATTACHMENT}" target="_blank">{attach_row.FILENAME}</a></td>
		</tr>
		<tr>
			<td class="bg1"><b class="bigger">{L_FILE_COMMENT}</b></td>
			<td class="bg2">{attach_row.S_HIDDEN}
				<table cellspacing="0">
				<tr>
					<td><textarea name="comment_list[{attach_row.ASSOC_INDEX}]" rows="3" cols="35" wrap="virtual">{attach_row.FILE_COMMENT}</textarea></td>
					<td valign="top">
						<table cellspacing="4">
						<tr>
							<td><!-- EVENT posting_attach_body_attach_row_controls_prepend --> <input class="button2" name="delete_file[{attach_row.ASSOC_INDEX}]" type="submit" value="{L_DELETE_FILE}" /> <!-- EVENT posting_attach_body_attach_row_controls_append --></td>
						</tr>
						</table>
					</td>
				</tr>
				</table>
			</td>
		</tr>
	<!-- END attach_row -->

<!-- ENDIF -->