<!-- IF S_PRIVMSGS -->
	<!-- INCLUDE ucp_header.html -->
<!-- ELSE -->
	<!-- INCLUDE overall_header.html -->

	<div style="margin: 16px 0 4px">
		<h2><!-- IF TOPIC_TITLE --><!-- EVENT posting_topic_title_before --><a class="header" href="{U_VIEW_TOPIC}">{TOPIC_TITLE}</a><!-- EVENT posting_topic_title_after --><!-- ELSE --><a class="header" href="{U_VIEW_FORUM}">{FORUM_NAME}</a><!-- ENDIF --></h2>
	</div>

	<!-- IF S_FORUM_RULES -->
		<div style="margin: 14px 4px">
			<h4 class="forumrules">{L_FORUM_RULES}</h4>
			<p class="forumdesc"><!-- IF U_FORUM_RULES --><b><a href="{U_FORUM_RULES}">{L_FORUM_RULES_LINK}</a></b><!-- ELSE -->{FORUM_RULES}<!-- ENDIF --></p>
		</div>
	<!-- ENDIF -->

	<form name="postform" method="post" action="{S_POST_ACTION}"{S_FORM_ENCTYPE}>
<!-- ENDIF -->

<!-- IF S_DRAFT_LOADED -->
	<table class="main" width="100%" cellspacing="1">
	<tr>
		<th>{L_INFORMATION}</th>
	</tr>
	<tr class="big">
		<td class="bg1" align="center"><!-- IF S_PRIVMSGS -->{L_DRAFT_LOADED_PM}<!-- ELSE -->{L_DRAFT_LOADED}<!-- ENDIF --></td>
	</tr>
	</table>
	<br clear="all" />
<!-- ENDIF -->

<!-- IF S_SHOW_DRAFTS --><!-- INCLUDE drafts.html --><br clear="all" /><!-- ENDIF -->
<!-- IF S_POST_REVIEW and not S_PRIVMSGS --><!-- INCLUDE posting_review.html --><br clear="all" /><!-- ENDIF -->
<!-- IF S_DISPLAY_PREVIEW and not S_PRIVMSGS --><!-- INCLUDE posting_preview.html --><br clear="all" /><!-- ENDIF -->

<table cellspacing="1" class="main" width="100%">
<tr>
	<th colspan="2">{L_POST_A}</th>
</tr>

<!-- IF ERROR -->
	<tr>
		<td class="bg1" colspan="2" align="center"><p class="error">{ERROR}</p></td>
	</tr>
<!-- ENDIF -->

<!-- EVENT posting_editor_topic_icons_before -->

<!-- IF S_SHOW_TOPIC_ICONS or S_SHOW_PM_ICONS -->
	<tr>
		<td class="bg1"><b class="bigger">{L_ICON}{L_COLON}</b></td>
		<td class="bg1">
			<table width="100%" cellspacing="0">
			<tr>
				<td><!-- EVENT posting_editor_topic_icons_prepend --><span class="nowrap"><input type="radio" name="icon" value="0"{S_NO_ICON_CHECKED} tabindex="1" /> <span class="bigger"><!-- IF S_SHOW_TOPIC_ICONS -->{L_NO_TOPIC_ICON}<!-- ELSE -->{L_NO_PM_ICON}<!-- ENDIF --></span></span> &nbsp; <!-- BEGIN topic_icon --><span class="nowrap"><input type="radio" name="icon" value="{topic_icon.ICON_ID}" {topic_icon.S_ICON_CHECKED} tabindex="1" /> <img src="{topic_icon.ICON_IMG}" width="{topic_icon.ICON_WIDTH}" height="{topic_icon.ICON_HEIGHT}" alt="{topic_icon.ICON_ALT}" title="{topic_icon.ICON_ALT}" /></span> &nbsp; <!-- END topic_icon --><!-- EVENT posting_editor_topic_icons_append --></td>
			</tr>
			</table>
		</td>
	</tr>
<!-- ENDIF -->

<!-- EVENT posting_editor_topic_icons_after -->

<!-- IF S_PRIVMSGS -->
	<!-- IF not S_EDIT_POST or S_GROUP_OPTIONS -->
		<tr>
			<td class="bg1"><b class="bigger">{L_PM_TO}{L_COLON}</b></td>
			<td class="bg1">
	<!-- ENDIF -->

	<!-- IF not S_EDIT_POST -->
		<!-- IF S_ALLOW_MASS_PM -->
			<textarea name="username_list" rows="2" cols="22" tabindex="1"></textarea>
		<!-- ELSE -->
			<input type="text" class="inputbox" name="username_list" size="20" value="" />	
		<!-- ENDIF -->
	<!-- ENDIF -->

	<!-- IF S_GROUP_OPTIONS -->
		<select name="group_list[]" multiple="multiple" size="3">{S_GROUP_OPTIONS}</select>
	<!-- ENDIF -->

	<!-- IF not S_EDIT_POST -->
		<br clear="all" />
		<div style="margin-top: 2px">
			<!-- IF S_ALLOW_MASS_PM -->
				<input class="button2" type="submit" name="add_to" value="{L_ADD}" tabindex="1" />
				<input class="button2" type="submit" name="add_bcc" value="{L_ADD_BCC}" tabindex="1" />
				<!-- EVENT posting_pm_header_find_username_before -->
				<a href="{U_FIND_USERNAME}" class="bigger" onclick="find_username(this.href); return false;">{L_FIND_USERNAME}</a>
				<!-- EVENT posting_pm_header_find_username_after -->
			<!-- ELSE -->
				<input class="button2" type="submit" name="add_to" value="{L_ADD}" />
				<a href="{U_FIND_USERNAME}" class="bigger" onclick="find_username(this.href); return false;">{L_FIND_USERNAME}</a>
			<!-- ENDIF -->
		</div>
	<!-- ENDIF -->

	<!-- IF not S_EDIT_POST or S_GROUP_OPTIONS -->
			</td>
		</tr>
	<!-- ENDIF -->

	<!-- IF .to_recipient -->
		<tr>
			<td class="bg1"><b class="bigger">{L_TO}{L_COLON}</b></td>
			<td class="bg1">
				<!-- BEGIN to_recipient -->
					<span class="bigger"><!-- IF to_recipient.IS_GROUP --><b><a href="{to_recipient.U_VIEW}" style="color: {to_recipient.COLOUR}">{to_recipient.NAME}</a></b><!-- ELSE -->{to_recipient.NAME_FULL}<!-- ENDIF -->&nbsp;</span><!-- IF not S_EDIT_POST --><input class="button2" type="submit" name="remove_{to_recipient.TYPE}[{to_recipient.UG_ID}]" value="{L_REMOVE}" />&nbsp;<!-- ENDIF -->
				<!-- END to_recipient -->
			</td>
		</tr>
	<!-- ENDIF -->

	<!-- IF .bcc_recipient -->
		<tr>
			<td class="bg1"><b class="bigger">{L_BCC}{L_COLON}</b></td>
			<td class="bg1">
				<!-- BEGIN bcc_recipient -->
					<span class="bigger"><!-- IF bcc_recipient.IS_GROUP --><b><a href="{bcc_recipient.U_VIEW}" style="color: {bcc_recipient.COLOUR}">{bcc_recipient.NAME}</a></b><!-- ELSE -->{bcc_recipient.NAME_FULL}<!-- ENDIF -->&nbsp;</span><!-- IF not S_EDIT_POST --><input class="button2" type="submit" name="remove_{bcc_recipient.TYPE}[{bcc_recipient.UG_ID}]" value="{L_REMOVE}" />&nbsp;<!-- ENDIF -->
				<!-- END bcc_recipient -->
			</td>
		</tr>
	<!-- ENDIF -->
<!-- ENDIF -->

<!-- DEFINE $EXTRA_POSTING_OPTIONS = 1 -->
<!-- INCLUDE posting_editor.html -->

<tr>
	<td class="cat" colspan="2" align="center">{S_HIDDEN_ADDRESS_FIELD} {S_HIDDEN_FIELDS}
		<!-- IF S_HAS_DRAFTS and not S_SHOW_DRAFTS --><input class="button2" type="submit" tabindex="8" name="load" value="{L_LOAD_DRAFT}" /> &nbsp;<!-- ENDIF --><!-- IF S_SAVE_ALLOWED --><input class="button2" type="submit" tabindex="7" name="save" value="{L_SAVE_DRAFT}" /> &nbsp;<!-- ENDIF --><input class="button1" type="submit" tabindex="5" name="preview" value="{L_PREVIEW}" /> &nbsp;<input class="button1" type="submit" accesskey="s" tabindex="6" name="post" value="{L_SUBMIT}" /><!-- EVENT posting_editor_submit_buttons --> &nbsp;<input class="button2" type="submit" tabindex="9" name="cancel" value="{L_CANCEL}" />
	</td>
</tr>

<!-- IF S_SHOW_ATTACH_BOX and FILTERS --><!-- INCLUDE posting_attach_body.html --><!-- ENDIF -->
<!-- IF (S_SHOW_POLL_BOX or S_POLL_DELETE) and not S_PRIVMSGS --><!-- INCLUDE posting_poll_body.html --><!-- ENDIF -->
<!-- EVENT posting_layout_include_panel_body -->

<!-- IF (S_SHOW_ATTACH_BOX and FILTERS) or (S_SHOW_POLL_BOX and not S_PRIVMSGS) -->
	<tr>
		<td class="cat" colspan="2" align="center">
			<input class="button1" type="submit" name="preview" value="{L_PREVIEW}" /> &nbsp;<input class="button1" type="submit" name="post" value="{L_SUBMIT}" /> &nbsp;<input class="button2" type="submit" name="cancel" value="{L_CANCEL}" />
		</td>
	</tr>
<!-- ENDIF -->
</table>

<!-- IF S_DISPLAY_REVIEW --><br clear="all" /><!-- INCLUDE posting_topic_review.html --><!-- ENDIF -->

<!-- IF S_PRIVMSGS -->
	<!-- IF S_DISPLAY_HISTORY --></td></tr></table><br clear="all" /><!-- INCLUDE ucp_pm_history.html --><!-- DEFINE $HISTORY = 1 --><!-- ENDIF -->
	<!-- INCLUDE ucp_footer.html -->
<!-- ELSE -->
	{S_FORM_TOKEN}
	</form>
	<!-- INCLUDE overall_footer.html -->
<!-- ENDIF -->