<tr>
	<th colspan="2">{L_ADD_ATTACHMENT}</th>
</tr>
<tr>
	<td class="bg1" colspan="2"><span class="bigger">{L_ADD_ATTACHMENT_EXPLAIN}</span></td>
</tr>
<tr>
	<td class="bg1"><b class="bigger">{L_FILENAME}</b></td>
	<td class="bg1">
		<div class="bigger" id="upload_progress" style="font-weight: bold"></div>
		<input type="file" class="inputbox" name="fileupload" id="fileupload" />
		<input class="button2" type="submit" name="add_file" value="{L_ADD_FILE}" onclick="getStuff('upload_progress').innerHTML = '{LA_UPLOAD_IN_PROGRESS}';" />
	</td>
</tr>
<tr>
	<td class="bg1"><b class="bigger">{L_FILE_COMMENT}</b></td>
	<td class="bg1">
		<textarea name="filecomment" rows="3" cols="35">{FILE_COMMENT}</textarea>
	</td>
</tr>
<!-- EVENT posting_attach_body_file_list_before -->
<!-- IF .attach_row -->
	<tr>
		<th colspan="2">{L_POSTED_ATTACHMENTS}</th>
	</tr>
	<!-- EVENT posting_attach_body_attach_row_before -->
	<!-- BEGIN attach_row -->
		<!-- EVENT posting_attach_body_attach_row_prepend -->
		<tr>
			<td class="bg1"><b class="bigger">{L_FILENAME}</b></td>
			<td class="bg1">
				<a class="bigger" href="{attach_row.U_VIEW_ATTACHMENT}" target="_blank">{attach_row.FILENAME}</a>
				<!-- EVENT posting_attach_body_attach_row_controls_prepend -->
				<input class="button2" name="delete_file[{attach_row.ASSOC_INDEX}]" type="submit" value="{L_DELETE_FILE}" />
				<!-- EVENT posting_attach_body_attach_row_controls_append -->
			</td>
		</tr>
		<tr>
			<td class="bg1"><b class="bigger">{L_FILE_COMMENT}</b></td>
			<td class="bg1">{attach_row.S_HIDDEN}
				<textarea name="comment_list[{attach_row.ASSOC_INDEX}]" rows="3" cols="35" wrap="virtual">{attach_row.FILE_COMMENT}</textarea>
			</td>
		</tr>
		<!-- EVENT posting_attach_body_attach_row_append -->
	<!-- END attach_row -->
	<!-- EVENT posting_attach_body_attach_row_after -->
<!-- ENDIF -->
<!-- EVENT posting_attach_body_file_list_after -->