<!-- IF S_HAS_POLL_OPTIONS -->
	<table class="main" width="100%" cellspacing="1">
	<tr>
		<td class="bg1">
			<table cellspacing="1" align="center">
			<tr>
				<td align="center"><span class="big"><b>{POLL_QUESTION}</b></span><!-- IF L_POLL_LENGTH --><br /><span class="bigger">{L_POLL_LENGTH}</span><!-- ENDIF --></td>
			</tr>
			<tr>
				<td>
					<table align="center" cellspacing="1">
					<!-- BEGIN poll_option -->
						<tr>
							<td><input type="<!-- IF S_IS_MULTI_CHOICE -->checkbox<!-- ELSE -->radio<!-- ENDIF -->" name="vote_id" value="" /></td>
							<td class="big">{poll_option.POLL_OPTION_CAPTION}</td>
						</tr>
					<!-- END poll_option -->
					</table>
				</td>
			</tr>
			<tr>
				<td align="center">{L_MAX_VOTES}</td>
			</tr>
			</table>
		</td>
	</tr>
	</table>
<!-- ENDIF -->
<!-- EVENT posting_preview_poll_after -->
<table class="main" width="100%" cellspacing="1">
<tr>
	<th align="{S_CONTENT_FLOW_BEGIN}">{L_PREVIEW}</th>
</tr>
<tr class="bg1">
	<td>
		<table width="100%" cellspacing="0">
			<tr class="bigger">
				<td><b>{L_POST_SUBJECT}{L_COLON}</b> {PREVIEW_SUBJECT}</td>
				<!-- IF not S_PRIVMSGS -->
					<td align="{S_CONTENT_FLOW_END}"><b>{L_POSTED}{L_COLON}</b> {POST_DATE}</td>
				<!-- ENDIF -->
			</tr>
		</table>
	</td>
</tr>
<tr class="bg1">
	<td>
		<table cellspacing="5" width="100%">
		<tr>
			<td><div class="postbody"><div class="content">{PREVIEW_MESSAGE}</div><!-- EVENT posting_preview_content_after --></div>

			<!-- IF .attachment -->
				<br />

				<table class="main" width="100%" cellspacing="1">
				<tr>
					<td class="bg3"><b class="bigger">{L_ATTACHMENTS}</b></td>
				</tr>
				<!-- BEGIN attachment -->
					<tr class="postbody">
						<td class="bg2">{attachment.DISPLAY_ATTACHMENT}</td>
					</tr>
				<!-- END attachment -->
				</table>
			<!-- ENDIF -->
			<!-- IF PREVIEW_SIGNATURE -->
				<span class="postbody"><span class="signature"><p>_________________</p>{PREVIEW_SIGNATURE}</span></span>
			<!-- ENDIF -->
			</td>
		</tr>
		</table>
	</td>
</tr>
</table>