<!-- IF S_EDIT_DRAFT or $SIG_EDIT -->
	<!-- IF ERROR -->
		<tr>
			<td class="bg1" colspan="2" align="center"><p class="error">{ERROR}</p></td>
		</tr>
	<!-- ENDIF -->
<!-- ENDIF -->

<!-- IF not S_PRIVMSGS and S_DISPLAY_USERNAME -->
	<tr>
		<td class="bg1"><b class="bigger">{L_USERNAME}{L_COLON}</b></td>
		<td class="bg1"><input type="text" class="inputbox" tabindex="1" name="username" size="25" value="{USERNAME}" /></td>
	</tr>
<!-- ENDIF -->

<!-- IF S_POST_ACTION or S_PRIVMSGS or S_EDIT_DRAFT -->
	<!-- EVENT posting_editor_subject_before -->
	<tr>
		<td class="bg1"><b class="bigger">{L_SUBJECT}{L_COLON}</b></td>
		<td class="bg1">
			<!-- EVENT posting_editor_subject_prepend -->
			<input type="text" class="inputbox" name="subject" size="<!-- IF S_IN_UCP or S_IN_MCP -->40<!-- ELSE -->60<!-- ENDIF -->" maxlength="<!-- IF S_NEW_MESSAGE -->120<!-- ELSE -->124<!-- ENDIF -->" tabindex="2" value="{SUBJECT}{DRAFT_SUBJECT}" />
			<!-- EVENT posting_editor_subject_append -->
		</td>
	</tr>
	<!-- EVENT posting_editor_subject_after -->
	<!-- IF CAPTCHA_TEMPLATE and S_CONFIRM_CODE -->
		<!-- DEFINE $CAPTCHA_EDITOR = 1 -->
		<!-- DEFINE $CAPTCHA_TAB_INDEX = 3 -->
		<!-- INCLUDE {CAPTCHA_TEMPLATE} -->
	<!-- ENDIF -->
<!-- ENDIF -->

<tr valign="top">
	<td class="bg1" width="22%">
	<!-- IF $SIG_EDIT -->
		<span class="bigger">{L_SIGNATURE_EXPLAIN}</span><br />
	<!-- ELSEIF S_EDIT_DRAFT -->
		<span class="bigger"><b>{L_MESSAGE}{L_COLON}</b><br />{L_EDIT_DRAFT_EXPLAIN}
		<br /><br /><b><a href="{S_UCP_ACTION}">{L_BACK_TO_DRAFTS}</a></b></span><br />
	<!-- ELSE -->
		<b class="bigger">{L_MESSAGE_BODY}{L_COLON}</b><br />
	<!-- ENDIF -->
	<!-- IF S_SMILIES_ALLOWED and (.smiley or S_SHOW_SMILEY_LINK) -->
		<!-- EVENT posting_editor_smilies_before -->
		<table cellspacing="5" width="100%">
		<!-- IF .smiley -->
			<tr>
				<td class="bigger" align="center"><b>{L_SMILIES}</b></td>
			</tr>
			<tr>
				<td class="bigger" align="center">
				<!-- BEGIN smiley -->
					<a href="#" onclick="insert_text('{smiley.A_SMILEY_CODE}', true); return false;" style="line-height: 20px"><img src="{smiley.SMILEY_IMG}" width="{smiley.SMILEY_WIDTH}" height="{smiley.SMILEY_HEIGHT}" alt="{smiley.SMILEY_CODE}" border="0" title="{smiley.SMILEY_DESC}" hspace="2" vspace="2" /></a>
				<!-- END smiley -->
				</td>
			</tr>
		<!-- ENDIF -->
		<!-- IF S_SHOW_SMILEY_LINK -->
			<tr>
				<td align="center"><a href="{U_MORE_SMILIES}" style="font-weight: bold" onclick="popup(this.href, 300, 350, '_phpbbsmilies'); return false;">{L_MORE_SMILIES}</a></td>
			</tr>
		<!-- ENDIF -->
		</table>
		<!-- EVENT posting_editor_smilies_after -->
	<!-- ENDIF -->
	</td>
	<td class="bg1">
		<!-- INCLUDE posting_buttons.html -->
		<input type="text" disabled="disabled" name="helpbox" style="display: none" value="" />
		<!-- EVENT posting_editor_message_before -->
		<table cellspacing="0" width="100%">
			<tr valign="top">
				<td style="padding: 2px" width="100%">
					<table cellspacing="0" class="message-box" width="100%"><tr><td>
					<textarea name="<!-- IF $SIG_EDIT -->signature<!-- ELSE -->message<!-- ENDIF -->" rows="15" cols="<!-- IF S_IN_UCP or S_IN_MCP -->35<!-- ELSE -->50<!-- ENDIF -->" tabindex="4" onselect="storeCaret(this);" onclick="storeCaret(this);" onkeyup="storeCaret(this);" onfocus="initInsertions();" style="height: 270px">{MESSAGE}{DRAFT_MESSAGE}{SIGNATURE}</textarea>
					</td></tr></table>
				</td>
				<!-- IF S_BBCODE_ALLOWED -->
					<td style="padding: 4px; padding-{S_CONTENT_FLOW_END}: 0">
					<script type="text/javascript"><!--
						if (typeof colorPalette === 'function') { document.write(colorPalette());}
					//--></script>
					</td>
				<!-- ENDIF -->
				<td style="padding: 0">&nbsp;</td>
			</tr>
		</table>
		<!-- EVENT posting_editor_message_after -->
	</td>
</tr>

<!-- IF $EXTRA_POSTING_OPTIONS or $SIG_EDIT -->

	<!-- IF not $SIG_EDIT -->
		<!-- IF S_BBCODE_ALLOWED and S_INLINE_ATTACHMENT_OPTIONS and FILTERS -->
			<tr>
				<td class="bg1"><b class="bigger">{L_ATTACHMENTS}{L_COLON}</b></td>
				<td class="bg1"><select name="attachments">{S_INLINE_ATTACHMENT_OPTIONS}</select> <input type="button" class="button2" accesskey="a" value="{L_PLACE_INLINE}" name="attachinline" onclick="attach_form = document.forms[form_name].elements['attachments']; attachInline(attach_form.value, attach_form.options[attach_form.selectedIndex].text);" title="{L_BBCODE_A_HELP}" /></td>
			</tr>
		<!-- ENDIF -->
	<!-- ENDIF -->

	<tr valign="top">
		<td class="bg1">
			<b class="bigger">{L_OPTIONS}{L_COLON}</b><br />
			<!-- IF BBCODE_STATUS -->
				<table cellspacing="2">
				<tr>
					<td class="bigger">{BBCODE_STATUS}</td>
				</tr>
				<!-- IF S_BBCODE_ALLOWED -->
				<tr>
					<td class="bigger">{IMG_STATUS}</td>
				</tr>
				<tr>
					<td class="bigger">{FLASH_STATUS}</td>
				</tr>
				<tr>
					<td class="bigger">{URL_STATUS}</td>
				</tr>
				<!-- ENDIF -->
				<tr>
					<td class="bigger">{SMILIES_STATUS}</td>
				</tr>
				</table>
				<!-- EVENT posting_editor_bbcode_status_after -->
			<!-- ENDIF -->
		</td>
		<td class="bg1">
			<table cellspacing="2">
			<!-- IF $SIG_EDIT --><!-- EVENT ucp_profile_signature_posting_editor_options_prepend --><!-- ELSE --><!-- EVENT posting_editor_options_prepend --><!-- ENDIF -->

			<!-- IF S_BBCODE_ALLOWED -->
				<tr>
					<td><input type="checkbox" name="disable_bbcode"{S_BBCODE_CHECKED} /></td>
					<td class="bigger">{L_DISABLE_BBCODE}</td>
				</tr>
			<!-- ENDIF -->

			<!-- IF S_SMILIES_ALLOWED -->
				<tr>
					<td><input type="checkbox" name="disable_smilies"{S_SMILIES_CHECKED} /></td>
					<td class="bigger">{L_DISABLE_SMILIES}</td>
				</tr>
			<!-- ENDIF -->

			<!-- IF S_LINKS_ALLOWED -->
				<tr>
					<td><input type="checkbox" name="disable_magic_url"{S_MAGIC_URL_CHECKED} /></td>
					<td class="bigger">{L_DISABLE_MAGIC_URL}</td>
				</tr>
			<!-- ENDIF -->

			<!-- IF not $SIG_EDIT -->
				<!-- IF S_SIG_ALLOWED -->
					<tr>
						<td><input type="checkbox" name="attach_sig"{S_SIGNATURE_CHECKED} /></td>
						<td class="bigger">{L_ATTACH_SIG}</td>
					</tr>
				<!-- ENDIF -->

				<!-- IF S_NOTIFY_ALLOWED -->
					<tr>
						<td><input type="checkbox" name="notify"{S_NOTIFY_CHECKED} /></td>
						<td class="bigger">{L_NOTIFY_REPLY}</td>
					</tr>
				<!-- ENDIF -->

				<!-- IF S_LOCK_TOPIC_ALLOWED -->
					<tr>
						<td><input type="checkbox" name="lock_topic"{S_LOCK_TOPIC_CHECKED} /></td>
						<td class="bigger">{L_LOCK_TOPIC}</td>
					</tr>
				<!-- ENDIF -->

				<!-- IF S_LOCK_POST_ALLOWED -->
					<tr>
						<td><input type="checkbox" name="lock_post"{S_LOCK_POST_CHECKED} /></td>
						<td class="bigger">{L_LOCK_POST} [{L_LOCK_POST_EXPLAIN}]</td>
					</tr>
				<!-- ENDIF -->

				<!-- IF S_TYPE_TOGGLE -->
					<tr>
						<td></td>
						<td class="bigger"><!-- IF S_EDIT_POST -->{L_CHANGE_TOPIC_TO}<!-- ELSE -->{L_POST_TOPIC_AS}<!-- ENDIF -->{L_COLON} <!-- BEGIN topic_type --><input type="radio" name="topic_type" value="{topic_type.VALUE}"{topic_type.S_CHECKED} /> {topic_type.L_TOPIC_TYPE} &nbsp;<!-- END topic_type --></td>
					</tr>
				<!-- ENDIF -->
			<!-- ENDIF -->
			</table>
		</td>
	</tr>

	<!-- IF not $SIG_EDIT -->
		<!-- IF S_TOPIC_TYPE_ANNOUNCE or S_TOPIC_TYPE_STICKY -->
			<tr>
				<td class="bg1"><b class="bigger">{L_STICK_TOPIC_FOR}{L_COLON}</b></td>
				<td class="bg1"><input type="text" class="inputbox" size="3" maxlength="3" name="topic_time_limit" value="{TOPIC_TIME_LIMIT}" /> <b class="bigger">{L_DAYS}</b> <span class="bigger">{L_STICK_TOPIC_FOR_EXPLAIN}</span></td>
			</tr>
		<!-- ENDIF -->

		<!-- IF S_SOFTDELETE_ALLOWED or S_DELETE_ALLOWED -->
			<tr>
				<td class="bg1" valign="top"><b class="bigger">{L_DELETE_POST}{L_COLON}</b></td>
				<td class="bg1">
					<table cellspacing="2">
						<tr>
							<td><input type="checkbox" name="delete" {S_SOFTDELETE_CHECKED} /></td>
							<td class="bigger">{L_DELETE_POST_WARN}</td>
						</tr>
						<!-- IF S_SOFTDELETE_ALLOWED and S_DELETE_ALLOWED -->
							<tr>
								<td><input type="checkbox" name="delete_permanent" /></td>
								<td class="bigger">{L_DELETE_POST_PERMANENTLY}</td>
							</tr>
						<!-- ENDIF -->
					</table>
				</td>
			</tr>
		<!-- ENDIF -->

		<!-- IF S_EDIT_REASON -->
			<tr>
				<td class="bg1" valign="top"><b class="bigger">{L_EDIT_REASON}{L_COLON}</b></td>
				<td class="bg1"><input type="text" class="inputbox" name="edit_reason" size="50" value="{EDIT_REASON}" /></td>
			</tr>
		<!-- ENDIF -->
	<!-- ENDIF -->
<!-- ENDIF -->