<form method="post" action="{U_QR_ACTION}">
<!-- EVENT quickreply_editor_panel_before -->
	<table class="main" width="100%" cellspacing="1">
		<tr>
			<th>{L_QUICKREPLY}</th>
		</tr>
		<!-- EVENT quickreply_editor_subject_before -->
		<tr>
			<td class="bg1" align="center">
				<b class="bigger">{L_SUBJECT}{L_COLON}</b>
				<input type="text" class="inputbox" name="subject" size="60" maxlength="124" tabindex="2" value="{SUBJECT}" />
			</td>
		</tr>
		<!-- EVENT quickreply_editor_message_before -->
		<tr>
			<td class="bg1">
				<table align="center" cellspacing="0" width="70%"><tr><td>&nbsp;</td><td width="100%" style="padding: 0">
				<table cellspacing="0" class="message-box" width="100%"><tr><td style="padding-top: 0; padding-bottom: 0">
				<textarea name="message" rows="7" cols="65" tabindex="3"></textarea>
				</td></tr></table></td></tr></table>
			</td>
		</tr>
		<!-- EVENT quickreply_editor_message_after -->
	</table>
	<table cellspacing="0" width="100%">
		<tr>
			<td class="cat" align="center">
				<input type="text" disabled="disabled" size="1" style="display: none" value="" />
				<input class="button2" type="submit" accesskey="f" tabindex="6" name="preview" value="{L_FULL_EDITOR}" />
				&nbsp;<input class="button1" type="submit" accesskey="s" tabindex="7" name="post" value="{L_SUBMIT}" />

				{S_FORM_TOKEN}
				{QR_HIDDEN_FIELDS}
			</td>
		</tr>
	</table>
<!-- EVENT quickreply_editor_panel_after -->
</form>