<!-- INCLUDE ucp_header.html -->

<table class="main" width="100%" cellspacing="1">
<tr>
	<th colspan="3">{L_TITLE}</th>
</tr>
<tr class="bigger">
	<td class="bg1" colspan="3" align="center">{L_UCP_WELCOME}</td>
</tr>
<!-- IF .topicrow -->
	<tr>
		<th colspan="3">{L_IMPORTANT_NEWS}</th>
	</tr>
	<!-- BEGIN topicrow -->
		<tr><!-- IF topicrow.S_ROW_COUNT is even --><!-- DEFINE $BG = 'bg1' --><!-- ELSE --><!-- DEFINE $BG = 'bg2' --><!-- ENDIF -->
			<td align="center" class="{$BG}" width="25"><!-- IF topicrow.S_UNREAD --><a href="{topicrow.U_NEWEST_POST}"><!-- ENDIF --><img src="{T_THEME_PATH}/images/{topicrow.TOPIC_IMG_STYLE}.gif" width="19" height="18" alt="<!-- IF topicrow.S_UNREAD -->+" border="0<!-- ENDIF -->" title="<!-- IF topicrow.S_UNREAD -->{L_UNREAD_POSTS}<!-- ELSE -->{L_NO_UNREAD_POSTS}<!-- ENDIF -->" /><!-- IF topicrow.S_UNREAD --></a><!-- ENDIF --></td>
			<td class="{$BG}" width="86%">
				<!-- IF topicrow.S_UNREAD --><a href="{topicrow.U_NEWEST_POST}"><img src="{T_THEME_PATH}/images/icon_topic_newest.gif" width="18" height="9" alt="&gt;&gt;&gt;" border="0" title="{L_UNREAD_POSTS}" /></a><!-- ENDIF -->
				<!-- IF topicrow.ATTACH_ICON_IMG --><img src="{T_THEME_PATH}/images/icon_topic_attach.gif" width="14" height="18" alt="(*)" title="{L_TOTAL_ATTACHMENTS}" /><!-- ENDIF -->
				<a title="{L_POSTED}{L_COLON} {topicrow.FIRST_POST_TIME}" href="{topicrow.U_VIEW_TOPIC}" class="topictitle">{topicrow.TOPIC_TITLE}</a>
			</td>
			<td align="center" class="{$BG}" width="14%">
				<p>{topicrow.LAST_POST_TIME}<br />{topicrow.LAST_POST_AUTHOR_FULL} <a href="{topicrow.U_LAST_POST}"><img src="{T_THEME_PATH}/images/icon_topic_latest.gif" width="18" height="9" alt="&gt;" border="0" title="{L_GOTO_LAST_POST}" /></a></p>
			</td>
		</tr>
	<!-- END topicrow -->
<!-- ENDIF -->
<tr>
	<th colspan="3">{L_YOUR_DETAILS}</th>
</tr>
<tr>
<!-- EVENT ucp_main_front_user_activity_before -->
	<td class="bg1" colspan="3">
		<!-- EVENT ucp_main_front_user_activity_prepend -->
		<table width="100%" cellspacing="1">
		<tr class="bigger" valign="top">
			<td align="{S_CONTENT_FLOW_END}" width="30%"><b>{L_JOINED}{L_COLON}</b></td>
			<td><b>{JOINED}</b></td>
		</tr>
		<tr class="bigger" valign="top">
			<td align="{S_CONTENT_FLOW_END}"><b>{L_LAST_ACTIVE}{L_COLON}</b></td>
			<td><b>{LAST_VISIT_YOU}</b></td>
		</tr>
		<!-- IF WARNINGS -->
			<tr class="bigger" valign="top">
				<td align="{S_CONTENT_FLOW_END}"><b>{L_YOUR_WARNINGS}{L_COLON}</b></td>
				<td>[<b>{WARNINGS}</b>]</td>
			</tr>
		<!-- ENDIF -->
		<tr class="bigger" valign="top"> 
			<td align="{S_CONTENT_FLOW_END}"><b>{L_TOTAL_POSTS}{L_COLON}</b></td>
			<td><b>{POSTS}</b><!-- IF POSTS_PCT --><br />[{POSTS_DAY} / {POSTS_PCT}]<!-- IF S_DISPLAY_SEARCH --><br /><a href="{U_SEARCH_USER}">{L_SEARCH_YOUR_POSTS}</a><!-- ENDIF --><!-- ENDIF --></td>
		</tr>
		<!-- IF ACTIVE_FORUM != '' -->
			<tr class="bigger" valign="top">
				<td align="{S_CONTENT_FLOW_END}"><b>{L_ACTIVE_IN_FORUM}{L_COLON}</b></td>
				<td><b><a href="{U_ACTIVE_FORUM}">{ACTIVE_FORUM}</a></b><br />[&nbsp;{ACTIVE_FORUM_POSTS} / {ACTIVE_FORUM_PCT}&nbsp;]</td>
			</tr>
		<!-- ENDIF -->
		<!-- IF ACTIVE_TOPIC != '' -->
			<tr class="bigger" valign="top">
				<td align="{S_CONTENT_FLOW_END}"><b>{L_ACTIVE_IN_TOPIC}{L_COLON}</b></td>
				<td><b><a href="{U_ACTIVE_TOPIC}">{ACTIVE_TOPIC}</a></b><br />[&nbsp;{ACTIVE_TOPIC_POSTS} / {ACTIVE_TOPIC_PCT}&nbsp;]</td>
			</tr>
		<!-- ENDIF -->
		</table>
		<!-- EVENT ucp_main_front_user_activity_append -->
	</td>
<!-- EVENT ucp_main_front_user_activity_after -->
</tr>
</table>

<!-- INCLUDE ucp_footer.html -->
