<table width="100%" cellspacing="0">
	<tr>
		<td class="bg1" width="35%"><b class="bigger">{L_UPLOAD_AVATAR_FILE}{L_COLON}</b></td>
		<td class="bg1"><input type="hidden" name="MAX_FILE_SIZE" value="{AVATAR_UPLOAD_SIZE}" /><input type="file" class="inputbox" name="avatar_upload_file" /></td>
	</tr>
<!-- IF S_UPLOAD_AVATAR_URL -->
	<tr>
		<td class="bg1"><b class="bigger">{L_UPLOAD_AVATAR_URL}{L_COLON}</b><br /><span class="bigger">{L_UPLOAD_AVATAR_URL_EXPLAIN}</span></td>
		<td class="bg1"><input type="text" class="inputbox" name="avatar_upload_url" size="30" value="" /></td>
	</tr>
<!-- ENDIF -->
</table>
