<!-- INCLUDE ucp_header.html -->

<!-- INCLUDE ucp_pm_message_header.html -->

<table class="main" width="100%" cellspacing="1" style="margin-bottom: 4px">

<tr class="bg1">
	<td class="bigger" width="150"><b>{L_PM_SUBJECT}{L_COLON}</b></td>
	<td class="big">{SUBJECT}</td>
</tr>

<tr class="bg1">
	<td class="bigger"><b>{L_PM_FROM}{L_COLON}</b></td>
	<td class="big">{MESSAGE_AUTHOR_FULL}</td>
</tr>

<tr class="bg1">
	<td class="bigger"><b>{L_SENT_AT}{L_COLON}</b></td>
	<td class="big">{SENT_DATE}</td>
</tr>

<!-- IF S_TO_RECIPIENT -->
	<tr class="bg1">
		<td class="bigger"><b>{L_TO}{L_COLON}</b></td>
		<td class="big">
		<!-- BEGIN to_recipient -->
			<!-- IF to_recipient.IS_GROUP --><b><a href="{to_recipient.U_VIEW}"<!-- IF to_recipient.COLOUR --> style="color: {to_recipient.COLOUR}"<!-- ENDIF -->>{to_recipient.NAME}</a></b><!-- ELSE -->{to_recipient.NAME_FULL}<!-- ENDIF -->&nbsp;
		<!-- END to_recipient -->
		</td>
	</tr>
<!-- ENDIF -->

<!-- IF S_BCC_RECIPIENT -->
	<tr class="bg1">
		<td class="bigger"><b>{L_BCC}{L_COLON}</b></td>
		<td class="big">
		<!-- BEGIN bcc_recipient -->
			<!-- IF bcc_recipient.IS_GROUP --><b><a href="{bcc_recipient.U_VIEW}"<!-- IF bcc_recipient.COLOUR --> style="color: {bcc_recipient.COLOUR}"<!-- ENDIF -->>{bcc_recipient.NAME}</a></b><!-- ELSE -->{bcc_recipient.NAME_FULL}<!-- ENDIF -->&nbsp;
		<!-- END bcc_recipient -->
		</td>
	</tr>
<!-- ENDIF -->
</table>

<table class="main" width="100%" cellspacing="1">

<tr>
	<th>{L_MESSAGE}</th>
</tr>

<tr class="bg1">
	<td valign="top">
		<table cellspacing="5" width="100%">
		<tr>
			<td>
				<div class="postbody"><div class="content">{MESSAGE}</div></div>

				<!-- IF S_HAS_ATTACHMENTS -->
					<br />

					<table class="main" width="100%" cellspacing="1">
					<tr>
						<td class="bg3"><b class="bigger">{L_ATTACHMENTS}</b></td>
					</tr>
					<!-- BEGIN attachment -->
						<tr class="postbody">
							<td class="bg2">{attachment.DISPLAY_ATTACHMENT}</td>
						</tr>
					<!-- END attachment -->
					</table>
				<!-- ENDIF -->

				<!-- IF S_DISPLAY_NOTICE -->
					<br /><p class="error">{L_DOWNLOAD_NOTICE}</p>
				<!-- ENDIF -->
				<!-- IF EDITED_MESSAGE -->
					{EDITED_MESSAGE}
				<!-- ENDIF -->
				<!-- IF SIGNATURE -->
					<span class="postbody"><span class="signature"><p>_________________</p>{SIGNATURE}</span></span>
				<!-- ENDIF -->

				<br clear="all" /><br />

				<table width="100%" cellspacing="0">
				<tr>
					<td align="{S_CONTENT_FLOW_END}">
						<!-- IF U_DELETE --><a href="{U_DELETE}"><img src="{T_THEME_PATH}/images/icon_post_delete.gif" width="20" height="20" alt="[X]" border="0" title="{L_DELETE_MESSAGE}" /></a> <!-- ENDIF -->
						<!-- IF U_REPORT --><a href="{U_REPORT}"><img src="{T_THEME_PATH}/images/icon_post_report.gif" width="20" height="20" alt="[!]" border="0" title="{L_REPORT_PM}" /></a> <!-- ENDIF -->
					</td>
				</tr>
				</table>
			</td>
		</tr>
		</table>
	</td>
</tr>

<tr class="bg1">
	<td>
		<table width="100%" cellspacing="0"><tr>
			<td>
				<!-- IF U_MESSAGE_AUTHOR --><a class="button" href="{U_MESSAGE_AUTHOR}" title="{L_READ_PROFILE}{L_COLON} {MESSAGE_AUTHOR}">{L_READ_PROFILE}</a> <!-- ENDIF -->
				<!-- IF U_EMAIL --><a class="button" href="{U_EMAIL}" title="{L_SEND_EMAIL}">{L_EMAIL}</a> <!-- ENDIF -->
			</td>
			<td align="{S_CONTENT_FLOW_END}">
				<!-- EVENT ucp_pm_viewmessage_post_buttons_before -->
				<!-- IF U_EDIT --><a class="button" href="{U_EDIT}" title="{L_POST_EDIT_PM}">{L_BUTTON_EDIT}</a> <!-- ENDIF -->
				<!-- IF U_QUOTE --><a class="button" href="{U_QUOTE}" title="{L_POST_QUOTE_PM}">{L_BUTTON_QUOTE}</a> <!-- ENDIF -->
				<!-- IF U_POST_REPLY_PM --><a class="button" href="{U_POST_REPLY_PM}" title="{L_POST_REPLY_PM}">{L_BUTTON_PM_REPLY}</a><!-- ENDIF -->
				<!-- EVENT ucp_pm_viewmessage_post_buttons_after -->
			</td>
		</tr></table>
	</td>
</tr>
</table>

<!-- INCLUDE ucp_pm_message_footer.html -->

<!-- IF S_DISPLAY_HISTORY --></td></tr></table><br clear="all" /><!-- INCLUDE ucp_pm_history.html --><!-- DEFINE $HISTORY = 1 --><!-- ENDIF -->

<!-- INCLUDE ucp_footer.html -->
