<table width="100%" cellspacing="0">
	<tr>
		<td class="bg1" width="35%"><b class="bigger">{L_LINK_REMOTE_AVATAR}{L_COLON}</b><br /><span class="bigger">{L_LINK_REMOTE_AVATAR_EXPLAIN}</span></td>
		<td class="bg1"><input type="text" class="inputbox" name="avatar_remote_url" size="30" value="{AVATAR_REMOTE_URL}" /></td>
	</tr>
	<tr>
		<td class="bg1"><b class="bigger">{L_LINK_REMOTE_SIZE}{L_COLON}</b><br /><span class="bigger">{L_LINK_REMOTE_SIZE_EXPLAIN}</span></td>
		<td class="bg1"><input type="text" class="inputbox" name="avatar_remote_width" size="5" value="{AVATAR_REMOTE_WIDTH}" /> <span class="bigger">{L_PIXEL} &#215; </span> <input type="text" class="inputbox" name="avatar_remote_height" size="5" value="{AVATAR_REMOTE_HEIGHT}" /> <span class="bigger">{L_PIXEL}</span></td>
	</tr>
</table>
