<!-- INCLUDE ucp_header.html -->

<form name="ucp" id="ucp" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>

<table class="main" width="100%" cellspacing="1">
<tr>
	<th colspan="<!-- IF MODE == 'notification_options' -->{NOTIFICATION_TYPES_COLS}<!-- ELSE -->2<!-- ENDIF -->">{TITLE}</th>
</tr>
<tr class="bigger">
	<td align="center" class="bg1" colspan="<!-- IF MODE == 'notification_options' -->{NOTIFICATION_TYPES_COLS}<!-- ELSE -->2<!-- ENDIF -->">{TITLE_EXPLAIN}</td>
</tr>
<!-- IF MODE == 'notification_options' -->
	<tr>
		<th>{L_NOTIFICATION_TYPE}</th>
		<!-- BEGIN notification_methods -->
			<th width="10%">{notification_methods.NAME}</th>
		<!-- END notification_methods -->
	</tr>
	<!-- BEGIN notification_types -->
		<!-- IF notification_types.GROUP_NAME -->
			<tr>
				<td class="bg3" colspan="{NOTIFICATION_TYPES_COLS}"><span class="bigger">{notification_types.GROUP_NAME}</span></td>
			</tr>
		<!-- ELSE -->
			<tr class="<!-- IF notification_types.S_ROW_COUNT is even -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">
				<td>
					<span class="bigger">{notification_types.NAME}
						<!-- IF notification_types.EXPLAIN --><br /> &nbsp; {notification_types.EXPLAIN}<!-- ENDIF -->
					</span>
				</td>
				<!-- BEGIN notification_methods -->
					<td align="center"><input type="checkbox" name="{notification_types.TYPE}_{notification_types.notification_methods.METHOD}"<!-- IF notification_types.notification_methods.SUBSCRIBED --> checked="checked"<!-- ENDIF --><!-- IF not notification_types.notification_methods.AVAILABLE --> disabled="disabled"<!-- ENDIF --> /></td>
				<!-- END notification_methods -->
			</tr>
		<!-- ENDIF -->
	<!-- END notification_types -->
	</table>
	<table cellspacing="0" width="100%">
	<tr>
		<td class="cat" align="center">
			<input type="hidden" name="form_time" value="{FORM_TIME}" />
			{S_HIDDEN_FIELDS}
			<input class="button2" type="reset" value="{L_RESET}" name="reset" /> &nbsp;<input class="button1" type="submit" name="submit" value="{L_SUBMIT}" />
			{S_FORM_TOKEN}
		</td>
	</tr>
<!-- ELSE -->
	<!-- IF .notification_list -->
		<tr>
			<th colspan="2">{L_NOTIFICATIONS}</th>
		</tr>
			<!-- IF U_MARK_ALL or .pagination -->
				<tr>
					<td class="bg3" colspan="2" align="{S_CONTENT_FLOW_END}"><!-- IF U_MARK_ALL --><b><a href="{U_MARK_ALL}">{L_MARK_ALL_READ}</a></b><!-- IF .pagination --> | <!-- ENDIF --><!-- ENDIF --><!-- INCLUDE pagination.html --></td>
				</tr>
			<!-- ENDIF -->
	<!-- ENDIF -->
	<!-- BEGIN notification_list -->
		<tr class="forumdesc">
			<td class="bg1" width="97%">
				<!-- IF notification_list.URL --><a href="<!-- IF notification_list.UNREAD -->{notification_list.U_MARK_READ}"><img src="{T_THEME_PATH}/images/icon_topic_newest.gif" width="18" height="9" alt="&gt;&gt;&gt;" border="0" title="{L_UNREAD_POSTS}" /> <!-- ELSE -->{notification_list.URL}"><!-- ENDIF --><!-- ENDIF -->{notification_list.FORMATTED_TITLE}<!-- IF notification_list.REFERENCE --> {notification_list.REFERENCE}<!-- ENDIF --><!-- IF notification_list.URL --></a><!-- ENDIF -->
				<!-- IF notification_list.FORUM --><br />{notification_list.FORUM}<!-- ENDIF -->
				<!-- IF notification_list.REASON --><br />{notification_list.REASON}<!-- ENDIF -->
				<div class="small">{notification_list.TIME}</div>
			</td>
			<td align="center" class="bg1" width="3%">
				<input type="checkbox" name="mark[]" value="{notification_list.NOTIFICATION_ID}"<!-- IF not notification_list.UNREAD --> disabled="disabled"<!-- ENDIF --> />
			</td>
		</tr>
	<!-- END notification_list -->
		<!-- IF .notification_list -->
			</table>
			<table cellspacing="0" width="100%"><tr>
			<td class="cat" align="{S_CONTENT_FLOW_END}">
				<input type="hidden" name="form_time" value="{FORM_TIME}" />
				{S_HIDDEN_FIELDS}
				<input class="button1" type="submit" name="submit" value="{L_MARK_READ}" />
				{S_FORM_TOKEN}
			</td></tr>
		<!-- ELSE -->
			<tr><td align="center" class="bg1" colspan="2">
				<b class="bigger">{L_NO_NOTIFICATIONS}</b>
			</td></tr>
		<!-- ENDIF -->
<!-- ENDIF -->
</table>

<!-- IF .notification_list or MODE == 'notification_options' -->
	<table width="100%" cellspacing="1"><tr>
		<!-- IF MODE != 'notification_options' --><td nowrap="nowrap"><b>{PAGE_NUMBER}</b> &nbsp;[ {TOTAL_COUNT} {L_NOTIFICATIONS} ]</td><!-- ENDIF -->
		<td align="{S_CONTENT_FLOW_END}" nowrap="nowrap"><b><a href="#" onclick="marklist('ucp', '', true); return false;">{L_MARK_ALL}</a> :: <a href="#" onclick="marklist('ucp', '', false); return false;">{L_UNMARK_ALL}</a></b></td>
		<!-- IF MODE != 'notification_options' and .pagination --></tr><tr><td align="{S_CONTENT_FLOW_END}" colspan="2"><!-- INCLUDE pagination.html --></td><!-- ENDIF -->
	</tr></table>
<!-- ENDIF -->

</form>

<!-- INCLUDE ucp_footer.html -->