<!-- BEGIN oauth -->
	<tr>
		<td class="bg3"><b class="bigger">{oauth.SERVICE_NAME}</b></td>
	</tr>
	<tr>
		<td class="bg1">
			<form id="ucp_oauth_{oauth.SERVICE_ID}" method="post" action="{S_UCP_ACTION}">
				<table cellspacing="1">
						<tr>
							<td class="bigger"><!-- IF oauth.UNIQUE_ID -->{L_UCP_AUTH_LINK_ID}{L_COLON} {oauth.UNIQUE_ID}<!-- ELSE -->{L_UCP_AUTH_LINK_ASK}<!-- ENDIF --></td>
						</tr>
						<tr>
							<td><input type="submit" name="submit" tabindex="6" value="<!-- IF oauth.UNIQUE_ID -->{L_UCP_AUTH_LINK_UNLINK}<!-- ELSE -->{L_UCP_AUTH_LINK_LINK}<!-- ENDIF -->" class="button2" /></td>
						</tr>
				</table>
				{oauth.HIDDEN_FIELDS}
				{S_HIDDEN_FIELDS}
				{S_FORM_TOKEN}
			</form>
		</td>
	</tr>
<!-- END oauth -->