<!-- INCLUDE overall_header.html -->

<form action="{S_PROFILE_ACTION}" method="post">

<table class="main" width="100%" cellspacing="1">
<tr>
	<th>{L_UCP_RESEND}</th>
</tr>
<tr>
	<td class="bg2">
		<table cellspacing="1" width="100%">
		<tr>
			<td width="50%"><b class="bigger">{L_USERNAME}{L_COLON}</b></td>
			<td><input type="text" class="inputbox" name="username" size="25" value="{USERNAME}" /></td>
		</tr>
		<tr valign="top">
			<td><b class="bigger">{L_EMAIL_ADDRESS}{L_COLON}</b></td>
			<td rowspan="2"><input type="text" class="inputbox" name="email" size="25" maxlength="100" /></td>
		</tr>
		<tr>
			<td class="bigger">{L_EMAIL_REMIND}</td>
		</tr>
		</table>
	</td>
</tr>
<tr>
	<td class="cat" align="center">{S_HIDDEN_FIELDS}<input type="submit" name="submit" value="{L_SUBMIT}" class="button1" /> &nbsp;<input type="reset" value="{L_RESET}" name="reset" class="button2" /></td>
</tr>
</table>
{S_FORM_TOKEN}
</form>

<!-- INCLUDE overall_footer.html -->