<!-- EVENT ucp_pm_history_review_before -->

<script type="text/javascript">
// <![CDATA[
	bbcodeEnabled = {S_BBCODE_ALLOWED};
// ]]>
</script>

<table class="main" width="100%" cellspacing="1">
<tr>
	<th align="{S_CONTENT_FLOW_BEGIN}">{L_MESSAGE_HISTORY}</th>
</tr>
<tr>
	<td class="bg1"><div style="height: 300px; overflow: auto; width: 100%">

		<table class="main" cellspacing="1">
		<tr>
			<th nowrap="nowrap">{L_AUTHOR}</th>
			<th width="100%">{L_MESSAGE}</th>
		</tr>
	<!-- BEGIN history_row -->
		<!-- IF history_row.S_ROW_COUNT is even --><!-- DEFINE $BG = 'bg1' --><!-- ELSE --><!-- DEFINE $BG = 'bg2' --><!-- ENDIF -->
		<tr class="{$BG}">
			<td rowspan="2" valign="top"><a name="pr{history_row.MSG_ID}" class="anchor"></a>
				<table width="150" cellspacing="0">
				<tr>
					<td align="center"><!-- EVENT ucp_pm_history_row_message_author_username_prepend --><b>{history_row.MESSAGE_AUTHOR_FULL}</b><!-- EVENT ucp_pm_history_row_message_author_username_append --></td>
				</tr>
				</table>
			</td>
			<td width="100%">
				<table width="100%" cellspacing="0">
				<tr>
					<td class="bigger"><b>{L_PM_SUBJECT}{L_COLON}</b> {history_row.SUBJECT}</td>
					<td align="{S_CONTENT_FLOW_END}">
						<!-- EVENT ucp_pm_history_post_buttons_before -->
						<!-- IF history_row.U_QUOTE or history_row.MESSAGE_AUTHOR_QUOTE --><a class="button" <!-- IF history_row.U_QUOTE -->href="{history_row.U_QUOTE}"<!-- ELSE -->href="#" onclick="addquote({history_row.MSG_ID}, '{history_row.MESSAGE_AUTHOR_QUOTE}', '{LA_WROTE}', {time:{history_row.MESSAGE_TIME},user_id:{history_row.USER_ID}}, true); return false;"<!-- ENDIF --> title="{L_QUOTE} {history_row.MESSAGE_AUTHOR}">{L_BUTTON_QUOTE}</a><!-- ENDIF -->
						<!-- IF history_row.U_POST_REPLY_PM and REPLY_IMG --><a class="button" href="{history_row.U_POST_REPLY_PM}" title="{L_POST_REPLY_PM}">{L_BUTTON_PM_REPLY}</a><!-- ENDIF -->
						<!-- EVENT ucp_pm_history_post_buttons_after -->
					</td>
				</tr>
				</table>
			</td>
		</tr>

		<tr class="{$BG}">
			<td valign="top">
				<table cellspacing="5" width="100%">
				<tr>
					<td colspan="2"><div class="postbody"><!-- IF history_row.MESSAGE --><div class="content">{history_row.MESSAGE}</div><!-- ELSE --><p class="error">{L_MESSAGE_REMOVED_FROM_OUTBOX}</p><!-- ENDIF --></div><div id="message_{history_row.MSG_ID}" data-content="{history_row.DECODED_MESSAGE}"></div></td>
				</tr>
				<tr class="bigger">
					<td><a href="{history_row.U_VIEW_MESSAGE}">{L_VIEW_PM}</a></td>
					<td align="{S_CONTENT_FLOW_END}"><b>{L_SENT_AT}{L_COLON}</b> {history_row.SENT_DATE}</td>
				</tr>
				</table>
			</td>
		</tr>
		<!-- IF not history_row.S_LAST_ROW -->
			<tr class="bg3">
				<td colspan="2"></td>
			</tr>
		<!-- ENDIF -->
	<!-- END history_row -->
		</table>
	</div></td>
</tr>
</table>
<!-- EVENT ucp_pm_history_review_after -->