<form name="viewfolder" method="post" action="{S_PM_ACTION}">

	<table class="main" width="100%" cellspacing="1" style="margin-bottom: 4px">
	<tr>
		<td class="bg1">
			<h3>{L_TITLE}<!-- IF CUR_FOLDER_NAME -->{L_COLON} {CUR_FOLDER_NAME}<!-- ENDIF --></h3>

			<br clear="all" />

			<!-- IF S_VIEW_MESSAGE -->
				<table cellspacing="0" width="100%">
				<tr>
					<td class="bigger">
						<!-- IF S_DISPLAY_HISTORY and (U_VIEW_PREVIOUS_HISTORY or U_VIEW_NEXT_HISTORY) -->
							<!-- IF U_VIEW_PREVIOUS_HISTORY --><a href="{U_VIEW_PREVIOUS_HISTORY}">{L_VIEW_PREVIOUS_HISTORY}</a> | <!-- ENDIF -->
							<!-- IF U_VIEW_NEXT_HISTORY --><a href="{U_VIEW_NEXT_HISTORY}">{L_VIEW_NEXT_HISTORY}</a> | <!-- ENDIF -->
						<!-- ENDIF -->
						<a href="{U_PREVIOUS_PM}">{L_VIEW_PREVIOUS_PM}</a> | <a href="{U_NEXT_PM}">{L_VIEW_NEXT_PM}</a>
					</td>
					<td align="{S_CONTENT_FLOW_END}">
						<b><a href="{U_CURRENT_FOLDER}">{L_RETURN_TO_FOLDER}</a></b>
					</td>
				</tr>
				</table>
			<!-- ELSEIF U_POST_NEW_TOPIC or FOLDER_CUR_MESSAGES neq 0 -->
				<table cellspacing="0" width="100%">
				<tr>
					<!-- IF U_POST_NEW_TOPIC -->
						<td<!-- IF FOLDER_CUR_MESSAGES neq 0 --> width="35%"<!-- ENDIF -->>
							<b><a href="{U_POST_NEW_TOPIC}">{L_UCP_PM_COMPOSE}</a></b>
						</td>
					<!-- ENDIF -->
					<!-- IF FOLDER_CUR_MESSAGES neq 0 -->
						<td align="{S_CONTENT_FLOW_END}"<!-- IF U_POST_NEW_TOPIC --> width="65%"<!-- ENDIF -->>
							<!-- IF U_MARK_ALL --><b><a href="{U_MARK_ALL}">{L_MARK_ALL_READ}</a></b><!-- IF .pagination --> | <!-- ENDIF --><!-- ENDIF -->
							<!-- INCLUDE pagination.html -->
						</td>
					<!-- ENDIF -->
				</tr>
				</table>
			<!-- ENDIF -->
		</td>
	</tr>
	</table>