<!-- INCLUDE ucp_header.html -->

<form name="ucp" id="ucp" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>

<table class="main" width="100%" cellspacing="1">
<tr>
	<th colspan="2">{L_TITLE}</th>
</tr>
<!-- IF ERROR -->
	<tr>
		<td class="bg1" colspan="2" align="center"><p class="error">{ERROR}</p></td>
	</tr>
<!-- ENDIF -->
<!-- EVENT ucp_prefs_post_prepend -->
<tr>
	<td class="bg1" width="50%"><b class="bigger">{L_DEFAULT_BBCODE}{L_COLON}</b></td>
	<td class="bg1"><input type="radio" name="bbcode" value="1"<!-- IF S_BBCODE --> checked="checked"<!-- ENDIF --> /> <span class="bigger">{L_YES}</span> &nbsp;<input type="radio" name="bbcode" value="0"<!-- IF not S_BBCODE --> checked="checked"<!-- ENDIF --> /> <span class="bigger">{L_NO}</span></td>
</tr>
<tr>
	<td class="bg1"><b class="bigger">{L_DEFAULT_SMILIES}{L_COLON}</b></td>
	<td class="bg1"><input type="radio" name="smilies" value="1"<!-- IF S_SMILIES --> checked="checked"<!-- ENDIF --> /> <span class="bigger">{L_YES}</span> &nbsp;<input type="radio" name="smilies" value="0"<!-- IF not S_SMILIES --> checked="checked"<!-- ENDIF --> /> <span class="bigger">{L_NO}</span></td>
</tr>
<tr>
	<td class="bg1"><b class="bigger">{L_DEFAULT_ADD_SIG}{L_COLON}</b></td>
	<td class="bg1"><input type="radio" name="sig" value="1"<!-- IF S_SIG --> checked="checked"<!-- ENDIF --> /> <span class="bigger">{L_YES}</span> &nbsp;<input type="radio" name="sig" value="0"<!-- IF not S_SIG --> checked="checked"<!-- ENDIF --> /> <span class="bigger">{L_NO}</span></td>
</tr>
<tr>
	<td class="bg1"><b class="bigger">{L_DEFAULT_NOTIFY}{L_COLON}</b></td>
	<td class="bg1"><input type="radio" name="notify" value="1"<!-- IF S_NOTIFY --> checked="checked"<!-- ENDIF --> /> <span class="bigger">{L_YES}</span> &nbsp;<input type="radio" name="notify" value="0"<!-- IF not S_NOTIFY --> checked="checked"<!-- ENDIF --> /> <span class="bigger">{L_NO}</span></td>
</tr>
<!-- EVENT ucp_prefs_post_append -->
<tr>
	<td class="cat" colspan="2" align="center">{S_HIDDEN_FIELDS}<input class="button2" type="reset" value="{L_RESET}" name="reset" /> &nbsp;<input class="button1" type="submit" name="submit" value="{L_SUBMIT}" /></td>
</tr>
</table>

{S_FORM_TOKEN}
</form>

<!-- INCLUDE ucp_footer.html -->