<!-- INCLUDE ucp_header.html -->

<form name="ucp" id="ucp" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>

<table class="main" width="100%" cellspacing="1">
<tr>
	<th colspan="<!-- IF S_EDIT -->2<!-- ELSEIF S_LIST -->5<!-- ELSE -->3<!-- ENDIF -->">{L_USERGROUPS}<!-- IF GROUP_NAME --> :: {GROUP_NAME}<!-- ENDIF --></th>
</tr>
<tr class="bigger">
	<td align="center" class="bg1" colspan="<!-- IF S_EDIT -->2<!-- ELSEIF S_LIST -->5<!-- ELSE -->3<!-- ENDIF -->"><!-- IF S_ERROR --><div class="error">{ERROR_MSG}</div><br /><!-- ENDIF -->{L_GROUPS_EXPLAIN}</td>
</tr>

<!-- IF S_EDIT -->

	<tr>
		<th colspan="2">{L_GROUP_DETAILS}</th>
	</tr>
	<tr>
		<td class="bg1" width="35%"><b class="bigger">{L_GROUP_NAME}{L_COLON}</b></td>
		<td class="bg1"><!-- IF S_SPECIAL_GROUP --><input type="text" disabled="disabled" class="inputbox" value="{GROUP_NAME}" /><!-- ENDIF --><input name="group_name" type="<!-- IF S_SPECIAL_GROUP -->hidden<!-- ELSE -->text" class="inputbox<!-- ENDIF -->" value="{GROUP_INTERNAL_NAME}" /></td>
	</tr>
	<tr>
		<td class="bg1"><b class="bigger">{L_GROUP_DESC}{L_COLON}</b></td>
		<td class="bg1"><textarea name="group_desc" cols="35" rows="5">{GROUP_DESC}</textarea>
			<br /><input type="checkbox" name="desc_parse_bbcode"<!-- IF S_DESC_BBCODE_CHECKED --> checked="checked"<!-- ENDIF --> /> <span class="bigger">{L_PARSE_BBCODE}</span> &nbsp;<input type="checkbox" name="desc_parse_smilies"<!-- IF S_DESC_SMILIES_CHECKED --> checked="checked"<!-- ENDIF --> /> <span class="bigger">{L_PARSE_SMILIES}</span> &nbsp;<input type="checkbox" name="desc_parse_urls"<!-- IF S_DESC_URLS_CHECKED --> checked="checked"<!-- ENDIF --> /> <span class="bigger">{L_PARSE_URLS}</span>
	<!-- IF S_SPECIAL_GROUP -->
			<input name="group_type" type="hidden" value="{GROUP_TYPE_SPECIAL}" />
	<!-- ELSE -->
		</td>
	</tr>
	<tr>
		<td class="bg1"><span class="bigger"><b>{L_GROUP_TYPE}{L_COLON}</b><br />{L_GROUP_TYPE_EXPLAIN}</span></td>
		<td class="bg1">
			<input name="group_type" type="radio" value="{GROUP_TYPE_FREE}"{GROUP_FREE} /> <span class="bigger">{L_GROUP_OPEN}</span> &nbsp;
			<input name="group_type" type="radio" value="{GROUP_TYPE_OPEN}"{GROUP_OPEN} /> <span class="bigger">{L_GROUP_REQUEST}</span> &nbsp;
			<input name="group_type" type="radio" value="{GROUP_TYPE_CLOSED}"{GROUP_CLOSED} /> <span class="bigger">{L_GROUP_CLOSED}</span> &nbsp;
			<input name="group_type" type="radio" value="{GROUP_TYPE_HIDDEN}"{GROUP_HIDDEN} /> <span class="bigger">{L_GROUP_HIDDEN}</span>
	<!-- ENDIF -->
		</td>
	</tr>
	<tr>
		<th colspan="2">{L_GROUP_SETTINGS_SAVE}</th>
	</tr>
	<tr>
		<td class="bg1"><span class="bigger"><b>{L_GROUP_COLOR}{L_COLON}</b><br />{L_GROUP_COLOR_EXPLAIN}</span></td>
		<td class="bg1">
			<input name="group_colour" type="text" class="inputbox" value="{GROUP_COLOUR}" size="6" maxlength="6" />
		</td>
	</tr>
	<tr>
		<td class="bg1"><b class="bigger">{L_GROUP_RANK}{L_COLON}</b></td>
		<td class="bg1"><select name="group_rank">{S_RANK_OPTIONS}</select></td>
	</tr>

	<!-- INCLUDE ucp_avatar_options.html -->

	<tr>
		<td class="cat" align="center">{S_HIDDEN_FIELDS}<input class="button2" type="reset" name="reset" value="{L_RESET}"<!-- IF .avatar_drivers --> onclick="ResetAvatarType();"<!-- ENDIF --> /> &nbsp;<input class="button1" type="submit" name="update" value="{L_SUBMIT}" />{S_FORM_TOKEN}</td>
	</tr>

<!-- ELSEIF S_LIST -->

	<tr>
		<th>{L_USERNAME}</th>
		<th>{L_GROUP_DEFAULT}</th>
		<th width="15%">{L_JOINED}</th>
		<th width="10%">{L_POSTS}</th>
		<th width="5%">{L_MARK}</th>
	</tr>

	<tr class="bg3">
		<td colspan="5"><b class="bigger">{L_GROUP_LEAD}</b></td>
	</tr>
	<!-- BEGIN leader -->
		<tr><!-- IF leader.S_ROW_COUNT is even --><!-- DEFINE $BG = 'bg1' --><!-- ELSE --><!-- DEFINE $BG = 'bg2' --><!-- ENDIF -->
			<td class="{$BG}"><span class="bigger">{leader.USERNAME_FULL}</span></td>
			<td align="center" class="{$BG}"><p><!-- IF leader.S_GROUP_DEFAULT -->{L_YES}<!-- ELSE -->{L_NO}<!-- ENDIF --></p></td>
			<td align="center" class="{$BG}"><p>{leader.JOINED}</p></td>
			<td align="center" class="{$BG}"><p>{leader.USER_POSTS}</p></td>
			<td align="center" class="{$BG}"></td>
		</tr>
	<!-- END leader -->

	<!-- BEGIN member -->
		<!-- IF member.S_PENDING -->
			<tr class="bg3">
				<td colspan="5"><b class="bigger">{L_GROUP_PENDING}</b></td>
			</tr>
		<!-- ELSEIF member.S_APPROVED -->
			<tr class="bg3">
				<td colspan="5"><b class="bigger">{L_GROUP_APPROVED}</b></td>
			</tr>
		<!-- ELSE -->
			<tr><!-- IF member.S_ROW_COUNT is even --><!-- DEFINE $BG = 'bg1' --><!-- ELSE --><!-- DEFINE $BG = 'bg2' --><!-- ENDIF -->
				<td class="{$BG}"><span class="bigger">{member.USERNAME_FULL}</span></td>
				<td align="center" class="{$BG}"><p><!-- IF member.S_GROUP_DEFAULT -->{L_YES}<!-- ELSE -->{L_NO}<!-- ENDIF --></p></td>
				<td align="center" class="{$BG}"><p>{member.JOINED}</p></td>
				<td align="center" class="{$BG}"><p>{member.USER_POSTS}</p></td>
				<td align="center" class="{$BG}"><input type="checkbox" name="mark[]" value="{member.USER_ID}" /></td>
			</tr>
		<!-- ENDIF -->
	<!-- END member -->
	</table>
	<table cellspacing="0" width="100%">
	<tr>
		<td class="cat" align="{S_CONTENT_FLOW_END}"><select name="action"><option value="">{L_SELECT_OPTION}</option>{S_ACTION_OPTIONS}</select> <input class="button1" type="submit" name="update" value="{L_SUBMIT}" /></td>
	</tr>
	</table>

	<!-- IF .member or .pagination -->
		<table width="100%" cellspacing="1">
			<!-- IF .member --><tr><td align="{S_CONTENT_FLOW_END}" nowrap="nowrap"><b><a href="#" onclick="marklist('ucp', 'mark', true); return false;">{L_MARK_ALL}</a> :: <a href="#" onclick="marklist('ucp', 'mark', false); return false;">{L_UNMARK_ALL}</a></b></td></tr><!-- ENDIF -->
			<!-- IF .pagination --><tr><td align="{S_CONTENT_FLOW_END}"><!-- INCLUDE pagination.html --></td></tr><!-- ENDIF -->
		</table>
	<!-- ELSE -->
		<br clear="all" />
	<!-- ENDIF -->

	<table class="main" width="100%" cellspacing="1">
	<tr>
		<th colspan="2">{L_ADD_USERS}</th>
	</tr>
	<tr class="bigger">
		<td class="bg1" colspan="2" align="center">{L_ADD_USERS_UCP_EXPLAIN}</td>
	</tr>
	<tr>
		<td class="bg1"><span class="bigger"><b>{L_USER_GROUP_DEFAULT}{L_COLON}</b><br />{L_USER_GROUP_DEFAULT_EXPLAIN}</span></td>
		<td class="bg1"><input name="default" type="radio" value="1" /> <span class="bigger">{L_YES}</span> &nbsp;<input name="default" type="radio" value="0" checked="checked" /> <span class="bigger">{L_NO}</span></td>
	</tr>
	<tr>
		<td class="bg1"><span class="bigger"><b>{L_USERNAME}{L_COLON}</b><br />{L_USERNAMES_EXPLAIN}</span></td>
		<td class="bg1"><textarea name="usernames" cols="35" rows="5"></textarea><br /><span class="bigger">[ <a href="{U_FIND_USERNAME}" onclick="find_username(this.href); return false;">{L_FIND_USERNAME}</a> ]</span></td>
	</tr>
	</table>
	<table cellspacing="0" width="100%">
	<tr>
		<td class="cat" align="center"><input class="button1" type="submit" name="addusers" value="{L_SUBMIT}" />{S_FORM_TOKEN}</td>
	</tr>

<!-- ELSE -->

	<tr>
		<th width="70%">{L_GROUP_LEADER}</th>
		<th colspan="2">{L_OPTIONS}</th>
	</tr>
	<!-- BEGIN leader -->
		<tr><!-- IF leader.S_ROW_COUNT is odd --><!-- DEFINE $BG = 'bg1' --><!-- ELSE --><!-- DEFINE $BG = 'bg2' --><!-- ENDIF -->
			<td class="{$BG}"><b class="bigger"><a href="{leader.U_EDIT}"<!-- IF leader.GROUP_COLOUR --> style="color: #{leader.GROUP_COLOUR}"<!-- ENDIF -->>{leader.GROUP_NAME}</a></b><!-- IF leader.GROUP_DESC --><br /><span class="bigger">{leader.GROUP_DESC}</span><!-- ENDIF --></td>
			<td align="center" class="{$BG}"><a class="bigger" href="{leader.U_EDIT}">{L_EDIT}</a></td>
			<td align="center" class="{$BG}"><a class="bigger" href="{leader.U_LIST}">{L_GROUP_LIST}</a></td>
		</tr>
	<!-- BEGINELSE -->
		<tr>
			<td align="center" class="bg1" colspan="3"><b class="bigger">{L_NO_LEADERS}</b></td>
		</tr>
	<!-- END leader -->

<!-- ENDIF -->

</table>

</form>

<!-- INCLUDE ucp_footer.html -->