<table width="100%" cellspacing="0">
	<!-- IF .avatar_local_cats -->
	<tr>
		<td class="bg1">
			<span class="bigger">{L_AVATAR_CATEGORY}{L_COLON}</span> <select name="avatar_local_cat">
			<!-- BEGIN avatar_local_cats -->
				<option value="{avatar_local_cats.NAME}"<!-- IF avatar_local_cats.SELECTED --> selected="selected"<!-- ENDIF -->>{avatar_local_cats.NAME}</option>
			<!-- END avatar_local_cats -->
			</select> <input class="button2" type="submit" value="{L_GO}" name="avatar_local_go" />
			<br clear="all" />
			<!-- BEGIN avatar_local_row -->
			<!-- BEGIN avatar_local_col -->
				<span class="nowrap"> &nbsp;<input type="radio" name="avatar_local_file" value="{avatar_local_row.avatar_local_col.AVATAR_FILE}"<!-- IF avatar_local_row.avatar_local_col.CHECKED --> checked="checked"<!-- ENDIF --> />&nbsp;<img src="{avatar_local_row.avatar_local_col.AVATAR_IMAGE}" alt="" vspace="10" align="middle" /></span>
			<!-- END avatar_local_col -->
			<!-- END avatar_local_row -->
		</td>
	</tr>
	<!-- ELSE -->
	<tr>
		<td align="center" class="bg1"><b class="bigger">{L_NO_AVATARS}</b></td>
	</tr>
	<!-- ENDIF -->
</table>
