<!-- INCLUDE ucp_header.html -->

<form name="ucp" id="ucp" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>

<table class="main" width="100%" cellspacing="1">
<tr>
	<th colspan="<!-- IF not S_EDIT_DRAFT -->3<!-- ELSE -->2<!-- ENDIF -->">{L_TITLE}</th>
</tr>

<!-- IF not S_EDIT_DRAFT -->

<tr>
	<td class="bg1" colspan="3" align="center"><span class="bigger">{L_DRAFTS_EXPLAIN}</span></td>
</tr>

	<!-- IF .draftrow -->
	<tr>
		<th>{L_DRAFT_TITLE}</th>
		<th>{L_SAVE_DATE}</th>
		<th>{L_MARK}</th>
	</tr>
	<!-- ENDIF -->

	<!-- BEGIN draftrow -->
	<tr class="bigger"><!-- IF draftrow.S_ROW_COUNT is even --><!-- DEFINE $BG = 'bg1' --><!-- ELSE --><!-- DEFINE $BG = 'bg2' --><!-- ENDIF -->
		<td class="{$BG}" width="75%">
			<b><a href="{draftrow.U_VIEW_EDIT}">{draftrow.DRAFT_SUBJECT}</a></b><br />
			<!-- IF draftrow.S_LINK_TOPIC -->{L_TOPIC}{L_COLON} <a href="{draftrow.U_VIEW}">{draftrow.TITLE}</a>
			<!-- ELSEIF draftrow.S_LINK_FORUM -->{L_FORUM}{L_COLON} <a href="{draftrow.U_VIEW}">{draftrow.TITLE}</a>
			<!-- ELSEIF draftrow.S_LINK_PM -->{L_PRIVATE_MESSAGE}
			<!-- ELSE -->{L_NO_TOPIC_FORUM}<!-- ENDIF -->
		</td>
		<td align="center" class="{$BG}" width="20%" nowrap="nowrap">{draftrow.DATE}<br /><!-- IF draftrow.U_INSERT --><a href="{draftrow.U_INSERT}">{L_LOAD_DRAFT}</a> | <!-- ENDIF --><a href="{draftrow.U_VIEW_EDIT}">{L_VIEW_EDIT}</a></td>
		<td align="center" class="{$BG}" width="5%"><input type="checkbox" name="d[{draftrow.DRAFT_ID}]" /></td>
	</tr>
	<!-- BEGINELSE -->
		<tr>
			<td class="bg1" colspan="3" align="center"><b class="bigger">{L_NO_SAVED_DRAFTS}</b></td>
		</tr>
	<!-- END draftrow -->

	<!-- IF .draftrow -->
		<tr>
			<td class="cat" colspan="3" align="{S_CONTENT_FLOW_END}"><input class="button2" type="submit" name="delete" value="{L_DELETE_MARKED}" /></td>
		</tr>
	</table>
	<table width="100%" cellspacing="1"><tr>
		<td align="{S_CONTENT_FLOW_END}" nowrap="nowrap"><b><a href="#" onclick="marklist('ucp', '', true); return false;">{L_MARK_ALL}</a> :: <a href="#" onclick="marklist('ucp', '', false); return false;">{L_UNMARK_ALL}</a></b></td>
	</tr></table>
	<!-- ELSE -->
	</table>
	<!-- ENDIF -->

<!-- ELSEIF S_EDIT_DRAFT -->

<!-- IF ERROR -->
	<tr>
		<td class="bg1" colspan="2" align="center"><p class="error">{ERROR}</p></td>
	</tr>
<!-- ENDIF -->

	<tr>
		<td class="bg1" width="22%"><b class="bigger">{L_SUBJECT}{L_COLON}</b></td>
		<td class="bg1">
			<!-- EVENT posting_editor_subject_prepend -->
			<input type="text" class="inputbox" name="subject" size="60" maxlength="<!-- IF S_NEW_MESSAGE -->120<!-- ELSE -->124<!-- ENDIF -->" tabindex="2" value="{DRAFT_SUBJECT}" />
			<!-- EVENT posting_editor_subject_append -->
		</td>
	</tr>
	<tr valign="top"> 
		<td class="bg1">
			<b class="bigger">{L_MESSAGE}{L_COLON}</b><br /><span class="bigger">{L_EDIT_DRAFT_EXPLAIN}</span><br /><br /><b><a href="{S_UCP_ACTION}">{L_BACK_TO_DRAFTS}</a></b>
		</td>
		<td class="bg1">
			<!-- INCLUDE posting_editor.html -->
		</td>
	</tr>
	<tr>
		<td class="cat" colspan="2" align="center">{S_HIDDEN_FIELDS}<input class="button2" type="reset" value="{L_RESET}" name="reset" /> &nbsp;<input class="button1" type="submit" name="submit" value="{L_SAVE}" /></td>
	</tr>
</table>
<!-- ENDIF -->

{S_FORM_TOKEN}
</form>

<!-- INCLUDE ucp_footer.html -->