<!-- INCLUDE ucp_header.html -->

<form name="ucp" id="ucp" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>

<table class="main" width="100%" cellspacing="1">
<tr>
	<th colspan="2">{L_TITLE}</th>
</tr>

<!-- IF ERROR -->
	<tr>
		<td class="bg1" colspan="2" align="center"><p class="error">{ERROR}</p></td>
	</tr>
<!-- ENDIF -->

<tr valign="top">
	<td class="bg1" width="22%">
	<div><p>{L_SIGNATURE_EXPLAIN}</p></div>
	<!-- EVENT posting_editor_smilies_before -->
	<!-- IF S_SMILIES_ALLOWED and (.smiley or S_SHOW_SMILEY_LINK) -->
		<table cellspacing="5" width="100%">
		<!-- IF .smiley -->
			<tr>
				<td class="bigger" align="center"><b>{L_SMILIES}</b></td>
			</tr>
			<tr>
				<td class="bigger" align="center">
				<!-- BEGIN smiley -->
					<a href="#" onclick="insert_text('{smiley.A_SMILEY_CODE}', true); return false;" style="line-height: 20px"><img src="{smiley.SMILEY_IMG}" width="{smiley.SMILEY_WIDTH}" height="{smiley.SMILEY_HEIGHT}" alt="{smiley.SMILEY_CODE}" border="0" title="{smiley.SMILEY_DESC}" hspace="2" vspace="2" /></a>
				<!-- END smiley -->
				</td>
			</tr>
		<!-- ENDIF -->
		<!-- IF S_SHOW_SMILEY_LINK -->
			<tr>
				<td align="center"><a href="{U_MORE_SMILIES}" style="font-weight: bold" onclick="popup(this.href, 300, 350, '_phpbbsmilies'); return false;">{L_MORE_SMILIES}</a></td>
			</tr>
		<!-- ENDIF -->
		</table>
	<!-- ENDIF -->
	<!-- EVENT posting_editor_smilies_after -->
	</td>
	<td class="bg1">
	<!-- DEFINE $SIG_EDIT = 1 -->
	<!-- INCLUDE posting_editor.html -->
	</td>
</tr>
<tr valign="top">
	<td class="bg1"><b class="bigger">{L_OPTIONS}{L_COLON}</b><br />
		<table cellspacing="2">
		<tr>
			<td class="bigger">{BBCODE_STATUS}</td>
		</tr>
		<!-- IF S_BBCODE_ALLOWED -->
		<tr>
			<td class="bigger">{IMG_STATUS}</td>
		</tr>
		<tr>
			<td class="bigger">{FLASH_STATUS}</td>
		</tr>
		<tr>
			<td class="bigger">{URL_STATUS}</td>
		</tr>
		<!-- ENDIF -->
		<tr>
			<td class="bigger">{SMILIES_STATUS}</td>
		</tr>
		</table>
	</td>
	<!-- EVENT posting_editor_bbcode_status_after -->
	<td class="bg1">
		<!-- EVENT ucp_profile_signature_posting_editor_options_prepend -->
		<table cellspacing="2">
		<!-- IF S_BBCODE_ALLOWED -->
			<tr>
				<td><input type="checkbox" name="disable_bbcode"{S_BBCODE_CHECKED} /></td>
				<td class="big">{L_DISABLE_BBCODE}</td>
			</tr>
		<!-- ENDIF -->

		<!-- IF S_SMILIES_ALLOWED -->
			<tr>
				<td><input type="checkbox" name="disable_smilies"{S_SMILIES_CHECKED} /></td>
				<td class="big">{L_DISABLE_SMILIES}</td>
			</tr>
		<!-- ENDIF -->

		<!-- IF S_LINKS_ALLOWED -->
			<tr>
				<td><input type="checkbox" name="disable_magic_url"{S_MAGIC_URL_CHECKED} /></td>
				<td class="big">{L_DISABLE_MAGIC_URL}</td>
			</tr>
		<!-- ENDIF -->
		</table>
	</td>
</tr>
<tr>
	<td class="cat" colspan="2" align="center">{S_HIDDEN_FIELDS}<input class="button2" type="reset" value="{L_RESET}" name="reset" /> &nbsp;<input class="button2" type="submit" name="preview" value="{L_PREVIEW}" /> &nbsp;<input class="button1" type="submit" name="submit" value="{L_SUBMIT}" /></td>
</tr>
</table>

{S_FORM_TOKEN}
</form>

<!-- INCLUDE ucp_footer.html -->