<!-- INCLUDE ucp_header.html -->

<!-- IF PROMPT -->
	<form name="viewfolder" method="post" action="{S_PM_ACTION}">

	<table class="main" width="100%" cellspacing="1">
	<tr>
		<th colspan="2">{L_OPTIONS}</th>
	</tr>
	<tr>
		<td class="bg1" width="35%"><b class="bigger">{L_DELIMITER}{L_COLON}</b></td>
		<td class="bg1"><input type="text" class="inputbox" name="delimiter" value="," /></td>
	</tr>
	<tr>
		<td class="bg1"><b class="bigger">{L_ENCLOSURE}{L_COLON}</b></td>
		<td class="bg1"><input type="text" class="inputbox" name="enclosure" value="&#034;" /></td>
	</tr>
	<tr>
		<td class="cat" colspan="2" align="center"><input type="hidden" name="export_option" value="CSV" /><input class="button1" type="submit" name="submit_export" value="{L_EXPORT_FOLDER}" /> &nbsp;<input class="button2" type="reset" value="{L_RESET}" name="reset" /></td>
	</tr>
	</table>
	{S_FORM_TOKEN}

	</form>
<!-- ELSE -->
	<!-- INCLUDE ucp_pm_message_header.html -->

	<!-- IF NUM_NOT_MOVED or NUM_REMOVED -->
		<table class="main" width="100%" cellspacing="1" style="margin-bottom: 4px">
		<tr>
			<th>{L_INFORMATION}</th>
		</tr>
		<tr>
			<td align="center" class="bg1">
				<span class="big">
					<!-- IF NUM_REMOVED -->
						{RULE_REMOVED_MESSAGES}
						<!-- IF NUM_NOT_MOVED --><br /><!-- ENDIF -->
					<!-- ENDIF -->
					<!-- IF NUM_NOT_MOVED -->
						{NOT_MOVED_MESSAGES}<br />{RELEASE_MESSAGE_INFO}
					<!-- ENDIF -->
				</span>
			</td>
		</tr>
		</table>
	<!-- ENDIF -->

	<table class="main" width="100%" cellspacing="1">
	<!-- IF .messagerow -->
		<tr>
			<th colspan="<!-- IF S_PM_ICONS -->3<!-- ELSE -->2<!-- ENDIF -->">{L_MESSAGE}</th>
			<th width="14%"><!-- IF S_SHOW_RECIPIENTS -->{L_RECIPIENTS}<!-- ELSE -->{L_AUTHOR}<!-- ENDIF --></th>
			<th width="14%">{L_SENT_AT}</th>
			<th width="5%">{L_MARK}</th>
		</tr>

		<!-- DEFINE $PM = '4px' -->

		<!-- BEGIN messagerow -->
			<!-- IF messagerow.PM_CLASS eq 'pm_message_reported_colour' --><!-- DEFINE $CLASS = 'pm-reported-colour' --><!-- ELSEIF messagerow.PM_CLASS eq 'pm_marked_colour' --><!-- DEFINE $CLASS = 'pm-marked-colour' --><!-- ELSEIF messagerow.PM_CLASS eq 'pm_replied_colour' --><!-- DEFINE $CLASS = 'pm-replied-colour' --><!-- ELSEIF messagerow.PM_CLASS eq 'pm_friend_colour' --><!-- DEFINE $CLASS = 'pm-friend-colour' --><!-- ELSEIF messagerow.PM_CLASS eq 'pm_foe_colour' --><!-- DEFINE $CLASS = 'pm-foe-colour' --><!-- ELSE --><!-- DEFINE $CLASS = '{messagerow.PM_CLASS}' --><!-- ENDIF -->
			<tr class="bg1">
				<td align="center" width="25" style="padding: {$PM}<!-- IF messagerow.PM_CLASS -->; border-{S_CONTENT_FLOW_BEGIN}-style: solid; border-{S_CONTENT_FLOW_BEGIN}-width: {$PM}; padding-{S_CONTENT_FLOW_BEGIN}: 0" class="{$CLASS}<!-- ENDIF -->">
					<!-- IF messagerow.S_PM_UNREAD and not messagerow.S_PM_DELETED --><a href="{messagerow.U_VIEW_PM}"><!-- ENDIF --><img src="{T_THEME_PATH}/images/topic_<!-- IF messagerow.S_PM_UNREAD -->un<!-- ENDIF -->read.gif" width="19" height="18" alt="<!-- IF messagerow.S_PM_UNREAD -->+" border="0" title="{L_UNREAD_POST}<!-- ENDIF -->" /><!-- IF messagerow.S_PM_UNREAD and not messagerow.S_PM_DELETED --></a><!-- ENDIF -->
				</td>
				<!-- IF S_PM_ICONS -->
					<td align="center" class="bg1" width="25">{messagerow.PM_ICON_IMG}</td>
				<!-- ENDIF -->
				<td class="<!-- IF messagerow.S_PM_DELETED -->bg2<!-- ELSE -->bg1<!-- ENDIF -->">
					<p>
					<!-- IF messagerow.ATTACH_ICON_IMG --><img src="{T_THEME_PATH}/images/icon_topic_attach.gif" width="14" height="18" alt="(*)" title="{L_TOTAL_ATTACHMENTS}" /><!-- ENDIF -->
					<!-- IF messagerow.S_PM_DELETED -->
						<b class="error">{L_MESSAGE_REMOVED_FROM_OUTBOX}</b>
						<div align="{S_CONTENT_FLOW_END}"><b><a href="{messagerow.U_REMOVE_PM}">{L_DELETE_MESSAGE}</a></b></div>
					<!-- ELSE -->
						<a href="{messagerow.U_VIEW_PM}">{messagerow.SUBJECT}</a>
					<!-- ENDIF -->
					<!-- IF messagerow.S_PM_REPORTED -->
						<a href="{messagerow.U_MCP_REPORT}"><img src="{T_THEME_PATH}/images/icon_topic_reported.gif" width="19" height="18" alt="(!)" border="0" title="{L_PM_REPORTED}" /></a>
					<!-- ENDIF -->
					<!-- IF messagerow.S_AUTHOR_DELETED -->
						<br /><i>{L_PM_FROM_REMOVED_AUTHOR}</i>
					<!-- ENDIF -->
					</p>
				</td>
				<td align="center" class="bg1"><p><!-- IF S_SHOW_RECIPIENTS -->{messagerow.RECIPIENTS}<!-- ELSE -->{messagerow.MESSAGE_AUTHOR_FULL}<!-- ENDIF --></p></td>
				<td align="center" class="bg1"><p>{messagerow.SENT_TIME}</p></td>
				<td align="center" style="padding: {$PM}<!-- IF messagerow.PM_CLASS -->; border-{S_CONTENT_FLOW_END}-style: solid; border-{S_CONTENT_FLOW_END}-width: {$PM}; padding-{S_CONTENT_FLOW_END}: 0" class="{$CLASS}<!-- ENDIF -->">
					<input type="checkbox" name="marked_msg_id[]" value="{messagerow.MESSAGE_ID}" />
				</td>
			</tr>
		<!-- END messagerow -->
	<!-- ELSEIF S_COMPOSE_PM_VIEW and S_NO_AUTH_SEND_MESSAGE -->
		<tr>
			<th>{L_UCP_PM_COMPOSE}</th>
		</tr>
		<tr>
			<td align="center" class="bg1">
				<span class="big">
					<!-- IF S_USER_NEW -->{L_USER_NEW_PERMISSION_DISALLOWED}<!-- ELSE -->{L_NO_AUTH_SEND_MESSAGE}<!-- ENDIF -->
				</span>
			</td>
		</tr>
	<!-- ELSE -->
		<tr>
			<th>{L_INFORMATION}</th>
		</tr>
		<tr>
			<td align="center" class="bg1">
				<span class="big">
						{L_NO_MESSAGES}
				</span>
			</td>
		</tr>
	<!-- ENDIF -->
	</table>

	<!-- IF .messagerow -->
		<table cellspacing="0" width="100%">
		<tr>
			<td class="cat" align="center">
				<!-- INCLUDE display_options.html -->
				<input type="hidden" name="cur_folder_id" value="{CUR_FOLDER_ID}" />
			</td>
		</tr>
		</table>
	<!-- ENDIF -->

	<!-- INCLUDE ucp_pm_message_footer.html -->

<!-- ENDIF -->

<!-- INCLUDE ucp_footer.html -->