<!-- INCLUDE overall_header.html -->

<form action="{S_PROFILE_ACTION}" method="post">

<table class="main" width="100%" cellspacing="1">
<tr>
	<th>{L_SEND_PASSWORD}</th>
</tr>
<!-- IF USERNAME_REQUIRED -->
	<tr>
		<td align="center" class="bg2" colspan="2"><p class="error">{L_EMAIL_NOT_UNIQUE}</p></td>
	</tr>
<!-- ENDIF -->
<tr>
	<td class="bg2">
		<table cellspacing="1" width="100%">
		<tr valign="top">
			<td width="50%"><b class="bigger">{L_EMAIL_ADDRESS}{L_COLON}</b><br /><span class="bigger">{L_EMAIL_REMIND}</span></td>
			<td><input type="text" class="inputbox" name="email" size="25" maxlength="100" value="{EMAIL}" /></td>
		</tr>
		<!-- IF USERNAME_REQUIRED -->
			<tr>
				<td><b class="bigger">{L_USERNAME}{L_COLON}</b></td>
				<td><input type="text" class="inputbox" name="username" size="25" value="{USERNAME}" /></td>
			</tr>
		<!-- ENDIF -->
		</table>
	</td>
</tr>
<tr>
	<td class="cat" align="center">{S_HIDDEN_FIELDS}<input type="submit" name="submit" value="{L_SUBMIT}" class="button1" /> &nbsp;<input type="reset" value="{L_RESET}" name="reset" class="button2" /></td>
</tr>
</table>
{S_FORM_TOKEN}
</form>

<!-- INCLUDE overall_footer.html -->