<!-- INCLUDE ucp_header.html -->

<table class="main" width="100%" cellspacing="1">

<tr>
	<th colspan="2">{L_TITLE}</th>
</tr>

<!-- INCLUDE ucp_avatar_options.html -->

<tr>
	<td class="cat" colspan="2" align="center">{S_HIDDEN_FIELDS}<input class="button2" type="reset" value="{L_RESET}" name="reset"<!-- IF .avatar_drivers --> onclick="ResetAvatarType();"<!-- ENDIF --> />&nbsp; <input class="button1" type="submit" name="submit" value="{L_SUBMIT}" /></td>
</tr>

</table>

<!-- INCLUDE ucp_footer.html -->
