<!-- INCLUDE overall_header.html -->

<div style="margin: 16px 0 4px">
	<!-- EVENT viewforum_forum_title_before -->
	<h2><!-- EVENT viewforum_forum_name_prepend --><a class="header" href="{U_VIEW_FORUM}">{FORUM_NAME}</a><!-- EVENT viewforum_forum_name_append --></h2>
	<!-- EVENT viewforum_forum_title_after -->
</div>

<!-- IF S_FORUM_RULES -->
	<div style="margin: 10px 0; padding: 4px">
		<h4 class="forumrules">{L_FORUM_RULES}</h4>
		<p class="forumdesc"><!-- IF U_FORUM_RULES --><a href="{U_FORUM_RULES}"><b>{L_FORUM_RULES_LINK}</b></a><!-- ELSE -->{FORUM_RULES}<!-- ENDIF --></p>
	</div>
<!-- ENDIF -->

<!-- IF S_HAS_SUBFORUM -->
	<!-- IF U_MARK_FORUMS and not S_IS_BOT --><div align="{S_CONTENT_FLOW_END}" style="margin-bottom: 8px"><b><a href="{U_MARK_FORUMS}">{L_MARK_SUBFORUMS_READ}</a></b></div><!-- ENDIF -->
	<!-- INCLUDE forumlist_body.html -->
	<br clear="all" />
<!-- ENDIF -->

<!-- IF S_NO_READ_ACCESS -->
	<table class="main" width="100%" cellspacing="1">
	<tr>
		<td class="bg1" align="center"><span class="big">{L_NO_READ_ACCESS}</span></td>
	</tr>
	</table>

	<!-- IF not S_USER_LOGGED_IN and not S_IS_BOT -->

		<br clear="all" />

		<form method="post" action="{S_LOGIN_ACTION}">

		<table class="main" width="100%" cellspacing="1">
		<tr>
			<td class="cat"><h4><a href="{U_LOGIN_LOGOUT}">{L_LOGIN_LOGOUT}</a><!-- IF S_REGISTER_ENABLED -->&nbsp;| <a href="{U_REGISTER}">{L_REGISTER}</a><!-- ENDIF --></h4></h4></td>
		</tr>
		<tr>
			<td class="bg1" align="center"><span class="bigger">{L_USERNAME}{L_COLON}</span> <input type="text" class="inputbox" name="username" size="10" />&nbsp; <span class="bigger">{L_PASSWORD}{L_COLON}</span> <input type="password" class="inputbox" name="password" size="10" autocomplete="off" />&nbsp; <!-- IF S_AUTOLOGIN_ENABLED --><span class="nowrap"><span class="bigger">{L_LOG_ME_IN}</span> <input type="checkbox" name="autologin" /></span>&nbsp; <!-- ENDIF --><input type="submit" class="button1" name="login" value="{L_LOGIN}" /></td>
		</tr>
		</table>
		{S_LOGIN_REDIRECT}
		</form>

	<!-- ENDIF -->

	<br clear="all" />
<!-- ENDIF -->

<!-- IF MODERATORS or (S_DISPLAY_POST_INFO and not S_IS_BOT) or .pagination or TOTAL_TOPICS or (U_WATCH_FORUM_LINK and not S_IS_BOT) -->
	<!-- IF MODERATORS -->
		<table width="100%" cellspacing="1">
			<tr>
				<td class="bigger" colspan="2"><!-- IF S_SINGLE_MODERATOR -->{L_MODERATOR}<!-- ELSE -->{L_MODERATORS}<!-- ENDIF -->{L_COLON} {MODERATORS}</td>
			</tr>
		</table>
	<!-- ENDIF -->

	<div class="action-bar">
		<table width="100%" cellspacing="1">
		<tr valign="bottom">
			<td class="bigger">
				<table cellspacing="0">
				<tr>
					<td nowrap="nowrap" style="padding-bottom: 0; padding-top: 0; padding-{S_CONTENT_FLOW_BEGIN}: 0">
						<!-- IF S_DISPLAY_POST_INFO and not S_IS_BOT -->
							<!-- EVENT viewforum_buttons_top_before -->
							<a class="button" href="{U_POST_NEW_TOPIC}" title="<!-- IF S_IS_LOCKED -->{L_POST_FORUM_LOCKED}<!-- ELSE -->{L_POST_NEW_TOPIC}<!-- ENDIF -->"><!-- IF S_IS_LOCKED --><span class="locked">{L_BUTTON_FORUM_LOCKED}</span><!-- ELSE -->{L_BUTTON_NEW_TOPIC}<!-- ENDIF --></a>
							<!-- EVENT viewforum_buttons_top_after -->
							<!-- ENDIF -->
					</td>

					<!-- IF U_WATCH_FORUM_LINK and not S_IS_BOT -->
						<td style="padding: 0">
							<span class="quicktools"><a class="button" id="subscribe_link" name="{U_WATCH_FORUM_LINK}" style="background-image: url('{T_THEME_PATH}/images/icon_forum_<!-- IF S_WATCHING_FORUM -->un<!-- ENDIF -->subscribe.gif'); background-repeat: no-repeat; background-position: center; display: block; margin: 0 3px; padding-{S_CONTENT_FLOW_BEGIN}: 14px; padding-{S_CONTENT_FLOW_END}: 14px">&nbsp;</a></span>
						</td>
					<!-- ELSE -->
						<td style="display: none">&nbsp;</td>
					<!-- ENDIF -->

					<!-- IF TOTAL_TOPICS -->
						<td class="small" nowrap="nowrap" style="padding-bottom: 0; padding-top: 0; padding-{S_CONTENT_FLOW_BEGIN}: 5px">
							<b>{PAGE_NUMBER}</b> &nbsp;[ {TOTAL_TOPICS} ]
						</td>
					<!-- ENDIF -->
				</tr>
				</table>
			</td>
			<td align="{S_CONTENT_FLOW_END}" valign="middle"><!-- IF U_MARK_TOPICS and .topicrow and not S_IS_BOT --><b><a href="{U_MARK_TOPICS}" class="nowrap">{L_MARK_TOPICS_READ}</a></b><!-- IF .pagination --> | <!-- ENDIF --><!-- ENDIF --><!-- INCLUDE pagination.html --></td>
		</tr>
		</table>
	</div>

	<!-- IF U_WATCH_FORUM_LINK and not S_IS_BOT -->
		<script type="text/javascript"><!--
			if (document.documentElement && (document.documentElement.className.indexOf('dropdown-enabled') > -1)) {
				document.getElementById('subscribe_link').href = document.getElementById('subscribe_link').name;
			}
		//--></script>

		<div class="hidden_links"><table width="100%" cellspacing="1"><tr class="bigger"><td><a href="{U_WATCH_FORUM_LINK}">{S_WATCH_FORUM_TITLE}</a></td></tr></table></div>
	<!-- ENDIF -->
<!-- ENDIF -->

<!-- EVENT viewforum_body_topic_row_before -->

<!-- BEGIN topicrow -->
	<!-- IF topicrow.S_FIRST_ROW --><table class="main" width="100%" cellspacing="1"><!-- ENDIF -->
	<!-- IF topicrow.S_FIRST_ROW or not topicrow.S_TOPIC_TYPE_SWITCH -->
		<tr>
			<th align="{S_CONTENT_FLOW_BEGIN}" class="category" colspan="<!-- IF S_TOPIC_ICONS -->3<!-- ELSE -->2<!-- ENDIF -->"><!-- IF S_DISPLAY_ACTIVE -->{L_ACTIVE_TOPICS}<!-- ELSEIF topicrow.S_TOPIC_TYPE_SWITCH and (topicrow.S_POST_ANNOUNCE or topicrow.S_POST_GLOBAL) -->{L_ANNOUNCEMENTS}<!-- ELSE -->{L_TOPICS}<!-- ENDIF --></th>
			<th width="10%">{L_AUTHOR}</th>
			<th width="50">{L_REPLIES}</th>
			<th width="50">{L_VIEWS}</th>
			<th width="10%">{L_LAST_POST}</th>
		</tr>
	<!-- ENDIF -->

	<!-- EVENT viewforum_body_topicrow_row_before -->
	<tr>
		<!-- EVENT viewforum_body_topic_row_prepend -->
		<td class="bg1" width="25" align="center"><!-- IF topicrow.S_UNREAD_TOPIC and not topicrow.S_TOPIC_MOVED --><a href="{topicrow.U_NEWEST_POST}"><!-- ENDIF --><img src="{T_THEME_PATH}/images/{topicrow.TOPIC_IMG_STYLE}.gif" width="19" height="18" alt="<!-- IF topicrow.S_UNREAD_TOPIC -->+" border="0<!-- ENDIF -->" title="{topicrow.TOPIC_FOLDER_IMG_ALT}" /><!-- IF topicrow.S_UNREAD_TOPIC and not topicrow.S_TOPIC_MOVED --></a><!-- ENDIF --></td>
		<!-- IF S_TOPIC_ICONS -->
			<td class="bg1" width="25" align="center"><!-- IF topicrow.TOPIC_ICON_IMG --><img src="{T_ICONS_PATH}{topicrow.TOPIC_ICON_IMG}" width="{topicrow.TOPIC_ICON_IMG_WIDTH}" height="{topicrow.TOPIC_ICON_IMG_HEIGHT}" alt="" title="" /><!-- ENDIF --></td>
		<!-- ENDIF -->
		<td class="bg1">
			<!-- EVENT topiclist_row_prepend -->
			<!-- IF topicrow.S_UNREAD_TOPIC --><a href="{topicrow.U_NEWEST_POST}"><img src="{T_THEME_PATH}/images/icon_topic_newest.gif" width="18" height="9" alt="&gt;&gt;&gt;" border="0" title="{L_UNREAD_POSTS}" /></a><!-- ENDIF -->
			<!-- IF topicrow.ATTACH_ICON_IMG --><img src="{T_THEME_PATH}/images/icon_topic_attach.gif" width="14" height="18" alt="(*)" title="{L_TOTAL_ATTACHMENTS}" /><!-- ENDIF --><!-- IF topicrow.S_HAS_POLL or topicrow.S_TOPIC_MOVED --><b>{topicrow.TOPIC_TYPE} </b><!-- ENDIF --><!-- IF topicrow.U_VIEW_TOPIC --><a title="{L_POSTED}{L_COLON} {topicrow.FIRST_POST_TIME}" href="{topicrow.U_VIEW_TOPIC}" class="topictitle">{topicrow.TOPIC_TITLE}</a><!-- ELSE -->{topicrow.TOPIC_TITLE}<!-- ENDIF -->
			<!-- IF topicrow.S_TOPIC_UNAPPROVED or topicrow.S_POSTS_UNAPPROVED -->
				<a href="{topicrow.U_MCP_QUEUE}"><img src="{T_THEME_PATH}/images/icon_topic_unapproved.gif" width="19" height="18" alt="(?)" border="0" title="<!-- IF topicrow.S_TOPIC_UNAPPROVED -->{L_TOPIC_UNAPPROVED}<!-- ELSE -->{L_POSTS_UNAPPROVED}<!-- ENDIF -->" /></a>&nbsp;
			<!-- ENDIF -->
			<!-- IF topicrow.S_TOPIC_DELETED -->
				<a href="{topicrow.U_MCP_QUEUE}"><img src="{T_THEME_PATH}/images/icon_topic_deleted.gif" width="14" height="14" alt="(X)" border="0" title="{L_TOPIC_DELETED}" /></a>&nbsp;
			<!-- ENDIF -->
			<!-- IF topicrow.S_TOPIC_REPORTED -->
				<a href="{topicrow.U_MCP_REPORT}"><img src="{T_THEME_PATH}/images/icon_topic_reported.gif" width="19" height="18" alt="(!)" border="0" title="{L_TOPIC_REPORTED}" /></a>&nbsp;
			<!-- ENDIF -->
			<!-- EVENT topiclist_row_topic_title_after -->
			<!-- IF .topicrow.pagination -->
				<div class="bigger"> [ <img src="{T_THEME_PATH}/images/icon_post_target.gif" width="12" height="9" alt="" />{L_GOTO_PAGE}{L_COLON}
				<!-- BEGIN pagination -->
					<!-- IF topicrow.pagination.S_IS_PREV -->
					<!-- ELSEIF topicrow.pagination.S_IS_CURRENT --><b>{topicrow.pagination.PAGE_NUMBER}</b>
					<!-- ELSEIF topicrow.pagination.S_IS_ELLIPSIS --> {L_ELLIPSIS}
					<!-- ELSEIF topicrow.pagination.S_IS_NEXT -->
					<!-- ELSE --><a href="{topicrow.pagination.PAGE_URL}">{topicrow.pagination.PAGE_NUMBER}</a>
					<!-- ENDIF -->
				<!-- END pagination -->
				] </div>
			<!-- ENDIF -->
			<!-- IF topicrow.S_POST_GLOBAL and FORUM_ID != topicrow.FORUM_ID --><div class="bigger">{L_IN} <a href="{topicrow.U_VIEW_FORUM}">{topicrow.FORUM_NAME}</a></div><!-- ENDIF -->
			<!-- EVENT topiclist_row_append -->
		</td>
		<td align="center" class="bg2"><p>{topicrow.TOPIC_AUTHOR_FULL}</p></td>
		<td align="center" class="bg1"><p>{topicrow.REPLIES}</p></td>
		<td align="center" class="bg2"><p>{topicrow.VIEWS}</p></td>
		<td align="center" class="bg1" nowrap="nowrap">
			<p>{topicrow.LAST_POST_TIME}<br />{topicrow.LAST_POST_AUTHOR_FULL}<!-- IF not S_IS_BOT and topicrow.U_LAST_POST --> <a href="{topicrow.U_LAST_POST}"><img src="{T_THEME_PATH}/images/icon_topic_latest.gif" width="18" height="9" alt="&gt;" border="0" title="{L_GOTO_LAST_POST}" /></a><!-- ENDIF --></p>
		</td>
		<!-- EVENT viewforum_body_topic_row_append -->
	</tr>
	<!-- IF topicrow.S_LAST_ROW and not S_IS_BOT and not S_DISPLAY_ACTIVE -->
		<tr>
			<td class="cat" colspan="<!-- IF S_TOPIC_ICONS -->7<!-- ELSE -->6<!-- ENDIF -->">
				<form method="post" action="{S_FORUM_ACTION}"><!-- INCLUDE display_options.html --></form>
			</td>
		</tr>
	<!-- ENDIF -->
	<!-- IF topicrow.S_LAST_ROW --></table><!-- ENDIF -->
<!-- BEGINELSE -->
	<!-- IF S_IS_POSTABLE -->
		<table class="main" width="100%" cellspacing="1"><tr><td class="bg1" align="center"><span class="big"><!-- IF not S_SORT_DAYS -->{L_NO_TOPICS}<!-- ELSE -->{L_NO_TOPICS_TIME_FRAME}<!-- ENDIF --></span></td></tr></table>
	<!-- ELSE IF not S_HAS_SUBFORUM -->
		<table class="main" width="100%" cellspacing="1"><tr><td class="bg1" align="center"><span class="big">{L_NO_FORUMS_IN_CATEGORY}</span></td></tr></table>
	<!-- ENDIF -->
<!-- END topicrow -->

<!-- EVENT viewforum_body_topic_row_after -->

<!-- IF (S_DISPLAY_POST_INFO and not S_IS_BOT) or .pagination or TOTAL_TOPICS -->
	<div class="action-bar">
		<table width="100%" cellspacing="1">
		<tr valign="top">
			<td class="bigger">
				<table cellspacing="0">
				<tr>
					<td nowrap="nowrap" style="padding-bottom: 0; padding-top: 0; padding-{S_CONTENT_FLOW_BEGIN}: 0">
						<!-- IF S_DISPLAY_POST_INFO and not S_IS_BOT -->
							<!-- EVENT viewforum_buttons_bottom_before -->
							<a class="button" href="{U_POST_NEW_TOPIC}" title="<!-- IF S_IS_LOCKED -->{L_POST_FORUM_LOCKED}<!-- ELSE -->{L_POST_NEW_TOPIC}<!-- ENDIF -->"><!-- IF S_IS_LOCKED --><span class="locked">{L_BUTTON_FORUM_LOCKED}</span><!-- ELSE -->{L_BUTTON_NEW_TOPIC}<!-- ENDIF --></a>
							<!-- EVENT viewforum_buttons_bottom_after -->
						<!-- ENDIF -->
					</td>

					<td style="display: none">&nbsp;</td>

					<!-- IF TOTAL_TOPICS -->
						<td class="small" nowrap="nowrap" style="padding-bottom: 0; padding-top: 0; padding-{S_CONTENT_FLOW_BEGIN}: 5px">
							<b>{PAGE_NUMBER}</b> &nbsp;[ {TOTAL_TOPICS} ]
						</td>
					<!-- ENDIF -->
				</tr>
				</table>
			</td>
			<td align="{S_CONTENT_FLOW_END}" valign="middle"><b><a href="{U_INDEX}" class="nowrap">{L_RETURN_TO_INDEX}</a></b><!-- IF .pagination --> | <!-- ENDIF --><!-- INCLUDE pagination.html --></td>
		</tr>
		</table>
	</div>
<!-- ENDIF -->

<!-- IF S_DISPLAY_SEARCHBOX or S_DISPLAY_JUMPBOX -->
	<table cellspacing="0" style="margin-bottom: 5px" width="100%"><tr valign="top">
	<td><!-- IF S_DISPLAY_SEARCHBOX -->
			<div class="search-box">
				<form action="{S_SEARCHBOX_ACTION}" method="get" name="search">
					<input type="text" class="inputbox" name="keywords" value="{L_SEARCH_FORUM}" onfocus="if (typeof this.flag == 'undefined') {this.flag = true; this.value='';}" />
					<input type="submit" class="button2" title="{L_SEARCH}" value="{L_GO}" onclick="var h = this.form.elements[0]; if (h.value == '' || typeof h.flag == 'undefined') {h.focus(); return false;}" />
					{S_SEARCH_LOCAL_HIDDEN_FIELDS}
				</form>
			</div>
	<!-- ENDIF --></td>
	<td><!-- INCLUDE jumpbox.html --></td>
	</tr></table>
<!-- ENDIF -->

<!-- IF S_DISPLAY_ONLINE_LIST and U_VIEWONLINE -->
	<table class="main" width="100%" cellspacing="1"<!-- IF S_DISPLAY_POST_INFO --> style="margin-bottom: 8px"<!-- ENDIF -->>
	<tr>
		<td class="cat"><h4><a href="{U_VIEWONLINE}">{L_WHO_IS_ONLINE}</a></h4></td>
	</tr>
	<tr class="bigger">
		<td class="bg1">{LOGGED_IN_USER_LIST}</td>
	</tr>
	</table>
<!-- ENDIF -->

<!-- IF S_DISPLAY_POST_INFO -->
	<table class="main" width="100%" cellspacing="1">
	<tr>
		<td class="cat"><h4>{L_FORUM_PERMISSIONS}</h4></td>
	</tr>
	<tr class="bigger">
		<td class="bg1"><!-- BEGIN rules -->{rules.RULE}<!-- IF not rules.S_LAST_ROW --><br /><!-- ENDIF --><!-- END rules --></td>
	</tr>
	</table>
<!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->