<!-- INCLUDE overall_header.html -->

<div style="margin: 16px 0 4px">
	<!-- EVENT viewtopic_topic_title_before -->
	<h2><!-- EVENT viewtopic_topic_title_prepend --><a class="header" href="{U_VIEW_TOPIC}">{TOPIC_TITLE}</a><!-- EVENT viewtopic_topic_title_append --></h2>
	<!-- EVENT viewtopic_topic_title_after -->
</div>

<!-- IF S_FORUM_RULES -->
	<div style="margin: 14px 4px">
		<h4 class="forumrules">{L_FORUM_RULES}</h4>
		<p class="forumdesc"><!-- IF U_FORUM_RULES --><a href="{U_FORUM_RULES}"><b>{L_FORUM_RULES_LINK}</b></a><!-- ELSE -->{FORUM_RULES}<!-- ENDIF --></p>
	</div>
<!-- ENDIF -->

<!-- IF MODERATORS -->
	<table width="100%" cellspacing="1">
		<tr>
			<td class="bigger" colspan="2"><!-- IF S_SINGLE_MODERATOR -->{L_MODERATOR}<!-- ELSE -->{L_MODERATORS}<!-- ENDIF -->{L_COLON} {MODERATORS}</td>
		</tr>
	</table>
<!-- ENDIF -->

<div class="action-bar">
	<table width="100%" cellspacing="1">
	<tr valign="bottom">
		<td class="bigger">
			<table cellspacing="0">
			<tr>
				<td nowrap="nowrap" style="padding-bottom: 0; padding-top: 0; padding-{S_CONTENT_FLOW_BEGIN}: 0">
					<!-- EVENT viewtopic_buttons_top_before -->

					<!-- IF not S_IS_BOT and S_DISPLAY_REPLY_INFO -->
						<a class="button" href="{U_POST_REPLY_TOPIC}" title="<!-- IF S_IS_LOCKED -->{L_TOPIC_LOCKED}<!-- ELSE -->{L_POST_REPLY}<!-- ENDIF -->"><!-- IF S_IS_LOCKED --><span class="locked">{L_BUTTON_TOPIC_LOCKED}</span><!-- ELSE -->{L_BUTTON_POST_REPLY}<!-- ENDIF --></a>
					<!-- ENDIF -->

					<!-- EVENT viewtopic_buttons_top_after -->
				</td>

				<!-- IF (U_WATCH_TOPIC or U_BOOKMARK_TOPIC or U_BUMP_TOPIC or U_EMAIL_TOPIC or U_PRINT_TOPIC or S_DISPLAY_TOPIC_TOOLS) and not S_IS_BOT --><!-- DEFINE $TOPICTOOLS = 1 -->
					<td style="padding: 0">
						<span class="quicktools"><a class="button" id="topictools_link" name="#topictools" style="background-image: url('{T_THEME_PATH}/images/icon_topic_tools.gif'); background-repeat: no-repeat; background-position: center; display: block; margin: 0 3px; padding-{S_CONTENT_FLOW_BEGIN}: 14px; padding-{S_CONTENT_FLOW_END}: 14px">&nbsp;</a></span>

						<div id="topictools_list" style="border-width: 0; display: none; margin-{S_CONTENT_FLOW_BEGIN}: 2px"><!--
							<div><!-- IF U_WATCH_TOPIC --><a href="{U_WATCH_TOPIC}">{S_WATCH_TOPIC_TITLE}</a><!-- IF U_BOOKMARK_TOPIC or U_BUMP_TOPIC or U_EMAIL_TOPIC or U_PRINT_TOPIC --><br /><!-- ENDIF --><!-- ENDIF -->
							<!-- IF U_BOOKMARK_TOPIC --><a href="{U_BOOKMARK_TOPIC}">{S_BOOKMARK_TOPIC}</a><!-- IF U_BUMP_TOPIC or U_EMAIL_TOPIC or U_PRINT_TOPIC --><br /><!-- ENDIF --><!-- ENDIF -->
							<!-- IF U_BUMP_TOPIC --><a href="{U_BUMP_TOPIC}">{L_BUMP_TOPIC}</a><!-- IF U_EMAIL_TOPIC or U_PRINT_TOPIC --><br /><!-- ENDIF --><!-- ENDIF -->
							<!-- IF U_EMAIL_TOPIC --><a href="{U_EMAIL_TOPIC}">{L_EMAIL_TOPIC}</a><!-- IF U_PRINT_TOPIC --><br /><!-- ENDIF --><!-- ENDIF -->
							<!-- IF U_PRINT_TOPIC --><a href="{U_PRINT_TOPIC}">{L_PRINT_TOPIC}</a><!-- ENDIF --></div>
						--></div>
					</td>
				<!-- ELSE -->
					<td style="display: none">&nbsp;</td>
				<!-- ENDIF -->

				<!-- IF TOTAL_POSTS -->
					<td class="small" nowrap="nowrap" style="padding-bottom: 0; padding-top: 0; padding-{S_CONTENT_FLOW_BEGIN}: 5px">
						<b>{PAGE_NUMBER}</b> &nbsp;[ {TOTAL_POSTS} ]
					</td>
				<!-- ENDIF -->
			</tr>
			</table>
		</td>
		<td align="{S_CONTENT_FLOW_END}" valign="middle"><!-- IF U_VIEW_UNREAD_POST and not S_IS_BOT --><b><a href="{U_VIEW_UNREAD_POST}" class="nowrap">{L_VIEW_UNREAD_POST}</a></b><!-- IF .pagination --> | <!-- ENDIF --><!-- ENDIF --><!-- INCLUDE pagination.html --><!-- EVENT viewtopic_body_pagination_top_after --></td>
	</tr>
	</table>
</div>

<!-- IF $TOPICTOOLS -->
<script type="text/javascript"><!--
if (document.documentElement && (document.documentElement.className.indexOf('dropdown-enabled') > -1 && typeof removeComment === 'function')) {
	var ttl = document.getElementById('topictools_list'); removeComment(ttl); ttl.onclick = function(e) {if (e) {e.stopPropagation();} else {window.event.cancelBubble = true;}};
	if (document.uniqueID && !document.querySelector) {ttl.parentNode.style.position = 'relative'; if (document.documentElement.dir == 'ltr') {ttl.style.left = '0';} else {ttl.style.right = '0';}}
	document.getElementById('topictools_link').onclick = function(e) {if (e) {e.stopPropagation();} else {window.event.cancelBubble = true;} toggleLists(ttl, this, ttl.parentNode); return false;};
	document.getElementById('topictools_link').href = document.getElementById('topictools_link').name;
}
//--></script>
	<!-- EVENT viewtopic_topic_tools_before --> <!-- EVENT viewtopic_topic_tools_after -->
	<div class="hidden_links"><table width="100%" cellspacing="1"><tr class="bigger"><td>
		<!-- IF U_WATCH_TOPIC --><a href="{U_WATCH_TOPIC}">{S_WATCH_TOPIC_TITLE}</a><!-- IF U_BOOKMARK_TOPIC or U_PRINT_TOPIC or U_EMAIL_TOPIC or U_BUMP_TOPIC --> | <!-- ENDIF --><!-- ENDIF -->
		<!-- IF U_BOOKMARK_TOPIC --><a href="{U_BOOKMARK_TOPIC}">{S_BOOKMARK_TOPIC}</a><!-- IF U_PRINT_TOPIC or U_EMAIL_TOPIC or U_BUMP_TOPIC --> | <!-- ENDIF --><!-- ENDIF -->
		<!-- IF U_PRINT_TOPIC --><a href="{U_PRINT_TOPIC}">{L_PRINT_TOPIC}</a><!-- IF U_EMAIL_TOPIC or U_BUMP_TOPIC --> | <!-- ENDIF --><!-- ENDIF -->
		<!-- IF U_EMAIL_TOPIC --><a href="{U_EMAIL_TOPIC}">{L_EMAIL_TOPIC}</a><!-- IF U_BUMP_TOPIC --> | <!-- ENDIF --><!-- ENDIF -->
		<!-- IF U_BUMP_TOPIC --><a href="{U_BUMP_TOPIC}">{L_BUMP_TOPIC}</a><!-- ENDIF -->
	</td></tr></table></div>
<!-- ENDIF -->

<!-- EVENT viewtopic_body_poll_before -->
<!-- IF S_HAS_POLL -->
	<table class="main" width="100%" cellspacing="1">
	<tr>
		<td class="bg1">
			<form method="post" action="{S_POLL_ACTION}">
			<table cellspacing="1" align="center">
			<tr>
				<td align="center"><span class="big"><!-- EVENT viewtopic_body_poll_question_prepend --><b>{POLL_QUESTION}</b><!-- EVENT viewtopic_body_poll_question_append --></span><!-- IF L_POLL_LENGTH --><br /><span class="bigger">{L_POLL_LENGTH}</span><!-- ENDIF --></td>
			</tr>
			<tr>
				<td>
				<table align="center" cellspacing="1">
				<!-- BEGIN poll_option -->
					<tr<!-- IF poll_option.POLL_OPTION_MOST_VOTES --> class="most-votes"<!-- ENDIF -->>
					<!-- EVENT viewtopic_body_poll_option_before -->
						<!-- IF S_CAN_VOTE -->
							<td>
								<input type="<!-- IF S_IS_MULTI_CHOICE -->checkbox<!-- ELSE -->radio<!-- ENDIF -->" name="vote_id[]" value="{poll_option.POLL_OPTION_ID}"<!-- IF poll_option.POLL_OPTION_VOTED --> checked="checked"<!-- ENDIF --> />
							</td>
						<!-- ENDIF -->
						<td class="big">{poll_option.POLL_OPTION_CAPTION}</td>
						<!-- IF S_DISPLAY_RESULTS -->
							<td class="big" width="200"><div class="bg3" style="width: <!-- IF poll_option.POLL_OPTION_PERCENT_REL eq '0%' -->1%<!-- ELSE -->{poll_option.POLL_OPTION_PERCENT_REL}<!-- ENDIF -->"><b class="bg3">&nbsp;&nbsp;</b></div></td>
							<td align="{S_CONTENT_FLOW_END}"><b class="big">{poll_option.POLL_OPTION_PERCENT}</b></td>
							<td nowrap="nowrap"><span class="big">[ {poll_option.POLL_OPTION_RESULT} ]</span><!-- IF poll_option.POLL_OPTION_VOTED --> <b title="{L_POLL_VOTED_OPTION}">x</b><!-- ENDIF --></td>
						<!-- ENDIF -->
					<!-- EVENT viewtopic_body_poll_option_after -->
					</tr>
				<!-- END poll_option -->
				</table>
				</td>
			</tr>
		<!-- IF S_CAN_VOTE -->
			<tr>
				<td align="center">{L_MAX_VOTES}<br /><br /><input type="submit" name="update" value="{L_SUBMIT_VOTE}" class="button1" /></td>
			</tr>
		<!-- ENDIF -->
		<!-- IF S_DISPLAY_RESULTS -->
			<tr>
				<td colspan="4" align="center"><b>{L_TOTAL_VOTES}{L_COLON} {TOTAL_VOTES}</b></td>
			</tr>
		<!-- ELSE -->
			<tr>
				<td align="center"><b><a href="{U_VIEW_RESULTS}">{L_VIEW_RESULTS}</a></b></td>
			</tr>
		<!-- ENDIF -->
			</table>
			{S_HIDDEN_FIELDS}
			{S_FORM_TOKEN}
			</form>
		</td>
	</tr>
	</table>
<!-- ENDIF -->
<!-- EVENT viewtopic_body_poll_after -->

<!-- BEGIN postrow -->
	<table class="main" width="100%" cellspacing="1">
	<!-- IF postrow.S_FIRST_ROW -->
		<tr>
			<th nowrap="nowrap">{L_AUTHOR}</th>
			<th width="100%">{L_MESSAGE}</th>
		</tr>
	<!-- ENDIF -->
	<!-- EVENT viewtopic_body_postrow_post_before -->
	<!-- IF postrow.S_ROW_COUNT is even --><!-- DEFINE $BG = 'bg1' --><!-- ELSE --><!-- DEFINE $BG = 'bg2' --><!-- ENDIF -->
	<tr class="{$BG}">
	<!-- IF postrow.S_POST_HIDDEN -->
		<td align="center" class="member"<!-- IF postrow.S_FIRST_ROW or postrow.S_LAST_ROW --> colspan="2"<!-- ENDIF -->>
			<!-- IF postrow.S_FIRST_UNREAD --><a name="unread" class="anchor" data-url="{postrow.U_MINI_POST}"></a><!-- ENDIF -->
			<a name="p{postrow.POST_ID}" class="anchor"></a>
				<!-- IF postrow.S_POST_DELETED -->
					{postrow.L_POST_DELETED_MESSAGE}
				<!-- ELSEIF postrow.S_IGNORE_POST -->
					{postrow.L_IGNORE_POST}
				<!-- ENDIF -->
				<br />{postrow.L_POST_DISPLAY}
		</td>
	<!-- ELSE -->
		<td align="center">
			<!-- IF postrow.S_FIRST_UNREAD -->
				<a name="unread" class="anchor"<!-- IF S_UNREAD_VIEW --> data-url="{postrow.U_MINI_POST}"<!-- ENDIF -->></a>
			<!-- ENDIF -->
			<a name="p{postrow.POST_ID}" class="anchor"></a>
			<!-- EVENT viewtopic_body_post_author_before -->
			<b>{postrow.POST_AUTHOR_FULL}</b>
			<!-- EVENT viewtopic_body_post_author_after -->
		</td>
		<!-- EVENT viewtopic_body_postrow_post_details_before -->
		<!-- EVENT viewtopic_body_post_subject_before -->
		<td width="100%">
			<table cellspacing="0" height="20" width="100%">
			<tr>
				<td>
					<table cellspacing="0"><tr>
						<!-- IF postrow.POST_ICON_IMG --><td><img src="{T_ICONS_PATH}{postrow.POST_ICON_IMG}" width="{postrow.POST_ICON_IMG_WIDTH}" height="{postrow.POST_ICON_IMG_HEIGHT}" alt="" title="{postrow.POST_ICON_IMG_ALT}" /></td><!-- ENDIF --><td class="bigger"><b>{L_POST_SUBJECT}{L_COLON}</b> <a href="#p{postrow.POST_ID}">{postrow.POST_SUBJECT}</a></td>
					</tr></table>
				</td>
				<td align="{S_CONTENT_FLOW_END}" class="bigger">
					<!-- IF S_IS_BOT --><img src="{T_THEME_PATH}/images/icon_post_target.gif" width="12" height="9" alt="" /><!-- ELSE --><a href="{postrow.U_MINI_POST}"><img src="{T_THEME_PATH}/images/icon_post_target<!-- IF postrow.S_UNREAD_POST -->_unread<!-- ENDIF -->.gif" width="12" height="9" alt="<!-- IF postrow.S_UNREAD_POST -->+ " title="{L_UNREAD_POST}<!-- ENDIF -->" border="0" /></a><!-- ENDIF --><b>{L_POSTED}{L_COLON}</b> {postrow.POST_DATE}
				</td>
			</tr>
			</table>
		</td>
		<!-- EVENT viewtopic_body_postrow_post_details_after -->
		</tr>

		<tr class="{$BG}" valign="top">

		<td>
			<table cellspacing="0" width="150"><tr><td><table cellspacing="4">
			<!-- EVENT viewtopic_body_postrow_rank_before -->
			<!-- IF postrow.RANK_TITLE or postrow.RANK_IMG -->
				<tr>
					<td class="bigger"><!-- IF postrow.RANK_TITLE -->{postrow.RANK_TITLE}<!-- IF postrow.RANK_IMG --><br /><!-- ENDIF --><!-- ENDIF --><!-- IF postrow.RANK_IMG --><img src="{postrow.RANK_IMG_SRC}" alt="" /><!-- ENDIF --></td>
				</tr>
			<!-- ENDIF -->
			<!-- EVENT viewtopic_body_postrow_rank_after -->

			<!-- EVENT viewtopic_body_avatar_before -->
			<!-- IF postrow.POSTER_AVATAR -->
				<tr>
					<td><!-- IF postrow.U_POST_AUTHOR --><a href="{postrow.U_POST_AUTHOR}">{postrow.POSTER_AVATAR}</a><!-- ELSE -->{postrow.POSTER_AVATAR}<!-- ENDIF --></td>
				</tr>
			<!-- ENDIF -->
			<!-- EVENT viewtopic_body_avatar_after -->

			<!-- IF postrow.ONLINE_IMG or postrow.S_ONLINE -->
				<tr>
					<td class="bigger"><!-- IF postrow.S_ONLINE --><b class="online">{L_ONLINE}</b><!-- ELSE --><b class="offline">{L_OFFLINE}</b><!-- ENDIF --></td>
				</tr>
			<!-- ENDIF -->

			<!-- IF not (postrow.ONLINE_IMG or postrow.S_ONLINE or postrow.RANK_TITLE or postrow.RANK_IMG or postrow.POSTER_AVATAR) -->
				<tr>
					<td></td>
				</tr>
			<!-- ENDIF -->
			</table>

			<table class="profile"><tr><td>&nbsp;</td><td width="100%"><table class="fixed"><tr><td>
				<!-- IF postrow.POSTER_POSTS != '' --><div><b>{L_POSTS}{L_COLON}</b> <!-- IF postrow.U_SEARCH !== '' --><a title="{L_SEARCH_USER_POSTS}" href="{postrow.U_SEARCH}"><!-- ENDIF -->{postrow.POSTER_POSTS}<!-- IF postrow.U_SEARCH !== '' --></a><!-- ENDIF --></div><!-- ENDIF -->
				<!-- IF postrow.POSTER_WARNINGS --><div><b>{L_WARNINGS}{L_COLON}</b> <b>{postrow.POSTER_WARNINGS}</b></div><!-- ENDIF -->
				<!-- IF postrow.POSTER_JOINED --><div><b>{L_JOINED}{L_COLON}</b> {postrow.POSTER_JOINED}</div><!-- ENDIF -->

				<!-- EVENT viewtopic_body_postrow_custom_fields_before -->
				<!-- BEGIN custom_fields -->
					<!-- IF not postrow.custom_fields.S_PROFILE_CONTACT -->
					<div><b>{postrow.custom_fields.PROFILE_FIELD_NAME}{L_COLON}</b> {postrow.custom_fields.PROFILE_FIELD_VALUE}</div>
					<!-- ENDIF -->
				<!-- END custom_fields -->
				<!-- EVENT viewtopic_body_postrow_custom_fields_after -->

				<!-- EVENT viewtopic_body_contact_fields_before -->
				<!-- IF not S_IS_BOT and .postrow.contact -->
					<div><b>{L_CONTACT}{L_COLON}</b> <!-- BEGIN contact --><a href="<!-- IF postrow.contact.U_CONTACT -->{postrow.contact.U_CONTACT}<!-- ELSE -->{postrow.U_POST_AUTHOR}<!-- ENDIF -->"<!-- IF postrow.contact.ID eq 'pm' or postrow.contact.ID eq 'email' --> title="{postrow.contact.NAME}"<!-- ENDIF --><!-- IF postrow.contact.ID eq 'jabber' --> onclick="popup(this.href, 550, 320); return false;"<!-- ENDIF -->><!-- IF postrow.contact.ID eq 'pm' -->{L_PM}<!-- ELSEIF postrow.contact.ID eq 'email' -->{L_EMAIL}<!-- ELSE -->{postrow.contact.NAME}<!-- ENDIF --></a><!-- IF not postrow.contact.S_LAST_ROW -->{L_COMMA_SEPARATOR}<!-- ENDIF --><!-- END contact --></div>
				<!-- ENDIF -->
				<!-- EVENT viewtopic_body_contact_fields_after -->
			</td></tr></table></td><td>&nbsp;</td></tr></table>
			</td></tr></table>
		</td>
		<td>
			<table cellspacing="5" width="100%">
			<tr>
				<td>
				<!-- IF postrow.S_POST_UNAPPROVED or postrow.S_POST_DELETED or postrow.S_POST_REPORTED -->
					<table width="100%" cellspacing="0">
					<tr>
						<td class="bigger">
							<!-- IF postrow.S_POST_UNAPPROVED --><div><b><a href="{postrow.U_MCP_APPROVE}" class="postapprove"><img src="{T_THEME_PATH}/images/icon_topic_unapproved.gif" width="19" height="18" alt="" border="0" /> {L_POST_UNAPPROVED}</a></b></div><!-- ENDIF -->
							<!-- IF postrow.S_POST_DELETED --><div><b><a href="{postrow.U_MCP_APPROVE}" class="postapprove"><img src="{T_THEME_PATH}/images/icon_topic_deleted.gif" width="14" height="14" alt="" border="0" /> {L_POST_DELETED}</a></b></div><!-- ENDIF -->
							<!-- IF postrow.S_POST_REPORTED --><div><b><a href="{postrow.U_MCP_REPORT}" class="postreported"><img src="{T_THEME_PATH}/images/icon_topic_reported.gif" width="19" height="18" alt="" border="0" /> {L_POST_REPORTED}</a></b></div><!-- ENDIF -->
						</td>
					</tr>
					</table>

					<br clear="all" />
				<!-- ENDIF -->

					<div class="postbody"><div class="content">{postrow.MESSAGE}</div><!-- EVENT viewtopic_body_postrow_content_after --></div>

				<!-- IF postrow.S_HAS_ATTACHMENTS -->
					<br />

					<table class="main" width="100%" cellspacing="1">
					<tr>
						<td class="bg3"><b class="bigger">{L_ATTACHMENTS}</b></td>
					</tr>
					<!-- BEGIN attachment -->
						<tr class="postbody">
							<td class="bg2">{postrow.attachment.DISPLAY_ATTACHMENT}</td>
						</tr>
					<!-- END attachment -->
					</table>
				<!-- ENDIF -->

				<!-- EVENT viewtopic_body_postrow_post_notices_before -->
				<!-- IF postrow.S_DISPLAY_NOTICE -->
					<br /><p class="error">{L_DOWNLOAD_NOTICE}</p>
				<!-- ENDIF -->
				<!-- IF postrow.DELETED_MESSAGE or postrow.DELETE_REASON -->
					<br />
					<!-- IF postrow.DELETE_REASON -->
						<table class="main" width="100%" cellspacing="1">
						<tr>
							<td class="bg3">{postrow.DELETED_MESSAGE}</td>
						</tr>
						<tr>
							<td class="bg2"><span class="bigger">{postrow.DELETE_REASON}</span></td>
						</tr>
						</table>
					<!-- ELSE -->
						{postrow.DELETED_MESSAGE}
					<!-- ENDIF -->
				<!-- ELSEIF postrow.EDITED_MESSAGE or postrow.EDIT_REASON -->
					<br />
					<!-- IF postrow.EDIT_REASON -->
						<table class="main" width="100%" cellspacing="1">
						<tr>
							<td class="bg3">{postrow.EDITED_MESSAGE}</td>
						</tr>
						<tr>
							<td class="bg2"><span class="bigger">{postrow.EDIT_REASON}</span></td>
						</tr>
						</table>
					<!-- ELSE -->
						{postrow.EDITED_MESSAGE}
					<!-- ENDIF -->
				<!-- ENDIF -->

				<!-- IF postrow.BUMPED_MESSAGE -->
					<br />{postrow.BUMPED_MESSAGE}
				<!-- ENDIF -->
				<!-- EVENT viewtopic_body_postrow_post_notices_after -->
				<!-- IF postrow.SIGNATURE -->
					<span class="postbody"><span class="signature"><p>_________________</p>{postrow.SIGNATURE}</span></span>
				<!-- ENDIF -->

				<!-- EVENT viewtopic_body_postrow_post_content_footer -->

				<br clear="all" /><br />

				<!-- IF (postrow.U_REPORT or postrow.U_INFO or postrow.U_WARN or postrow.U_DELETE) and not S_IS_BOT -->
					<!-- EVENT viewtopic_body_post_buttons_list_before -->
					<table width="100%" cellspacing="0">
					<tr><td align="{S_CONTENT_FLOW_END}">
						<!-- IF postrow.U_REPORT --><a href="{postrow.U_REPORT}"><img src="{T_THEME_PATH}/images/icon_post_report.gif" width="20" height="20" alt="[!]" border="0" title="{L_REPORT_POST}" /></a> <!-- ENDIF -->
						<!-- IF postrow.U_INFO --><a href="{postrow.U_INFO}"><img src="{T_THEME_PATH}/images/icon_post_info.gif" width="20" height="20" alt="[?]" border="0" title="{L_INFORMATION}" /></a> <!-- ENDIF -->
						<!-- IF postrow.U_WARN --><a href="{postrow.U_WARN}"><img src="{T_THEME_PATH}/images/icon_user_warn.gif" width="20" height="20" alt="[O]" border="0" title="{L_WARN_USER}" /></a> <!-- ENDIF -->
						<!-- IF postrow.U_DELETE --><a href="{postrow.U_DELETE}"><img src="{T_THEME_PATH}/images/icon_post_delete.gif" width="20" height="20" alt="[X]" border="0" title="{L_DELETE_POST}" /></a> <!-- ENDIF -->
					</td></tr>
					</table>
					<!-- EVENT viewtopic_body_post_buttons_list_after -->
				<!-- ENDIF -->
				</td>
			</tr>
			</table>
		</td>
		</tr>

		<tr class="{$BG}">

			<!-- EVENT viewtopic_body_postrow_back2top_before -->
			<td><table cellspacing="0"><tr><td><!-- EVENT viewtopic_body_postrow_back2top_prepend --><a class="top" href="#top"><b>{L_BACK_TO_TOP}</b></a><!-- EVENT viewtopic_body_postrow_back2top_append --></td></tr></table></td>
			<!-- EVENT viewtopic_body_postrow_back2top_after -->
			<td>
			<table width="100%" cellspacing="0"><tr>
				<!-- IF postrow.U_POST_AUTHOR --><td><a class="button" href="{postrow.U_POST_AUTHOR}" title="{L_READ_PROFILE}{L_COLON} {postrow.POST_AUTHOR}">{L_READ_PROFILE}</a></td><!-- ENDIF -->
				<td align="{S_CONTENT_FLOW_END}">
					<!-- EVENT viewtopic_body_post_buttons_before -->
					<!-- IF not S_IS_BOT -->
						<!-- IF postrow.U_EDIT --><a class="button" href="{postrow.U_EDIT}" title="{L_EDIT_POST}">{L_BUTTON_EDIT}</a> <!-- ENDIF -->
						<!-- IF postrow.U_QUOTE --><a class="button" href="{postrow.U_QUOTE}" title="{L_REPLY_WITH_QUOTE}">{L_BUTTON_QUOTE}</a><!-- ENDIF -->
					<!-- ENDIF -->
					<!-- EVENT viewtopic_body_post_buttons_after -->
				</td>
			</tr></table>
			</td>
	<!-- ENDIF -->
		</tr>
		<!-- EVENT viewtopic_body_postrow_post_after -->
	</table>
	<!-- IF not postrow.S_LAST_ROW -->
		<div class="spacer"></div>
	<!-- ELSEIF not S_IS_BOT -->
		<table cellspacing="0" width="100%">
		<tr>
			<td class="cat" align="center"><form name="viewtopic" method="post" action="{S_TOPIC_ACTION}"><!-- INCLUDE display_options.html --></form></td>
		</tr>
		</table>
	<!-- ENDIF -->	
<!-- END postrow -->

<!-- EVENT viewtopic_body_topic_actions_before -->

<div class="action-bar">
	<table width="100%" cellspacing="1">
	<tr valign="top">
		<td class="bigger">
			<table cellspacing="0">
			<tr>
				<td nowrap="nowrap" style="padding-bottom: 0; padding-top: 0; padding-{S_CONTENT_FLOW_BEGIN}: 0">
					<!-- EVENT viewtopic_buttons_bottom_before -->

					<!-- IF not S_IS_BOT and S_DISPLAY_REPLY_INFO -->
						<a class="button" href="{U_POST_REPLY_TOPIC}" title="<!-- IF S_IS_LOCKED -->{L_TOPIC_LOCKED}<!-- ELSE -->{L_POST_REPLY}<!-- ENDIF -->"><!-- IF S_IS_LOCKED --><span class="locked">{L_BUTTON_TOPIC_LOCKED}</span><!-- ELSE -->{L_BUTTON_POST_REPLY}<!-- ENDIF --></a>
					<!-- ENDIF -->

					<!-- EVENT viewtopic_buttons_bottom_after -->
				</td>

				<td style="display: none">&nbsp;</td>

				<!-- IF TOTAL_POSTS -->
					<td class="small" nowrap="nowrap" style="padding-bottom: 0; padding-top: 0; padding-{S_CONTENT_FLOW_BEGIN}: 5px">
						<b>{PAGE_NUMBER}</b> &nbsp;[ {TOTAL_POSTS} ]
					</td>
				<!-- ENDIF -->
			</tr>
			</table>
		</td>
		<td align="{S_CONTENT_FLOW_END}" valign="middle"><b class="nowrap"><a href="{U_VIEW_FORUM}">{L_RETURN_TO_FORUM}</a></b><!-- IF .pagination --> | <!-- ENDIF --><!-- INCLUDE pagination.html --></td>
	</tr>
	</table>
</div>

<!-- IF S_QUICK_REPLY -->
	<div style="margin: 4px 0 8px">
	<!-- INCLUDE quickreply_editor.html -->
	</div>
<!-- ENDIF -->

<!-- EVENT viewtopic_body_footer_before -->

<!-- IF .quickmod or S_DISPLAY_SEARCHBOX or S_DISPLAY_JUMPBOX -->
	<table cellspacing="0" width="100%"><tr valign="top">
	<td><!-- IF .quickmod -->
		<div class="quickmod"<!-- IF S_DISPLAY_SEARCHBOX --> style="margin-bottom: 7px"<!-- ENDIF -->>
		<form method="post" action="{S_MOD_ACTION}">
			<select name="action" id="quick-mod-select" title="{L_QUICK_MOD}">
				<!-- BEGIN quickmod -->
				<option value="{quickmod.VALUE}">{quickmod.TITLE}</option>
				<!-- END quickmod -->
			</select>
			<input class="button2" title="{L_QUICK_MOD}" type="submit" value="{L_GO}" />
		</form>
		</div>
	<!-- ENDIF --><!-- IF S_DISPLAY_SEARCHBOX -->
		<div class="search-box">
			<form action="{S_SEARCHBOX_ACTION}" method="get" name="search">
				<input type="text" class="inputbox" name="keywords" size="20" value="{L_SEARCH_TOPIC}" onfocus="if (this.value == '{LA_SEARCH_TOPIC}') {this.value='';}" />
				<input type="submit" class="button2" title="{L_SEARCH}" value="{L_GO}" onclick="var h = this.form.elements[0]; if (h.value == '' || h.value == '{LA_SEARCH_TOPIC}') {h.focus(); return false;}" />
				{S_SEARCH_LOCAL_HIDDEN_FIELDS}
			</form>
		</div>
	<!-- ENDIF --></td>
	<td><!-- INCLUDE jumpbox.html --></td>
	</tr></table>
<!-- ENDIF -->

<!-- IF S_DISPLAY_ONLINE_LIST and U_VIEWONLINE -->
	<table class="main" width="100%" cellspacing="1" style="margin: 5px 0 8px">
	<tr>
		<td class="cat"><h4><a href="{U_VIEWONLINE}">{L_WHO_IS_ONLINE}</a></h4></td>
	</tr>
	<tr class="bigger">
		<td class="bg1">{LOGGED_IN_USER_LIST}</td>
	</tr>
	</table>
<!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->